In [3]:
import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta

import warnings

# 忽略所有警告
warnings.filterwarnings('ignore')

In [4]:
df2 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')

In [8]:
df2['交易月份DT'] = pd.to_datetime(df2['交易月份'])

In [11]:
df2 = df2[['证券代码','交易月份','个股市值','个股月回报率','交易月份DT']]

In [16]:
df2

          证券代码     交易月份         个股市值    个股月回报率     交易月份DT
0            1  2010-01  67387912.64 -0.109561 2010-01-01
1            1  2010-02  69716987.96  0.034562 2010-02-01
2            1  2010-03  72046063.28  0.033408 2010-03-01
3            1  2010-04  63847718.15 -0.113793 2010-04-01
4            1  2010-05  54376145.17 -0.148346 2010-05-01
...        ...      ...          ...       ...        ...
573112  900957  2023-11    144486.00  0.037596 2023-11-01
573113  900957  2023-12    144137.00 -0.002418 2023-12-01
573114  900957  2024-01    143788.00 -0.002430 2024-01-01
573115  900957  2024-02    155305.00  0.080101 2024-02-01
573116  900957  2024-03    145882.00 -0.060674 2024-03-01

[573117 rows x 5 columns]

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573117 entries, 0 to 573116
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   证券代码    573117 non-null  int64
 1   交易月份    573117 non-null  object
 2   个股市值    573117 non-null  float64
 3   个股月回报率  569272 non-null  float64
 4   交易月份DT  573117 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 21.9+ MB

In [15]:
df2.describe()

                证券代码          个股市值         个股月回报率
count  573117.000000  5.731170e+05  569272.000000
mean   324956.214947  1.469032e+07       0.008818
std    281042.370435  5.613626e+07       0.156299
min         1.000000  6.930000e+03      -0.891827
25%      2398.000000  2.922487e+06      -0.070985
50%    300461.000000  5.168000e+06      -0.003951
75%    600725.000000  1.082820e+07       0.069768
max    900957.000000  2.786247e+09      12.848213

In [18]:

df2_filtered = df2[(df2['交易月份DT'] > '2013-04-01') & (df2['交易月份DT'] < '2021-01-01')]

In [19]:
df2_filtered

          证券代码     交易月份          个股市值    个股月回报率     交易月份DT
38           1  2013-05  1.075391e+08  0.122460 2013-05-01
39           1  2013-06  8.172769e+07 -0.232797 2013-06-01
40           1  2013-07  7.861269e+07 -0.038114 2013-07-01
41           1  2013-08  8.697400e+07  0.106361 2013-08-01
42           1  2013-09  9.738464e+07  0.119698 2013-09-01
...        ...      ...           ...       ...        ...
573073  900957  2020-08  1.902050e+05 -0.058721 2020-08-01
573074  900957  2020-09  1.786880e+05 -0.060548 2020-09-01
573075  900957  2020-10  1.797350e+05  0.005857 2020-10-01
573076  900957  2020-11  1.821780e+05  0.013589 2020-11-01
573077  900957  2020-12  1.755470e+05 -0.036398 2020-12-01

[289177 rows x 5 columns]

In [21]:
df2_count = df2_filtered.groupby(by=["交易月份DT"]).count()

In [22]:
df2_count_final = df2_count['个股月回报率']

In [23]:
df2_count_final

交易月份DT
2013-05-01    2531
2013-06-01    2508
2013-07-01    2517
2013-08-01    2517
2013-09-01    2506
              ...
2020-08-01    4028
2020-09-01    4083
2020-10-01    4149
2020-11-01    4178
2020-12-01    4201
Name: 个股月回报率, Length: 92, dtype: int64

In [25]:
df2_count_final.to_excel('df2_count_statistic.xlsx')

In [26]:
df2_count_final.describe()

count      92.000000
mean     3124.054348
std       557.022310
min      2472.000000
25%      2533.250000
50%      3042.500000
75%      3659.000000
max      4201.000000
Name: 个股月回报率, dtype: float64