In [76]:
! pip install ydata-profiling
! pip install numpy==1.22.4

Requirement already satisfied: ydata-profiling in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.8.3)
Requirement already satisfied: typeguard<5,>=3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (4.2.1)
Requirement already satisfied: matplotlib<3.9,>=3.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (3.8.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: dacite>=1.8 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: numpy<2,>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: imagehash==4.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: multimethod<2,>=1.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.11.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.11.2)
Requirement already satisfied: numba<1,>=0.56.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.59.1)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: wordcloud>=1.9.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: scipy<1.14,>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.13.0)
Requirement already satisfied: requests<3,>=2.24.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.25.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (4.66.4)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.7.6)
Requirement already satisfied: pydantic>=2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.7.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: pillow in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from imagehash==4.3.1->ydata-profiling) (10.3.0)
Requirement already satisfied: PyWavelets in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from imagehash==4.3.1->ydata-profiling) (1.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.4.5)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.4.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (6.4.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.2.1)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (24.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (4.51.0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2020.4)
Requirement already satisfied: joblib>=0.14.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: typing-extensions>=4.6.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: pydantic-core==2.18.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata-profiling) (2.18.2)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.2)
Requirement already satisfied: patsy>=0.5.6 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: importlib-metadata>=3.6 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from typeguard<5,>=3->ydata-profiling) (7.1.0)
Requirement already satisfied: attrs>=19.3.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (20.3.0)
Requirement already satisfied: networkx>=2.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.2.1)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from importlib-metadata>=3.6->typeguard<5,>=3->ydata-profiling) (3.18.1)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.15.0)
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.

In [84]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

In [40]:
# import data
df1_1 = pd.read_excel('证券2.xlsx', engine='openpyxl')
df1_2 = pd.read_excel('证券1.xlsx', engine='openpyxl')
df1_3 = pd.concat([df1_1, df1_2], ignore_index=True)
df1 = df1_3[df1_3['民营指数'] >= 1]

In [41]:
df2 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')
#df3 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')

In [42]:
df3 = df2.copy()

In [43]:
df2

          证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5
0            1  2010-01  67387912.64 -0.109561         NaN         NaN
1            1  2010-02  69716987.96  0.034562         NaN         NaN
2            1  2010-03  72046063.28  0.033408         NaN         NaN
3            1  2010-04  63847718.15 -0.113793         NaN         NaN
4            1  2010-05  54376145.17 -0.148346         NaN         NaN
...        ...      ...          ...       ...         ...         ...
573112  900957  2023-11    144486.00  0.037596         0.0         0.0
573113  900957  2023-12    144137.00 -0.002418         0.0         0.0
573114  900957  2024-01    143788.00 -0.002430         0.0         0.0
573115  900957  2024-02    155305.00  0.080101         0.0         0.0
573116  900957  2024-03    145882.00 -0.060674         0.0         0.0

[573117 rows x 6 columns]

In [44]:
df1.dtypes

统计截止日期       object
证券代码          int64
其他持股比例      float64
国有法人持股比例    float64
民营指数        float64
是否民营企业       object
dtype: object

In [45]:
df1['统计日期'] = pd.to_datetime(df1['统计截止日期'])
df2['统计日期'] = pd.to_datetime(df2['交易月份'])
df3['统计日期'] = pd.to_datetime(df3['交易月份'])

<ipython-input-45-435351aec7bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['统计日期'] = pd.to_datetime(df1['统计截止日期'])

In [87]:
df1_sorted = df1.sort_values(by=['统计日期', '其他持股比例'], ascending=[True, False])
df1_sorted

            统计截止日期    证券代码  其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期 分组
1167    2013-03-31    2703   94.92      0.00         inf   民营企业 2013-03-31
451     2013-03-31     981   92.33      0.60  153.883333   民营企业 2013-03-31
734     2013-03-31    2269   91.08      0.55  165.600000   民营企业 2013-03-31
1115    2013-03-31    2651   90.92      0.18  505.111111   民营企业 2013-03-31
1027    2013-03-31    2563   90.64      0.00         inf   民营企业 2013-03-31
...            ...     ...     ...       ...         ...    ...        ... ..
82710   2023-12-31    2407   18.60      1.57   11.847134   民营企业 2023-12-31
154507  2023-12-31  600503   18.09      0.00         inf   民营企业 2023-12-31
154470  2023-12-31  600354   16.26     14.09    1.154010   民营企业 2023-12-31
82748   2023-12-31    2640   14.81      8.47    1.748524   民营企业 2023-12-31
154300  2023-12-31  300659    0.93      0.00         inf   民营企业 2023-12-31

[111123 rows x 8 columns]

In [47]:
# grouped_returns = pd.DataFrame()

# # 9 三季报
# # 3 一季报
# # 6 半年报
# periods = {
#     9: (1, 4),
#     3: (5, 8),
#     6: (9, 12)
# }

In [48]:
report_months = {
    'third': 9,
    'first': 3,
    'half': 6
}

In [49]:
df1_sorted

            统计截止日期    证券代码  其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期
1167    2013-03-31    2703   94.92      0.00         inf   民营企业 2013-03-31
451     2013-03-31     981   92.33      0.60  153.883333   民营企业 2013-03-31
734     2013-03-31    2269   91.08      0.55  165.600000   民营企业 2013-03-31
1115    2013-03-31    2651   90.92      0.18  505.111111   民营企业 2013-03-31
1027    2013-03-31    2563   90.64      0.00         inf   民营企业 2013-03-31
...            ...     ...     ...       ...         ...    ...        ...
82710   2023-12-31    2407   18.60      1.57   11.847134   民营企业 2023-12-31
154507  2023-12-31  600503   18.09      0.00         inf   民营企业 2023-12-31
154470  2023-12-31  600354   16.26     14.09    1.154010   民营企业 2023-12-31
82748   2023-12-31    2640   14.81      8.47    1.748524   民营企业 2023-12-31
154300  2023-12-31  300659    0.93      0.00         inf   民营企业 2023-12-31

[111123 rows x 7 columns]

In [50]:
# add a new column in the df1
df1["分组"] = ""
df1
df_2013_3 = df1.loc[(df1['统计日期'].dt.year == 2013 )& (df1['统计日期'].dt.month == 3)]

<ipython-input-50-f4219f492461>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["分组"] = ""

In [66]:
df1

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

In [88]:
#df1_copy = df1.copy()
df1_copy

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

In [91]:

df1_group = pd.DataFrame()

df1_year_keymonth_size = 0

# 对公司进行分组 按照季度进行调仓
for year in df1['统计日期'].dt.year.unique():
    print('****** loop *******')
    print(year)
    
    
    for key, key_month in report_months.items():
        print('*****loop 季度*****')
        print(key)
        print(key_month)
         
        df1_year_keymonth = df1.loc[(df1['统计日期'].dt.year == year ) & (df1['统计日期'].dt.month == key_month)]
        
        df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
        
        
        df1_year_keymonth.info()
        
        df1_year_keymonth_size += len(df1_year_keymonth.index) 
        
        df1_group = df1_group.append(df1_year_keymonth, ignore_index=True)
        
        
df1_group

****** loop *******
2013
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 3046 to 84796
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1532 non-null   object
 1   证券代码      1532 non-null   int64
 2   其他持股比例    1532 non-null   float64
 3   国有法人持股比例  1532 non-null   float64
 4   民营指数      1532 non-null   float64
 5   是否民营企业    1532 non-null   object
 6   统计日期      1532 non-null   datetime64[ns]
 7   分组        1532 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 107.7+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1151 entries, 0 to 1521
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1151 non-null   object
 1   证券代码      1151 non-null   int64
 2   其他持股比例    1151 non-null   float64
 3   国有法人持股比例  1151 non-null   float64
 4   民营指数      1151 non-null   float64
 5   是否民营企业    1151 non-null   object
 6   统计日期      1151 non-null   datetime64[ns]
 7   分组        1151 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 80.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1529 entries, 1522 to 83856
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1529 non-null   object
 1   证券代码      1529 non-null   int64
 2   其他持股比例    1529 non-null   float64
 3   国有法人持股比例  1529 non-null   float64
 4   民营指数      1529 non-null   float64
 5   是否民营企业    1529 non-null   object
 6   统计日期      1529 non-null   datetime64[ns]
 7   分组        1529 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 107.5+ KB
****** loop *******
2014
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1623 entries, 9270 to 88618
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1623 non-null   object
 1   证券代码      1623 non-null   int64
 2   其他持股比例    1623 non-null   float64
 3   国有法人持股比例  1623 non-null   float64
 4   民营指数      1623 non-null   float64
 5   是否民营企业    1623 non-null   object
 6   统计日期      1623 non-null   datetime64[ns]
 7   分组        1623 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 114.1+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1587 entries, 6134 to 86695
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1587 non-null   object
 1   证券代码      1587 non-null   int64
 2   其他持股比例    1587 non-null   float64
 3   国有法人持股比例  1587 non-null   float64
 4   民营指数      1587 non-null   float64
 5   是否民营企业    1587 non-null   object
 6   统计日期      1587 non-null   datetime64[ns]
 7   分组        1587 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 111.6+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594 entries, 7700 to 87648
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1594 non-null   object
 1   证券代码      1594 non-null   int64
 2   其他持股比例    1594 non-null   float64
 3   国有法人持股比例  1594 non-null   float64
 4   民营指数      1594 non-null   float64
 5   是否民营企业    1594 non-null   object
 6   统计日期      1594 non-null   datetime64[ns]
 7   分组        1594 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 112.1+ KB
****** loop *******
2015
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1834 entries, 15845 to 92773
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1834 non-null   object
 1   证券代码      1834 non-null   int64
 2   其他持股比例    1834 non-null   float64
 3   国有法人持股比例  1834 non-null   float64
 4   民营指数      1834 non-null   float64
 5   是否民营企业    1834 non-null   object
 6   统计日期      1834 non-null   datetime64[ns]
 7   分组        1834 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 129.0+ KB

<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)

*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 12486 to 90649
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1731 non-null   object
 1   证券代码      1731 non-null   int64
 2   其他持股比例    1731 non-null   float64
 3   国有法人持股比例  1731 non-null   float64
 4   民营指数      1731 non-null   float64
 5   是否民营企业    1731 non-null   object
 6   统计日期      1731 non-null   datetime64[ns]
 7   分组        1731 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 121.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1840 entries, 14127 to 91711
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1840 non-null   object
 1   证券代码      1840 non-null   int64
 2   其他持股比例    1840 non-null   float64
 3   国有法人持股比例  1840 non-null   float64
 4   民营指数      1840 non-null   float64
 5   是否民营企业    1840 non-null   object
 6   统计日期      1840 non-null   datetime64[ns]
 7   分组        1840 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 129.4+ KB
****** loop *******
2016
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 22835 to 97173
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1999 non-null   object
 1   证券代码      1999 non-null   int64
 2   其他持股比例    1999 non-null   float64
 3   国有法人持股比例  1999 non-null   float64
 4   民营指数      1999 non-null   float64
 5   是否民营企业    1999 non-null   object
 6   统计日期      1999 non-null   datetime64[ns]
 7   分组        1999 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 140.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1894 entries, 19309 to 94935
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1894 non-null   object
 1   证券代码      1894 non-null   int64
 2   其他持股比例    1894 non-null   float64
 3   国有法人持股比例  1894 non-null   float64
 4   民营指数      1894 non-null   float64
 5   是否民营企业    1894 non-null   object
 6   统计日期      1894 non-null   datetime64[ns]
 7   分组        1894 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 133.2+ KB
*****loop 季度*****
half
6

<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1933 entries, 21060 to 96040
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1933 non-null   object
 1   证券代码      1933 non-null   int64
 2   其他持股比例    1933 non-null   float64
 3   国有法人持股比例  1933 non-null   float64
 4   民营指数      1933 non-null   float64
 5   是否民营企业    1933 non-null   object
 6   统计日期      1933 non-null   datetime64[ns]
 7   分组        1933 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 135.9+ KB
****** loop *******
2017
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2426 entries, 30470 to 102375
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2426 non-null   object
 1   证券代码      2426 non-null   int64
 2   其他持股比例    2426 non-null   float64
 3   国有法人持股比例  2426 non-null   float64
 4   民营指数      2426 non-null   float64
 5   是否民营企业    2426 non-null   object
 6   统计日期      2426 non-null   datetime64[ns]
 7   分组        2426 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 170.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2232 entries, 26549 to 99639
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2232 non-null   object
 1   证券代码      2232 non-null   int64
 2   其他持股比例    2232 non-null   float64
 3   国有法人持股比例  2232 non-null   float64
 4   民营指数      2232 non-null   float64
 5   是否民营企业    2232 non-null   object
 6   统计日期      2232 non-null   datetime64[ns]
 7   分组        2232 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 156.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 28490 to 100976
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2356 non-null   object
 1   证券代码      2356 non-null   int64
 2   其他持股比例    2356 non-null   float64
 3   国有法人持股比例  2356 non-null   float64
 4   民营指数      2356 non-null   float64
 5   是否民营企业    2356 non-null   object
 6   统计日期      2356 non-null   datetime64[ns]
 7   分组        2356 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 165.7+ KB
****** loop *******
2018
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2565 entries, 38527 to 108372
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2565 non-null   object
 1   证券代码      2565 non-null   int64
 2   其他持股比例    2565 non-null   float64
 3   国有法人持股比例  2565 non-null   float64
 4   民营指数      2565 non-null   float64
 5   是否民营企业    2565 non-null   object
 6   统计日期      2565 non-null   datetime64[ns]
 7   分组        2565 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 180.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2535 entries, 34482 to 105339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2535 non-null   object
 1   证券代码      2535 non-null   int64
 2   其他持股比例    2535 non-null   float64
 3   国有法人持股比例  2535 non-null   float64
 4   民营指数      2535 non-null   float64
 5   是否民营企业    2535 non-null   object
 6   统计日期      2535 non-null   datetime64[ns]
 7   分组        2535 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 178.2+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2562 entries, 36504 to 106849
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2562 non-null   object
 1   证券代码      2562 non-null   int64
 2   其他持股比例    2562 non-null   float64
 3   国有法人持股比例  2562 non-null   float64
 4   民营指数      2562 non-null   float64
 5   是否民营企业    2562 non-null   object
 6   统计日期      2562 non-null   datetime64[ns]
 7   分组        2562 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 180.1+ KB
****** loop *******
2019
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2681 entries, 46675 to 114740
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2681 non-null   object
 1   证券代码      2681 non-null   int64
 2   其他持股比例    2681 non-null   float64
 3   国有法人持股比例  2681 non-null   float64
 4   民营指数      2681 non-null   float64
 5   是否民营企业    2681 non-null   object
 6   统计日期      2681 non-null   datetime64[ns]
 7   分组        2681 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 188.5+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2607 entries, 42591 to 111489
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2607 non-null   object
 1   证券代码      2607 non-null   int64
 2   其他持股比例    2607 non-null   float64
 3   国有法人持股比例  2607 non-null   float64
 4   民营指数      2607 non-null   float64
 5   是否民营企业    2607 non-null   object
 6   统计日期      2607 non-null   datetime64[ns]
 7   分组        2607 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 183.3+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2636 entries, 44631 to 113093
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2636 non-null   object
 1   证券代码      2636 non-null   int64
 2   其他持股比例    2636 non-null   float64
 3   国有法人持股比例  2636 non-null   float64
 4   民营指数      2636 non-null   float64
 5   是否民营企业    2636 non-null   object
 6   统计日期      2636 non-null   datetime64[ns]
 7   分组        2636 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 185.3+ KB
****** loop *******
2020
*****loop 季度*****
third
9

<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2983 entries, 54902 to 122066
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2983 non-null   object
 1   证券代码      2983 non-null   int64
 2   其他持股比例    2983 non-null   float64
 3   国有法人持股比例  2983 non-null   float64
 4   民营指数      2983 non-null   float64
 5   是否民营企业    2983 non-null   object
 6   统计日期      2983 non-null   datetime64[ns]
 7   分组        2983 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 209.7+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2783 entries, 50778 to 118245
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2783 non-null   object
 1   证券代码      2783 non-null   int64
 2   其他持股比例    2783 non-null   float64
 3   国有法人持股比例  2783 non-null   float64
 4   民营指数      2783 non-null   float64
 5   是否民营企业    2783 non-null   object
 6   统计日期      2783 non-null   datetime64[ns]
 7   分组        2783 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 195.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2873 entries, 52838 to 120101
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2873 non-null   object
 1   证券代码      2873 non-null   int64
 2   其他持股比例    2873 non-null   float64
 3   国有法人持股比例  2873 non-null   float64
 4   民营指数      2873 non-null   float64
 5   是否民营企业    2873 non-null   object
 6   统计日期      2873 non-null   datetime64[ns]
 7   分组        2873 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 202.0+ KB
****** loop *******
2021
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3447 entries, 63314 to 131140
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3447 non-null   object
 1   证券代码      3447 non-null   int64
 2   其他持股比例    3447 non-null   float64
 3   国有法人持股比例  3447 non-null   float64
 4   民营指数      3447 non-null   float64
 5   是否民营企业    3447 non-null   object
 6   统计日期      3447 non-null   datetime64[ns]
 7   分组        3447 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 242.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3192 entries, 59092 to 126373
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3192 non-null   object
 1   证券代码      3192 non-null   int64
 2   其他持股比例    3192 non-null   float64
 3   国有法人持股比例  3192 non-null   float64
 4   民营指数      3192 non-null   float64
 5   是否民营企业    3192 non-null   object
 6   统计日期      3192 non-null   datetime64[ns]
 7   分组        3192 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 224.4+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3326 entries, 61199 to 128684
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3326 non-null   object
 1   证券代码      3326 non-null   int64
 2   其他持股比例    3326 non-null   float64
 3   国有法人持股比例  3326 non-null   float64
 4   民营指数      3326 non-null   float64
 5   是否民营企业    3326 non-null   object
 6   统计日期      3326 non-null   datetime64[ns]
 7   分组        3326 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 233.9+ KB
****** loop *******
2022
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3769 entries, 71810 to 142010
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3769 non-null   object
 1   证券代码      3769 non-null   int64
 2   其他持股比例    3769 non-null   float64
 3   国有法人持股比例  3769 non-null   float64
 4   民营指数      3769 non-null   float64
 5   是否民营企业    3769 non-null   object
 6   统计日期      3769 non-null   datetime64[ns]
 7   分组        3769 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 265.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3640 entries, 67560 to 136436
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3640 non-null   object
 1   证券代码      3640 non-null   int64
 2   其他持股比例    3640 non-null   float64
 3   国有法人持股比例  3640 non-null   float64
 4   民营指数      3640 non-null   float64
 5   是否民营企业    3640 non-null   object
 6   统计日期      3640 non-null   datetime64[ns]
 7   分组        3640 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 255.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3691 entries, 69688 to 139179
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3691 non-null   object
 1   证券代码      3691 non-null   int64
 2   其他持股比例    3691 non-null   float64
 3   国有法人持股比例  3691 non-null   float64
 4   民营指数      3691 non-null   float64
 5   是否民营企业    3691 non-null   object
 6   统计日期      3691 non-null   datetime64[ns]
 7   分组        3691 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 259.5+ KB
****** loop *******
2023
*****loop 季度*****
third
9

<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)
<ipython-input-91-385eae711461>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4038 entries, 80363 to 154299
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    4038 non-null   object
 1   证券代码      4038 non-null   int64
 2   其他持股比例    4038 non-null   float64
 3   国有法人持股比例  4038 non-null   float64
 4   民营指数      4038 non-null   float64
 5   是否民营企业    4038 non-null   object
 6   统计日期      4038 non-null   datetime64[ns]
 7   分组        4038 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 283.9+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3927 entries, 76088 to 148006
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3927 non-null   object
 1   证券代码      3927 non-null   int64
 2   其他持股比例    3927 non-null   float64
 3   国有法人持股比例  3927 non-null   float64
 4   民营指数      3927 non-null   float64
 5   是否民营企业    3927 non-null   object
 6   统计日期      3927 non-null   datetime64[ns]
 7   分组        3927 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 276.1+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4007 entries, 78237 to 151131
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    4007 non-null   object
 1   证券代码      4007 non-null   int64
 2   其他持股比例    4007 non-null   float64
 3   国有法人持股比例  4007 non-null   float64
 4   民营指数      4007 non-null   float64
 5   是否民营企业    4007 non-null   object
 6   统计日期      4007 non-null   datetime64[ns]
 7   分组        4007 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 281.7+ KB

           统计截止日期    证券代码   其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期  分组
0      2013-09-30       1  57.0600    1.8100   31.524862   民营企业 2013-09-30   2
1      2013-09-30       4  34.3400    0.0000         inf   民营企业 2013-09-30   0
2      2013-09-30       5  26.2200    3.6400    7.203297   民营企业 2013-09-30   0
3      2013-09-30       7  46.1200    0.4900   94.122449   民营企业 2013-09-30   1
4      2013-09-30       8  68.5400    0.0000         inf   民营企业 2013-09-30   3
...           ...     ...      ...       ...         ...    ...        ...  ..
84518  2023-06-30  873223  73.1996    0.6358  115.129915   民营企业 2023-06-30   4
84519  2023-06-30  873305  79.7865    0.0000         inf   民营企业 2023-06-30   4
84520  2023-06-30  873339  81.9562    0.0000         inf   民营企业 2023-06-30   4
84521  2023-06-30  873527  58.8700    0.0000         inf   民营企业 2023-06-30   2
84522  2023-06-30  873593  63.1500    0.0000         inf   民营企业 2023-06-30   3

[84523 rows x 8 columns]

In [92]:
df1_year_keymonth_size

84523

In [64]:
df1

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

In [201]:
df3['DATE'] = df3['统计日期'].dt.date

df3['统计日期-4'] = df3['DATE'] - relativedelta(months=4)
df3.dtypes

证券代码                   int64
交易月份                  object
个股市值                 float64
个股月回报率               float64
Unnamed: 4           float64
Unnamed: 5           float64
统计日期          datetime64[ns]
DATE                  object
统计日期-4                object
dtype: object

In [202]:
df3

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,DATE,统计日期-4
0,1,2010-01,67387912.64,-0.109561,NaN,NaN,2010-01-01,2010-01-01,2009-09-01
1,1,2010-02,69716987.96,0.034562,NaN,NaN,2010-02-01,2010-02-01,2009-10-01
2,1,2010-03,72046063.28,0.033408,NaN,NaN,2010-03-01,2010-03-01,2009-11-01
3,1,2010-04,63847718.15,-0.113793,NaN,NaN,2010-04-01,2010-04-01,2009-12-01
4,1,2010-05,54376145.17,-0.148346,NaN,NaN,2010-05-01,2010-05-01,2010-01-01
...,...,...,...,...,...,...,...,...,...
573112,900957,2023-11,144486.00,0.037596,0.0,0.0,2023-11-01,2023-11-01,2023-07-01
573113,900957,2023-12,144137.00,-0.002418,0.0,0.0,2023-12-01,2023-12-01,2023-08-01
573114,900957,2024-01,143788.00,-0.002430,0.0,0.0,2024-01-01,2024-01-01,2023-09-01
573115,900957,2024-02,155305.00,0.080101,0.0,0.0,2024-02-01,2024-02-01,2023-10-01
573116,900957,2024-03,145882.00,-0.060674,0.0,0.0,2024-03-01,2024-03-01,2023-11-01

In [203]:
# 进行加权平均计算月度回报率（分组过后+加权之后）
# 匹配时间节点上的公司市值
# 匹配相应时间段的月度回报率数据

# loop years
for year in df2['统计日期'].dt.year.unique():
    print('*************')
    print(year)
    current_year_data = df2[df2['统计日期'].dt.year == year] # type: ignore
    print(current_year_data.head())
    
    # loop 季报 调仓时候的市值 
    for key, key_month in report_months.items():
        print('**********')
        print(key)
        print(key_month*4/3)
        current_year_df_monthly = current_year_data[current_year_data['统计日期'].dt.month == key_month*4/3]
        print(current_year_df_monthly.head())
        #计算权重
        
        current_year_df_monthly['季报日期']

*************
2010
   证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
0     1  2010-01  67387912.64 -0.109561         NaN         NaN 2010-01-01
1     1  2010-02  69716987.96  0.034562         NaN         NaN 2010-02-01
2     1  2010-03  72046063.28  0.033408         NaN         NaN 2010-03-01
3     1  2010-04  63847718.15 -0.113793         NaN         NaN 2010-04-01
4     1  2010-05  54376145.17 -0.148346         NaN         NaN 2010-05-01
**********
third
12.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
9       1  2010-12  55028367.30 -0.036608         NaN         NaN 2010-12-01
180     2  2010-12  79571694.05  0.011070         NaN         NaN 2010-12-01
344     4  2010-12   1011079.28 -0.063764         NaN         NaN 2010-12-01
508     5  2010-12   3355604.34 -0.046753         NaN         NaN 2010-12-01
664     6  2010-12   5302601.00  0.013081         NaN         NaN 2010-12-01
**********
first
4.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
3       1  2010-04  63847718.15 -0.113793         NaN         NaN 2010-04-01
172     2  2010-04  75505987.05 -0.178947         NaN         NaN 2010-04-01
336     4  2010-04    869998.45 -0.089631         NaN         NaN 2010-04-01
500     5  2010-04   4379657.98 -0.196309         NaN         NaN 2010-04-01
656     6  2010-04   4828384.65 -0.204678         NaN         NaN 2010-04-01
**********
half
8.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
176     2  2010-08  81507745.00  0.015682         NaN         NaN 2010-08-01
340     4  2010-08    949776.30  0.174455         NaN         NaN 2010-08-01
504     5  2010-08   4452804.67  0.042827         NaN         NaN 2010-08-01
660     6  2010-08   6223138.62 -0.083987         NaN         NaN 2010-08-01
826     7  2010-08   1451978.10  0.035620         NaN         NaN 2010-08-01
*************
2011
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
10     1  2011-01  53355560.70 -0.030399         NaN         NaN 2011-01-01
11     1  2011-02  55516269.23  0.040496         NaN         NaN 2011-02-01
12     1  2011-03  56039021.29  0.009416         NaN         NaN 2011-03-01
13     1  2011-04  63427250.47  0.131841         NaN         NaN 2011-04-01
14     1  2011-05  61545343.04 -0.029670         NaN         NaN 2011-05-01
**********
third
12.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
21      1  2011-12  79873032.99  0.005158         NaN         NaN 2011-12-01
192     2  2011-12  72311502.98  0.058074         NaN         NaN 2011-12-01
356     4  2011-12    679371.37 -0.250926         NaN         NaN 2011-12-01
676     6  2011-12   4054930.18 -0.120172         NaN         NaN 2011-12-01
842     7  2011-12   1519752.09 -0.180573         NaN         NaN 2011-12-01
**********
first
4.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
13      1  2011-04  63427250.47  0.131841         NaN         NaN 2011-04-01
184     2  2011-04  82088560.28 -0.024166         NaN         NaN 2011-04-01
348     4  2011-04   1053907.38 -0.047800         NaN         NaN 2011-04-01
512     5  2011-04   3529327.72 -0.046914         NaN         NaN 2011-04-01
668     6  2011-04   5911220.92 -0.008929         NaN         NaN 2011-04-01
**********
half
8.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
17      1  2011-08  86328454.51 -0.028258         NaN         NaN 2011-08-01
188     2  2011-08  78894076.21  0.000000         NaN         NaN 2011-08-01
352     4  2011-08   1014438.34 -0.103192         NaN         NaN 2011-08-01
672     6  2011-08   5390090.11 -0.057093         NaN         NaN 2011-08-01
838     7  2011-08   1886987.02 -0.006083         NaN         NaN 2011-08-01
*************
2012
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
22     1  2012-01  85252550.92  0.067351         NaN         NaN 2012-01-01
23     1  2012-02  87609292.11  0.027644         NaN         NaN 2012-02-01
24     1  2012-03  80487835.04 -0.081287         NaN         NaN 2012-03-01
25     1  2012-04  84842682.89  0.054106         NaN         NaN 2012-04-01
26     1  2012-05  80385368.03 -0.052536         NaN         NaN 2012-05-01
**********
third
12.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
33      1  2012-12  82076073.66  0.251563         NaN         NaN 2012-12-01
204     2  2012-12  97964178.07  0.156571         NaN         NaN 2012-12-01
368     4  2012-12    686929.28  0.129834         NaN         NaN 2012-12-01
521     5  2012-12   2715570.81  0.178571         NaN         NaN 2012-12-01
688     6  2012-12   6364262.36  0.282383         NaN         NaN 2012-12-01
**********
first
4.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
25      1  2012-04  84842682.89  0.054106         NaN         NaN 2012-04-01
196     2  2012-04  86928687.66  0.084541         NaN         NaN 2012-04-01
360     4  2012-04    716321.11  0.049200         NaN         NaN 2012-04-01
513     5  2012-04   3629904.42  0.028497         NaN         NaN 2012-04-01
680     6  2012-04   6280196.74  0.152450         NaN         NaN 2012-04-01
**********
half
8.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
29      1  2012-08  72700342.40 -0.060265         NaN         NaN 2012-08-01
200     2  2012-08  77635643.10 -0.131094         NaN         NaN 2012-08-01
364     4  2012-08    666774.87 -0.005013         NaN         NaN 2012-08-01
517     5  2012-08   2541847.43  0.018315         NaN         NaN 2012-08-01
684     6  2012-08   5155695.37 -0.021951         NaN         NaN 2012-08-01
*************
2013
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
34     1  2013-01  1.081027e+08  0.317104         NaN         NaN 2013-01-01
35     1  2013-02  1.178371e+08  0.090047         NaN         NaN 2013-02-01
36     1  2013-03  1.030818e+08 -0.125217         NaN         NaN 2013-03-01
37     1  2013-04  9.580665e+07 -0.070577         NaN         NaN 2013-04-01
38     1  2013-05  1.075391e+08  0.122460         NaN         NaN 2013-05-01
**********
third
12.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
45      1  2013-12  1.004177e+08 -0.099265         NaN         NaN 2013-12-01
216     2  2013-12  7.789111e+07 -0.083333         NaN         NaN 2013-12-01
380     4  2013-12  9.783284e+05 -0.068745         NaN         NaN 2013-12-01
533     5  2013-12  2.285834e+06 -0.060150         NaN         NaN 2013-12-01
700     6  2013-12  6.655476e+06 -0.148532         NaN         NaN 2013-12-01
**********
first
4.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
37      1  2013-04  9.580665e+07 -0.070577         NaN         NaN 2013-04-01
208     2  2013-04  1.067770e+08  0.025093         NaN         NaN 2013-04-01
372     4  2013-04  8.935119e+05  0.115304         NaN         NaN 2013-04-01
525     5  2013-04  2.386411e+06 -0.033333         NaN         NaN 2013-04-01
692     6  2013-04  5.657122e+06 -0.022222         NaN         NaN 2013-04-01
**********
half
8.0
     证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
41      1  2013-08  86973996.66  0.106361         NaN         NaN 2013-08-01
212     2  2013-08  91750359.48 -0.006303         NaN         NaN 2013-08-01
376     4  2013-08   1021156.48  0.205154         NaN         NaN 2013-08-01
529     5  2013-08   2349837.37  0.173516         NaN         NaN 2013-08-01
696     6  2013-08   6425976.42  0.178218         NaN         NaN 2013-08-01
*************
2014
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
46     1  2014-01  1.085365e+08 -0.069388         NaN         NaN 2014-01-01
47     1  2014-02  1.059659e+08 -0.023684         NaN         NaN 2014-02-01
48     1  2014-03  1.025384e+08 -0.032345         NaN         NaN 2014-03-01
49     1  2014-04  1.060611e+08  0.034355         NaN         NaN 2014-04-01
50     1  2014-05  1.094886e+08  0.032316         NaN         NaN 2014-05-01
**********
third
12.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
57      1  2014-12  1.809703e+08  0.273312         NaN         NaN 2014-12-01
228     2  2014-12  1.351435e+08  0.275229         NaN         NaN 2014-12-01
392     4  2014-12  1.307517e+06 -0.304911         NaN         NaN 2014-12-01
545     5  2014-12  3.748768e+06  0.025000         NaN         NaN 2014-12-01
712     6  2014-12  9.517465e+06  0.015850         NaN         NaN 2014-12-01
**********
first
4.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
49      1  2014-04  1.060611e+08  0.034355         NaN         NaN 2014-04-01
220     2  2014-04  7.663011e+07 -0.023486         NaN         NaN 2014-04-01
384     4  2014-04  1.130326e+06  0.054033         NaN         NaN 2014-04-01
537     5  2014-04  2.093824e+06 -0.094862         NaN         NaN 2014-04-01
704     6  2014-04  6.547476e+06 -0.100186         NaN         NaN 2014-04-01
**********
half
8.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
53      1  2014-08  1.171052e+08 -0.057038         NaN         NaN 2014-08-01
224     2  2014-08  8.846465e+07 -0.078788         NaN         NaN 2014-08-01
388     4  2014-08  1.218502e+06 -0.006845         NaN         NaN 2014-08-01
541     5  2014-08  2.358981e+06  0.032000         NaN         NaN 2014-08-01
708     6  2014-08  7.249473e+06  0.080483         NaN         NaN 2014-08-01
*************
2015
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
58     1  2015-01  1.591488e+08 -0.120581         NaN         NaN 2015-01-01
59     1  2015-02  1.598343e+08  0.004307         NaN         NaN 2015-02-01
60     1  2015-03  1.799421e+08  0.125804         NaN         NaN 2015-03-01
61     1  2015-04  2.289549e+08  0.283535         NaN         NaN 2015-04-01
62     1  2015-05  2.192089e+08 -0.082635         NaN         NaN 2015-05-01
**********
third
12.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
69      1  2015-12  1.715610e+08  0.021295         NaN         NaN 2015-12-01
240     2  2015-12  2.376504e+08  0.621102         NaN         NaN 2015-12-01
404     4  2015-12  3.854530e+06  0.152108         NaN         NaN 2015-12-01
553     5  2015-12  1.062771e+07  0.077253         NaN         NaN 2015-12-01
724     6  2015-12  1.553844e+07  0.036937         NaN         NaN 2015-12-01
**********
first
4.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
61      1  2015-04  2.289549e+08  0.283535         NaN         NaN 2015-04-01
232     2  2015-04  1.419493e+08  0.056440         NaN         NaN 2015-04-01
396     4  2015-04  2.127129e+06  0.056297         NaN         NaN 2015-04-01
716     6  2015-04  1.576794e+07  0.327273         NaN         NaN 2015-04-01
879     7  2015-04  6.097486e+06  0.378590         NaN         NaN 2015-04-01
**********
half
8.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
65      1  2015-08  1.583970e+08 -0.104369         NaN         NaN 2015-08-01
236     2  2015-08  1.343180e+08 -0.026798         NaN         NaN 2015-08-01
400     4  2015-08  2.683895e+06  0.085229         NaN         NaN 2015-08-01
549     5  2015-08  5.376282e+06 -0.224274         NaN         NaN 2015-08-01
720     6  2015-08  1.432345e+07 -0.094710         NaN         NaN 2015-08-01
*************
2016
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
70     1  2016-01  1.430868e+08 -0.165972         NaN         NaN 2016-01-01
71     1  2016-02  1.367909e+08 -0.044000         NaN         NaN 2016-02-01
72     1  2016-03  1.522443e+08  0.112971         NaN         NaN 2016-03-01
73     1  2016-04  1.512427e+08 -0.006579         NaN         NaN 2016-04-01
74     1  2016-05  1.509565e+08 -0.001892         NaN         NaN 2016-05-01
**********
third
12.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
81      1  2016-12  1.562507e+08 -0.047120         NaN         NaN 2016-12-01
246     2  2016-12  1.998322e+08 -0.238325         NaN         NaN 2016-12-01
411     4  2016-12  3.770553e+06  0.064486         NaN         NaN 2016-12-01
565     5  2016-12  7.155709e+06 -0.088949         NaN         NaN 2016-12-01
736     6  2016-12  1.275745e+07 -0.015625         NaN         NaN 2016-12-01
**********
first
4.0
      证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
73       1  2016-04  1.512427e+08 -0.006579         NaN         NaN 2016-04-01
557      5  2016-04  7.557953e+06 -0.069100         NaN         NaN 2016-04-01
728      6  2016-04  1.070546e+07 -0.044578         NaN         NaN 2016-04-01
1036     8  2016-04  2.956264e+07 -0.008326         NaN         NaN 2016-04-01
1204     9  2016-04  2.178003e+07 -0.003642         NaN         NaN 2016-04-01
**********
half
8.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
77      1  2016-08  1.629472e+08  0.031522         NaN         NaN 2016-08-01
242     2  2016-08  2.424242e+08  0.454492         NaN         NaN 2016-08-01
561     5  2016-08  7.949612e+06  0.048883         NaN         NaN 2016-08-01
732     6  2016-08  1.147496e+07  0.144011         NaN         NaN 2016-08-01
884     7  2016-08  5.173624e+06  0.276353         NaN         NaN 2016-08-01
*************
2017
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
82     1  2017-01  1.601999e+08  0.025275         NaN         NaN 2017-01-01
83     1  2017-02  1.627755e+08  0.016077         NaN         NaN 2017-02-01
84     1  2017-03  1.574527e+08 -0.032700         NaN         NaN 2017-03-01
85     1  2017-04  1.543620e+08 -0.019629         NaN         NaN 2017-04-01
86     1  2017-05  1.579678e+08  0.023359         NaN         NaN 2017-05-01
**********
third
12.0
      证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
93       1  2017-12  2.283665e+08 -0.005979         NaN         NaN 2017-12-01
258      2  2017-12  3.020335e+08 -0.005125         NaN         NaN 2017-12-01
421      4  2017-12  1.879398e+06 -0.124413         NaN         NaN 2017-12-01
577      5  2017-12  4.382343e+06 -0.014286         NaN         NaN 2017-12-01
1056     8  2017-12  2.466039e+07  0.031840         NaN         NaN 2017-12-01
**********
first
4.0
      证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
85       1  2017-04  1.543620e+08 -0.019629         NaN         NaN 2017-04-01
250      2  2017-04  1.896218e+08 -0.052478         NaN         NaN 2017-04-01
569      5  2017-04  6.160684e+06 -0.070288         NaN         NaN 2017-04-01
740      6  2017-04  1.123196e+07  0.004831         NaN         NaN 2017-04-01
1048     8  2017-04  2.269735e+07 -0.075515         NaN         NaN 2017-04-01
**********
half
8.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
89      1  2017-08  1.936822e+08  0.057170         NaN         NaN 2017-08-01
254     2  2017-08  2.258931e+08  0.027624         NaN         NaN 2017-08-01
417     4  2017-08  1.944060e+06  0.037651         NaN         NaN 2017-08-01
573     5  2017-08  5.176245e+06 -0.010121         NaN         NaN 2017-08-01
744     6  2017-08  1.140746e+07 -0.007051         NaN         NaN 2017-08-01
*************
2018
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
94     1  2018-01  2.412443e+08  0.056391         NaN         NaN 2018-01-01
95     1  2018-02  2.069035e+08 -0.142349         NaN         NaN 2018-02-01
96     1  2018-03  1.871575e+08 -0.095436         NaN         NaN 2018-03-01
97     1  2018-04  1.862990e+08 -0.004587         NaN         NaN 2018-04-01
98     1  2018-05  1.747948e+08 -0.061751         NaN         NaN 2018-05-01
**********
third
12.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
105     1  2018-12  1.610585e+08 -0.094595         NaN         NaN 2018-12-01
270     2  2018-12  2.316304e+08 -0.063679         NaN         NaN 2018-12-01
433     4  2018-12  1.346146e+06 -0.011714         NaN         NaN 2018-12-01
589     5  2018-12  2.836879e+06 -0.106667         NaN         NaN 2018-12-01
755     6  2018-12  6.992974e+06 -0.038961         NaN         NaN 2018-12-01
**********
first
4.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
97      1  2018-04  1.862990e+08 -0.004587         NaN         NaN 2018-04-01
262     2  2018-04  2.761672e+08 -0.146891         NaN         NaN 2018-04-01
425     4  2018-04  1.750914e+06 -0.087527         NaN         NaN 2018-04-01
581     5  2018-04  3.789562e+06 -0.072539         NaN         NaN 2018-04-01
747     6  2018-04  9.436465e+06 -0.051560         NaN         NaN 2018-04-01
**********
half
8.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
101     1  2018-08  1.739363e+08  0.075372         NaN         NaN 2018-08-01
266     2  2018-08  2.338669e+08  0.071976         NaN         NaN 2018-08-01
429     4  2018-08  1.459515e+06 -0.052345         NaN         NaN 2018-08-01
585     5  2018-08  3.133269e+06 -0.060317         NaN         NaN 2018-08-01
751     6  2018-08  7.303473e+06 -0.076792         NaN         NaN 2018-08-01
*************
2019
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
106     1  2019-01  1.905916e+08  0.183369         NaN         NaN 2019-01-01
107     1  2019-02  2.122263e+08  0.113514         NaN         NaN 2019-02-01
108     1  2019-03  2.201247e+08  0.037217         NaN         NaN 2019-03-01
109     1  2019-04  2.378102e+08  0.080343         NaN         NaN 2019-04-01
110     1  2019-05  2.091356e+08 -0.120578         NaN         NaN 2019-05-01
**********
third
12.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
117     1  2019-12  3.192274e+08  0.075867         0.0         0.0 2019-12-01
282     2  2019-12  3.129246e+08  0.161733         0.0         0.0 2019-12-01
445     4  2019-12  1.897033e+06  0.134606         0.0         0.0 2019-12-01
601     5  2019-12  3.270879e+06  0.054608         0.0         0.0 2019-12-01
767     6  2019-12  7.235973e+06  0.046875         0.0         0.0 2019-12-01
**********
first
4.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
109     1  2019-04  2.378102e+08  0.080343         NaN         NaN 2019-04-01
274     2  2019-04  2.808348e+08 -0.059896         NaN         NaN 2019-04-01
437     4  2019-04  2.122931e+06  0.166590         NaN         NaN 2019-04-01
593     5  2019-04  3.493172e+06 -0.124668         NaN         NaN 2019-04-01
759     6  2019-04  8.234970e+06 -0.096296         NaN         NaN 2019-04-01
**********
half
8.0
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
113     1  2019-08  2.431330e+08  0.002123         0.0         0.0 2019-08-01
278     2  2019-08  2.508843e+08 -0.067328         0.0         0.0 2019-08-01
441     4  2019-08  1.666097e+06  0.072432         0.0         0.0 2019-08-01
597     5  2019-08  3.281464e+06  0.061644         0.0         0.0 2019-08-01
763     6  2019-08  7.154974e+06  0.001890         0.0         0.0 2019-08-01
*************
2020
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
118     1  2020-01  3.015680e+08 -0.055319         0.0         0.0 2020-01-01
119     1  2020-02  2.813858e+08 -0.066924         0.0         0.0 2020-02-01
120     1  2020-03  2.483958e+08 -0.117241         0.0         0.0 2020-03-01
121     1  2020-04  2.703244e+08  0.088281         0.0         0.0 2020-04-01
122     1  2020-05  2.522769e+08 -0.051197         0.0         0.0 2020-05-01
**********
third
12.0

In [165]:
# join df1_group and df2

#df1_group.set_index('证券代码').join(df2.set_index('证券代码'), on=['证券代码'], lsuffix='_group', rsuffix='_df2')

#df1_group.set_index(['统计日期','证券代码']).join(df2.set_index(['统计日期','证券代码']), on=['统计日期','证券代码'],how = 'outer', lsuffix='_group', rsuffix='_df2')

#df1_group_join  = df1_group.set_index(['证券代码']).join(df2.set_index(['证券代码']), on=['证券代码'],how = 'inner', lsuffix='_group', rsuffix='_df2')

#df1_group_join.reset_index()

In [166]:

#df1_group_join['统计日期_df2_str'] = str(df1_group_join['统计日期_df2'])

#df1_group_join['统计日期_df2_str'] = df1_group_join['统计日期_df2'].dt.strftime('%Y-%m-%d')

In [167]:
#df1_group_join

In [168]:
#df1_group_join.dtypes

In [162]:
#df1_final = df1_group_join[df1_group_join['统计截止日期'] == df1_group_join['统计日期_df2_str']]

In [191]:
from datetime import date
from dateutil.relativedelta import relativedelta

current_date = date.today()

print(current_date)

future_date = current_date - relativedelta(months=4)

print(future_date)

2024-05-13
2024-01-13

In [195]:
dt = pd.to_datetime('2024-04-01')
dt

dt1 = dt - relativedelta(months=4)
dt1

Timestamp('2023-12-01 00:00:00')

In [ ]:
# 月度回报率数据

In [51]:

for month, (start_month, end_month) in periods.items():
    # 筛选出分组月份的数据
    df1_monthly = df1_sorted[df1_sorted['统计日期'].dt.month == month]

    # 对每一年的数据进行操作
    for year in df1_monthly['统计日期'].dt.year.unique():
        # 获取当前年份和上一年的数据
        current_year_data = df1_monthly[df1_monthly['统计日期'].dt.year == year]
        previous_year_data = df1_monthly[df1_monthly['统计日期'].dt.year == year - 1]

        # 对当前年份的数据进行分组
        current_year_data['分组'] = pd.qcut(current_year_data['其他持股比例'], 5, labels=False, duplicates='drop')

        # 遍历每个分组
        for group in range(5):
            # 获取上一年同一分组的证券代码
            previous_group_codes = previous_year_data[previous_year_data['证券代码'].isin(current_year_data[current_year_data['分组'] == group]['证券代码'])]['证券代码']

            # 计算加权回报率
            for month in range(start_month, end_month + 1):
                # 获取对应月份的数据
                df2_monthly = df2[(df2['统计日期'].dt.year == year) & (df2['统计日期'].dt.month == month)]

                # 筛选出属于当前分组的股票
                df2_group = df2_monthly[df2_monthly['证券代码'].isin(previous_group_codes)]

                # 计算加权回报率
                total_market_value = df2_group['个股市值'].sum()
                df2_group['加权回报率'] = df2_group['个股市值'] / total_market_value * df2_group['个股月回报率']
                weighted_return = df2_group['加权回报率'].sum()

                # 将结果存储到grouped_returns中
                new_data = pd.DataFrame({
                    '年份': [year],
                    '月份': [month],
                    '分组': [group],
                    '加权回报率': [weighted_return]
                })

                grouped_returns = pd.concat([grouped_returns, new_data], ignore_index=True)
print(grouped_returns.head())
grouped_returns.to_excel('计算.xlsx', index=False)