### Definition

In [310]:
! pip install ydata-profiling
! pip install numpy==1.22.4

Requirement already satisfied: ydata-profiling in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.8.3)
Requirement already satisfied: scipy<1.14,>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.13.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.11.2)
Requirement already satisfied: imagehash==4.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: multimethod<2,>=1.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.11.2)
Requirement already satisfied: dacite>=1.8 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<3.9,>=3.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (3.8.4)
Requirement already satisfied: numba<1,>=0.56.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.59.1)
Requirement already satisfied: typeguard<5,>=3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (4.2.1)
Requirement already satisfied: wordcloud>=1.9.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: requests<3,>=2.24.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.25.1)
Requirement already satisfied: visions[type_image_path]<0.7.7,>=0.7.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.7.6)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: numpy<2,>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (1.22.4)
Requirement already satisfied: tqdm<5,>=4.48.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (4.66.4)
Requirement already satisfied: htmlmin==0.1.12 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: pydantic>=2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata-profiling) (2.7.1)
Requirement already satisfied: PyWavelets in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from imagehash==4.3.1->ydata-profiling) (1.6.0)
Requirement already satisfied: pillow in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from imagehash==4.3.1->ydata-profiling) (10.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.2.1)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (24.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (4.51.0)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.12.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (6.4.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.4.5)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2020.4)
Requirement already satisfied: joblib>=0.14.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata-profiling) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.2)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata-profiling) (4.0.0)
Requirement already satisfied: patsy>=0.5.6 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: importlib-metadata>=3.6 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from typeguard<5,>=3->ydata-profiling) (7.1.0)
Collecting numpy<2,>=1.16.0
  Using cached numpy-1.26.4-cp39-cp39-macosx_10_9_x86_64.whl (20.6 MB)
Requirement already satisfied: networkx>=2.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.2.1)
Requirement already satisfied: attrs>=19.3.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (20.3.0)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from importlib-metadata>=3.6->typeguard<5,>=3->ydata-profiling) (3.18.1)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.15.0)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.4
    Uninstalling numpy-1.22.4:
      Successfully uninstalled numpy-1.22.4
Successfully installed numpy-1.26.4
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Collecting numpy==1.22.4
  Using cached numpy-1.22.4-cp39-cp39-macosx_10_15_x86_64.whl (17.7 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
visions 0.7.6 requires numpy>=1.23.2, but you have numpy 1.22.4 which is incompatible.
Successfully installed numpy-1.22.4
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.

In [311]:
import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta

In [312]:
# import data
df1_1 = pd.read_excel('证券2.xlsx', engine='openpyxl')
df1_2 = pd.read_excel('证券1.xlsx', engine='openpyxl')
df1_3 = pd.concat([df1_1, df1_2], ignore_index=True)
df1 = df1_3[df1_3['民营指数'] >= 1]

In [313]:
df2 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')
#df3 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')

In [314]:
df3 = df2.copy()

In [315]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573117 entries, 0 to 573116
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   证券代码        573117 non-null  int64
 1   交易月份        573117 non-null  object
 2   个股市值        573117 non-null  float64
 3   个股月回报率      569272 non-null  float64
 4   Unnamed: 4  261084 non-null  float64
 5   Unnamed: 5  261084 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 26.2+ MB

In [316]:
df1.dtypes

统计截止日期       object
证券代码          int64
其他持股比例      float64
国有法人持股比例    float64
民营指数        float64
是否民营企业       object
dtype: object

In [317]:
df1['统计日期'] = pd.to_datetime(df1['统计截止日期'])
df2['统计日期'] = pd.to_datetime(df2['交易月份'])
df3['统计日期'] = pd.to_datetime(df3['交易月份'])

<ipython-input-317-435351aec7bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['统计日期'] = pd.to_datetime(df1['统计截止日期'])

### df1_sorted

In [318]:
df1_sorted = df1.sort_values(by=['统计日期', '其他持股比例'], ascending=[True, False])
df1_sorted

            统计截止日期    证券代码  其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期
1167    2013-03-31    2703   94.92      0.00         inf   民营企业 2013-03-31
451     2013-03-31     981   92.33      0.60  153.883333   民营企业 2013-03-31
734     2013-03-31    2269   91.08      0.55  165.600000   民营企业 2013-03-31
1115    2013-03-31    2651   90.92      0.18  505.111111   民营企业 2013-03-31
1027    2013-03-31    2563   90.64      0.00         inf   民营企业 2013-03-31
...            ...     ...     ...       ...         ...    ...        ...
82710   2023-12-31    2407   18.60      1.57   11.847134   民营企业 2023-12-31
154507  2023-12-31  600503   18.09      0.00         inf   民营企业 2023-12-31
154470  2023-12-31  600354   16.26     14.09    1.154010   民营企业 2023-12-31
82748   2023-12-31    2640   14.81      8.47    1.748524   民营企业 2023-12-31
154300  2023-12-31  300659    0.93      0.00         inf   民营企业 2023-12-31

[111123 rows x 7 columns]

In [319]:
# grouped_returns = pd.DataFrame()

# # 9 三季报
# # 3 一季报
# # 6 半年报
# periods = {
#     9: (1, 4),
#     3: (5, 8),
#     6: (9, 12)
# }

In [320]:
report_months = {
    'third': 9,
    'first': 3,
    'half': 6
}

In [321]:
df1_sorted

            统计截止日期    证券代码  其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期
1167    2013-03-31    2703   94.92      0.00         inf   民营企业 2013-03-31
451     2013-03-31     981   92.33      0.60  153.883333   民营企业 2013-03-31
734     2013-03-31    2269   91.08      0.55  165.600000   民营企业 2013-03-31
1115    2013-03-31    2651   90.92      0.18  505.111111   民营企业 2013-03-31
1027    2013-03-31    2563   90.64      0.00         inf   民营企业 2013-03-31
...            ...     ...     ...       ...         ...    ...        ...
82710   2023-12-31    2407   18.60      1.57   11.847134   民营企业 2023-12-31
154507  2023-12-31  600503   18.09      0.00         inf   民营企业 2023-12-31
154470  2023-12-31  600354   16.26     14.09    1.154010   民营企业 2023-12-31
82748   2023-12-31    2640   14.81      8.47    1.748524   民营企业 2023-12-31
154300  2023-12-31  300659    0.93      0.00         inf   民营企业 2023-12-31

[111123 rows x 7 columns]

In [322]:
# add a new column in the df1
df1["分组"] = ""

<ipython-input-322-e864a9d284b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["分组"] = ""

In [323]:
df1

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

In [324]:
df1_copy = df1.copy()
len(df1_copy.index) 
df1_copy

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

### Dataset df1_group
对公司进行分组 按照季度进行调仓

In [325]:

df1_group = pd.DataFrame()

df1_year_keymonth_size = 0

# 对公司进行分组 按照季度进行调仓
for year in df1['统计日期'].dt.year.unique():
    print('****** loop *******')
    print(year)
    
    
    for key, key_month in report_months.items():
        print('*****loop 季度*****')
        print(key)
        print(key_month)
         
        df1_year_keymonth = df1.loc[(df1['统计日期'].dt.year == year ) & (df1['统计日期'].dt.month == key_month)]
        
        df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
        
        df1_year_keymonth.info()
        
        df1_year_keymonth_size += len(df1_year_keymonth.index) 
        
        df1_group = df1_group.append(df1_year_keymonth, ignore_index=True)
        
        
df1_group

****** loop *******
2013
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 3046 to 84796
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1532 non-null   object
 1   证券代码      1532 non-null   int64
 2   其他持股比例    1532 non-null   float64
 3   国有法人持股比例  1532 non-null   float64
 4   民营指数      1532 non-null   float64
 5   是否民营企业    1532 non-null   object
 6   统计日期      1532 non-null   datetime64[ns]
 7   分组        1532 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 107.7+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1151 entries, 0 to 1521
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1151 non-null   object
 1   证券代码      1151 non-null   int64
 2   其他持股比例    1151 non-null   float64
 3   国有法人持股比例  1151 non-null   float64
 4   民营指数      1151 non-null   float64
 5   是否民营企业    1151 non-null   object
 6   统计日期      1151 non-null   datetime64[ns]
 7   分组        1151 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 80.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1529 entries, 1522 to 83856
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1529 non-null   object
 1   证券代码      1529 non-null   int64
 2   其他持股比例    1529 non-null   float64
 3   国有法人持股比例  1529 non-null   float64
 4   民营指数      1529 non-null   float64
 5   是否民营企业    1529 non-null   object
 6   统计日期      1529 non-null   datetime64[ns]
 7   分组        1529 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 107.5+ KB
****** loop *******
2014
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1623 entries, 9270 to 88618
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1623 non-null   object
 1   证券代码      1623 non-null   int64
 2   其他持股比例    1623 non-null   float64
 3   国有法人持股比例  1623 non-null   float64
 4   民营指数      1623 non-null   float64
 5   是否民营企业    1623 non-null   object
 6   统计日期      1623 non-null   datetime64[ns]
 7   分组        1623 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 114.1+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1587 entries, 6134 to 86695
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1587 non-null   object
 1   证券代码      1587 non-null   int64
 2   其他持股比例    1587 non-null   float64
 3   国有法人持股比例  1587 non-null   float64
 4   民营指数      1587 non-null   float64
 5   是否民营企业    1587 non-null   object
 6   统计日期      1587 non-null   datetime64[ns]
 7   分组        1587 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 111.6+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594 entries, 7700 to 87648
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1594 non-null   object
 1   证券代码      1594 non-null   int64
 2   其他持股比例    1594 non-null   float64
 3   国有法人持股比例  1594 non-null   float64
 4   民营指数      1594 non-null   float64
 5   是否民营企业    1594 non-null   object
 6   统计日期      1594 non-null   datetime64[ns]
 7   分组        1594 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 112.1+ KB
****** loop *******
2015
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1834 entries, 15845 to 92773
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1834 non-null   object
 1   证券代码      1834 non-null   int64
 2   其他持股比例    1834 non-null   float64
 3   国有法人持股比例  1834 non-null   float64
 4   民营指数      1834 non-null   float64
 5   是否民营企业    1834 non-null   object
 6   统计日期      1834 non-null   datetime64[ns]
 7   分组        1834 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 129.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 12486 to 90649
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1731 non-null   object
 1   证券代码      1731 non-null   int64
 2   其他持股比例    1731 non-null   float64
 3   国有法人持股比例  1731 non-null   float64
 4   民营指数      1731 non-null   float64
 5   是否民营企业    1731 non-null   object
 6   统计日期      1731 non-null   datetime64[ns]
 7   分组        1731 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 121.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1840 entries, 14127 to 91711
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1840 non-null   object
 1   证券代码      1840 non-null   int64
 2   其他持股比例    1840 non-null   float64
 3   国有法人持股比例  1840 non-null   float64
 4   民营指数      1840 non-null   float64
 5   是否民营企业    1840 non-null   object
 6   统计日期      1840 non-null   datetime64[ns]
 7   分组        1840 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 129.4+ KB
****** loop *******
2016
*****loop 季度*****
third
9

<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 22835 to 97173
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1999 non-null   object
 1   证券代码      1999 non-null   int64
 2   其他持股比例    1999 non-null   float64
 3   国有法人持股比例  1999 non-null   float64
 4   民营指数      1999 non-null   float64
 5   是否民营企业    1999 non-null   object
 6   统计日期      1999 non-null   datetime64[ns]
 7   分组        1999 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 140.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1894 entries, 19309 to 94935
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1894 non-null   object
 1   证券代码      1894 non-null   int64
 2   其他持股比例    1894 non-null   float64
 3   国有法人持股比例  1894 non-null   float64
 4   民营指数      1894 non-null   float64
 5   是否民营企业    1894 non-null   object
 6   统计日期      1894 non-null   datetime64[ns]
 7   分组        1894 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 133.2+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1933 entries, 21060 to 96040
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1933 non-null   object
 1   证券代码      1933 non-null   int64
 2   其他持股比例    1933 non-null   float64
 3   国有法人持股比例  1933 non-null   float64
 4   民营指数      1933 non-null   float64
 5   是否民营企业    1933 non-null   object
 6   统计日期      1933 non-null   datetime64[ns]
 7   分组        1933 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 135.9+ KB
****** loop *******
2017
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2426 entries, 30470 to 102375
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2426 non-null   object
 1   证券代码      2426 non-null   int64
 2   其他持股比例    2426 non-null   float64
 3   国有法人持股比例  2426 non-null   float64
 4   民营指数      2426 non-null   float64
 5   是否民营企业    2426 non-null   object
 6   统计日期      2426 non-null   datetime64[ns]
 7   分组        2426 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 170.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2232 entries, 26549 to 99639
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2232 non-null   object
 1   证券代码      2232 non-null   int64
 2   其他持股比例    2232 non-null   float64
 3   国有法人持股比例  2232 non-null   float64
 4   民营指数      2232 non-null   float64
 5   是否民营企业    2232 non-null   object
 6   统计日期      2232 non-null   datetime64[ns]
 7   分组        2232 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 156.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 28490 to 100976
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2356 non-null   object
 1   证券代码      2356 non-null   int64
 2   其他持股比例    2356 non-null   float64
 3   国有法人持股比例  2356 non-null   float64
 4   民营指数      2356 non-null   float64
 5   是否民营企业    2356 non-null   object
 6   统计日期      2356 non-null   datetime64[ns]
 7   分组        2356 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 165.7+ KB
****** loop *******
2018
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2565 entries, 38527 to 108372
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2565 non-null   object
 1   证券代码      2565 non-null   int64
 2   其他持股比例    2565 non-null   float64
 3   国有法人持股比例  2565 non-null   float64
 4   民营指数      2565 non-null   float64
 5   是否民营企业    2565 non-null   object
 6   统计日期      2565 non-null   datetime64[ns]
 7   分组        2565 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 180.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2535 entries, 34482 to 105339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2535 non-null   object
 1   证券代码      2535 non-null   int64
 2   其他持股比例    2535 non-null   float64
 3   国有法人持股比例  2535 non-null   float64
 4   民营指数      2535 non-null   float64
 5   是否民营企业    2535 non-null   object
 6   统计日期      2535 non-null   datetime64[ns]
 7   分组        2535 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 178.2+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2562 entries, 36504 to 106849
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2562 non-null   object
 1   证券代码      2562 non-null   int64
 2   其他持股比例    2562 non-null   float64
 3   国有法人持股比例  2562 non-null   float64
 4   民营指数      2562 non-null   float64
 5   是否民营企业    2562 non-null   object
 6   统计日期      2562 non-null   datetime64[ns]
 7   分组        2562 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 180.1+ KB

<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')

****** loop *******
2019
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2681 entries, 46675 to 114740
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2681 non-null   object
 1   证券代码      2681 non-null   int64
 2   其他持股比例    2681 non-null   float64
 3   国有法人持股比例  2681 non-null   float64
 4   民营指数      2681 non-null   float64
 5   是否民营企业    2681 non-null   object
 6   统计日期      2681 non-null   datetime64[ns]
 7   分组        2681 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 188.5+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2607 entries, 42591 to 111489
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2607 non-null   object
 1   证券代码      2607 non-null   int64
 2   其他持股比例    2607 non-null   float64
 3   国有法人持股比例  2607 non-null   float64
 4   民营指数      2607 non-null   float64
 5   是否民营企业    2607 non-null   object
 6   统计日期      2607 non-null   datetime64[ns]
 7   分组        2607 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 183.3+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2636 entries, 44631 to 113093
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2636 non-null   object
 1   证券代码      2636 non-null   int64
 2   其他持股比例    2636 non-null   float64
 3   国有法人持股比例  2636 non-null   float64
 4   民营指数      2636 non-null   float64
 5   是否民营企业    2636 non-null   object
 6   统计日期      2636 non-null   datetime64[ns]
 7   分组        2636 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 185.3+ KB
****** loop *******
2020
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2983 entries, 54902 to 122066
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2983 non-null   object
 1   证券代码      2983 non-null   int64
 2   其他持股比例    2983 non-null   float64
 3   国有法人持股比例  2983 non-null   float64
 4   民营指数      2983 non-null   float64
 5   是否民营企业    2983 non-null   object
 6   统计日期      2983 non-null   datetime64[ns]
 7   分组        2983 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 209.7+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2783 entries, 50778 to 118245
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2783 non-null   object
 1   证券代码      2783 non-null   int64
 2   其他持股比例    2783 non-null   float64
 3   国有法人持股比例  2783 non-null   float64
 4   民营指数      2783 non-null   float64
 5   是否民营企业    2783 non-null   object
 6   统计日期      2783 non-null   datetime64[ns]
 7   分组        2783 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 195.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2873 entries, 52838 to 120101
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2873 non-null   object
 1   证券代码      2873 non-null   int64
 2   其他持股比例    2873 non-null   float64
 3   国有法人持股比例  2873 non-null   float64
 4   民营指数      2873 non-null   float64
 5   是否民营企业    2873 non-null   object
 6   统计日期      2873 non-null   datetime64[ns]
 7   分组        2873 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 202.0+ KB
****** loop *******
2021
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3447 entries, 63314 to 131140
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3447 non-null   object
 1   证券代码      3447 non-null   int64
 2   其他持股比例    3447 non-null   float64
 3   国有法人持股比例  3447 non-null   float64
 4   民营指数      3447 non-null   float64
 5   是否民营企业    3447 non-null   object
 6   统计日期      3447 non-null   datetime64[ns]
 7   分组        3447 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 242.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3192 entries, 59092 to 126373
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3192 non-null   object
 1   证券代码      3192 non-null   int64
 2   其他持股比例    3192 non-null   float64
 3   国有法人持股比例  3192 non-null   float64
 4   民营指数      3192 non-null   float64
 5   是否民营企业    3192 non-null   object
 6   统计日期      3192 non-null   datetime64[ns]
 7   分组        3192 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 224.4+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3326 entries, 61199 to 128684
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3326 non-null   object
 1   证券代码      3326 non-null   int64
 2   其他持股比例    3326 non-null   float64
 3   国有法人持股比例  3326 non-null   float64
 4   民营指数      3326 non-null   float64
 5   是否民营企业    3326 non-null   object
 6   统计日期      3326 non-null   datetime64[ns]
 7   分组        3326 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 233.9+ KB

<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')

****** loop *******
2022
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3769 entries, 71810 to 142010
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3769 non-null   object
 1   证券代码      3769 non-null   int64
 2   其他持股比例    3769 non-null   float64
 3   国有法人持股比例  3769 non-null   float64
 4   民营指数      3769 non-null   float64
 5   是否民营企业    3769 non-null   object
 6   统计日期      3769 non-null   datetime64[ns]
 7   分组        3769 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 265.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3640 entries, 67560 to 136436
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3640 non-null   object
 1   证券代码      3640 non-null   int64
 2   其他持股比例    3640 non-null   float64
 3   国有法人持股比例  3640 non-null   float64
 4   民营指数      3640 non-null   float64
 5   是否民营企业    3640 non-null   object
 6   统计日期      3640 non-null   datetime64[ns]
 7   分组        3640 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 255.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3691 entries, 69688 to 139179
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3691 non-null   object
 1   证券代码      3691 non-null   int64
 2   其他持股比例    3691 non-null   float64
 3   国有法人持股比例  3691 non-null   float64
 4   民营指数      3691 non-null   float64
 5   是否民营企业    3691 non-null   object
 6   统计日期      3691 non-null   datetime64[ns]
 7   分组        3691 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 259.5+ KB
****** loop *******
2023
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4038 entries, 80363 to 154299
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    4038 non-null   object
 1   证券代码      4038 non-null   int64
 2   其他持股比例    4038 non-null   float64
 3   国有法人持股比例  4038 non-null   float64
 4   民营指数      4038 non-null   float64
 5   是否民营企业    4038 non-null   object
 6   统计日期      4038 non-null   datetime64[ns]
 7   分组        4038 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 283.9+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3927 entries, 76088 to 148006
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3927 non-null   object
 1   证券代码      3927 non-null   int64
 2   其他持股比例    3927 non-null   float64
 3   国有法人持股比例  3927 non-null   float64
 4   民营指数      3927 non-null   float64
 5   是否民营企业    3927 non-null   object
 6   统计日期      3927 non-null   datetime64[ns]
 7   分组        3927 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 276.1+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4007 entries, 78237 to 151131
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    4007 non-null   object
 1   证券代码      4007 non-null   int64
 2   其他持股比例    4007 non-null   float64
 3   国有法人持股比例  4007 non-null   float64
 4   民营指数      4007 non-null   float64
 5   是否民营企业    4007 non-null   object
 6   统计日期      4007 non-null   datetime64[ns]
 7   分组        4007 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 281.7+ KB

<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')
<ipython-input-325-e277de98a906>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 5, labels=False, duplicates='drop')

           统计截止日期    证券代码   其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期  分组
0      2013-09-30       1  57.0600    1.8100   31.524862   民营企业 2013-09-30   2
1      2013-09-30       4  34.3400    0.0000         inf   民营企业 2013-09-30   0
2      2013-09-30       5  26.2200    3.6400    7.203297   民营企业 2013-09-30   0
3      2013-09-30       7  46.1200    0.4900   94.122449   民营企业 2013-09-30   1
4      2013-09-30       8  68.5400    0.0000         inf   民营企业 2013-09-30   3
...           ...     ...      ...       ...         ...    ...        ...  ..
84518  2023-06-30  873223  73.1996    0.6358  115.129915   民营企业 2023-06-30   4
84519  2023-06-30  873305  79.7865    0.0000         inf   民营企业 2023-06-30   4
84520  2023-06-30  873339  81.9562    0.0000         inf   民营企业 2023-06-30   4
84521  2023-06-30  873527  58.8700    0.0000         inf   民营企业 2023-06-30   2
84522  2023-06-30  873593  63.1500    0.0000         inf   民营企业 2023-06-30   3

[84523 rows x 8 columns]

In [326]:
df1_year_keymonth_size

84523

In [327]:
df1_group

#df1_group.to_excel('加权权重分组.xlsx',index=False)

### Dataset df2_market_value

进行加权平均计算月度回报率（分组过后+加权之后）

匹配时间节点上的公司市值

匹配相应时间段的月度回报率数据

In [328]:
# 进行加权平均计算月度回报率（分组过后+加权之后）
# 匹配时间节点上的公司市值
# 匹配相应时间段的月度回报率数据

df2_market_value = pd.DataFrame()
# loop years
for year in df2['统计日期'].dt.year.unique():
    print('*************')
    print(year)
    current_year_data = df2[df2['统计日期'].dt.year == year] # type: ignore
    print(current_year_data.head())
    
    # loop 季报 调仓时候的市值 
    for key, key_month in report_months.items():
        print('**********')
        print(key)
        print(key_month*4/3)
        current_year_df_monthly = current_year_data[current_year_data['统计日期'].dt.month == key_month*4/3]
        #print(current_year_df_monthly.info())
        #计算权重
    
        df2_market_value = df2_market_value.append(current_year_df_monthly, ignore_index=True)

*************
2010
   证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
0     1  2010-01  67387912.64 -0.109561         NaN         NaN 2010-01-01
1     1  2010-02  69716987.96  0.034562         NaN         NaN 2010-02-01
2     1  2010-03  72046063.28  0.033408         NaN         NaN 2010-03-01
3     1  2010-04  63847718.15 -0.113793         NaN         NaN 2010-04-01
4     1  2010-05  54376145.17 -0.148346         NaN         NaN 2010-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2011
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
10     1  2011-01  53355560.70 -0.030399         NaN         NaN 2011-01-01
11     1  2011-02  55516269.23  0.040496         NaN         NaN 2011-02-01
12     1  2011-03  56039021.29  0.009416         NaN         NaN 2011-03-01
13     1  2011-04  63427250.47  0.131841         NaN         NaN 2011-04-01
14     1  2011-05  61545343.04 -0.029670         NaN         NaN 2011-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2012
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
22     1  2012-01  85252550.92  0.067351         NaN         NaN 2012-01-01
23     1  2012-02  87609292.11  0.027644         NaN         NaN 2012-02-01
24     1  2012-03  80487835.04 -0.081287         NaN         NaN 2012-03-01
25     1  2012-04  84842682.89  0.054106         NaN         NaN 2012-04-01
26     1  2012-05  80385368.03 -0.052536         NaN         NaN 2012-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2013
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
34     1  2013-01  1.081027e+08  0.317104         NaN         NaN 2013-01-01
35     1  2013-02  1.178371e+08  0.090047         NaN         NaN 2013-02-01
36     1  2013-03  1.030818e+08 -0.125217         NaN         NaN 2013-03-01
37     1  2013-04  9.580665e+07 -0.070577         NaN         NaN 2013-04-01
38     1  2013-05  1.075391e+08  0.122460         NaN         NaN 2013-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2014
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
46     1  2014-01  1.085365e+08 -0.069388         NaN         NaN 2014-01-01
47     1  2014-02  1.059659e+08 -0.023684         NaN         NaN 2014-02-01
48     1  2014-03  1.025384e+08 -0.032345         NaN         NaN 2014-03-01
49     1  2014-04  1.060611e+08  0.034355         NaN         NaN 2014-04-01
50     1  2014-05  1.094886e+08  0.032316         NaN         NaN 2014-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2015
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
58     1  2015-01  1.591488e+08 -0.120581         NaN         NaN 2015-01-01
59     1  2015-02  1.598343e+08  0.004307         NaN         NaN 2015-02-01
60     1  2015-03  1.799421e+08  0.125804         NaN         NaN 2015-03-01
61     1  2015-04  2.289549e+08  0.283535         NaN         NaN 2015-04-01
62     1  2015-05  2.192089e+08 -0.082635         NaN         NaN 2015-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2016
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
70     1  2016-01  1.430868e+08 -0.165972         NaN         NaN 2016-01-01
71     1  2016-02  1.367909e+08 -0.044000         NaN         NaN 2016-02-01
72     1  2016-03  1.522443e+08  0.112971         NaN         NaN 2016-03-01
73     1  2016-04  1.512427e+08 -0.006579         NaN         NaN 2016-04-01
74     1  2016-05  1.509565e+08 -0.001892         NaN         NaN 2016-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2017
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
82     1  2017-01  1.601999e+08  0.025275         NaN         NaN 2017-01-01
83     1  2017-02  1.627755e+08  0.016077         NaN         NaN 2017-02-01
84     1  2017-03  1.574527e+08 -0.032700         NaN         NaN 2017-03-01
85     1  2017-04  1.543620e+08 -0.019629         NaN         NaN 2017-04-01
86     1  2017-05  1.579678e+08  0.023359         NaN         NaN 2017-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2018
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
94     1  2018-01  2.412443e+08  0.056391         NaN         NaN 2018-01-01
95     1  2018-02  2.069035e+08 -0.142349         NaN         NaN 2018-02-01
96     1  2018-03  1.871575e+08 -0.095436         NaN         NaN 2018-03-01
97     1  2018-04  1.862990e+08 -0.004587         NaN         NaN 2018-04-01
98     1  2018-05  1.747948e+08 -0.061751         NaN         NaN 2018-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2019
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
106     1  2019-01  1.905916e+08  0.183369         NaN         NaN 2019-01-01
107     1  2019-02  2.122263e+08  0.113514         NaN         NaN 2019-02-01
108     1  2019-03  2.201247e+08  0.037217         NaN         NaN 2019-03-01
109     1  2019-04  2.378102e+08  0.080343         NaN         NaN 2019-04-01
110     1  2019-05  2.091356e+08 -0.120578         NaN         NaN 2019-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2020
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
118     1  2020-01  3.015680e+08 -0.055319         0.0         0.0 2020-01-01
119     1  2020-02  2.813858e+08 -0.066924         0.0         0.0 2020-02-01
120     1  2020-03  2.483958e+08 -0.117241         0.0         0.0 2020-03-01
121     1  2020-04  2.703244e+08  0.088281         0.0         0.0 2020-04-01
122     1  2020-05  2.522769e+08 -0.051197         0.0         0.0 2020-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2021
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
130     1  2021-01  4.480827e+08  0.193899         0.0         0.0 2021-01-01
131     1  2021-02  4.148985e+08 -0.074058         0.0         0.0 2021-02-01
132     1  2021-03  4.271243e+08  0.029467         0.0         0.0 2021-03-01
133     1  2021-04  4.519638e+08  0.058155         0.0         0.0 2021-04-01
134     1  2021-05  4.696232e+08  0.047092         0.0         0.0 2021-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2022
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
142     1  2022-01  3.071957e+08 -0.039442         0.0         0.0 2022-01-01
143     1  2022-02  3.056432e+08 -0.005054         0.0         0.0 2022-02-01
144     1  2022-03  2.984630e+08 -0.023492         0.0         0.0 2022-03-01
145     1  2022-04  2.972987e+08 -0.003901         0.0         0.0 2022-04-01
146     1  2022-05  2.747878e+08 -0.075718         0.0         0.0 2022-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2023
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
154     1  2023-01  2.908947e+08  0.139058         0.0         0.0 2023-01-01
155     1  2023-02  2.674136e+08 -0.080720         0.0         0.0 2023-02-01
156     1  2023-03  2.431562e+08 -0.090711         0.0         0.0 2023-03-01
157     1  2023-04  2.435443e+08  0.001596         0.0         0.0 2023-04-01
158     1  2023-05  2.251087e+08 -0.075697         0.0         0.0 2023-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2024
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
166     1  2024-01  1.835800e+08  0.007455         0.0         0.0 2024-01-01
167     1  2024-02  2.055087e+08  0.119450         0.0         0.0 2024-02-01
168     1  2024-03  2.041503e+08 -0.006610         0.0         0.0 2024-03-01
331     2  2024-01  9.335229e+07 -0.082218         0.0         0.0 2024-01-01
332     2  2024-02  9.763093e+07  0.045833         0.0         0.0 2024-02-01
**********
third
12.0
**********
first
4.0
**********
half
8.0

In [329]:
df2_market_value.reset_index()
df1_group.reset_index()

,index,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,统计日期,分组
0,0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,2013-09-30,2
1,1,2013-09-30,4,34.3400,0.0000,inf,民营企业,2013-09-30,0
2,2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,2013-09-30,0
3,3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,2013-09-30,1
4,4,2013-09-30,8,68.5400,0.0000,inf,民营企业,2013-09-30,3
...,...,...,...,...,...,...,...,...,...
84518,84518,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,2023-06-30,4
84519,84519,2023-06-30,873305,79.7865,0.0000,inf,民营企业,2023-06-30,4
84520,84520,2023-06-30,873339,81.9562,0.0000,inf,民营企业,2023-06-30,4
84521,84521,2023-06-30,873527,58.8700,0.0000,inf,民营企业,2023-06-30,2
84522,84522,2023-06-30,873593,63.1500,0.0000,inf,民营企业,2023-06-30,3

In [330]:
df2_market_value

# df2_market_value.to_excel('个股市值统计.xlsx',index=False)
# df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01
...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01

In [331]:
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01
...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01

In [332]:

# 假设你的DataFrame叫df，日期列叫'最新统计日期'
# 我们假设年份和日不变，只是月份改变了
df2_market_value['new_month'] = (df2_market_value['统计日期'].dt.month *3/4).astype(int)
df2_market_value['new_year'] = df2_market_value['统计日期'].dt.year
df2_market_value['new_day'] = 30  # 假设每月的第一天
df2_market_value
# 构建新的日期字符串
#df2_market_value['新统计日期'] = pd.to_datetime(df2_market_value[['new_year', 'new_month', 'new_day']])

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,new_month,new_year,new_day
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01,9,2010,30
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01,9,2010,30
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01,9,2010,30
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01,9,2010,30
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01,9,2010,30
...,...,...,...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01,6,2023,30
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01,6,2023,30
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01,6,2023,30
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01,6,2023,30
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01,6,2023,30

In [333]:


# 假设 new_year 和 new_month 已经定义
df2_market_value['最新统计日期'] = pd.to_datetime(df2_market_value['new_year'].astype(str) + '-' + df2_market_value['new_month'].astype(str) + '-01')
df2_market_value['最新统计日期'] = df2_market_value['最新统计日期'] + pd.offsets.MonthEnd()

In [334]:
# df2_market_value['新统计日期'] = pd.to_datetime(df2_market_value[['new_year', 'new_month', 'new_day']])


# df2_market_value['最新统计日期'] = pd.to_datetime({
#     'year': df2_market_value['new_year'],
#     'month': df2_market_value['new_month'],
#     'day': df2_market_value['new_day']
# })

In [335]:
df2_market_value.drop(columns=['new_year', 'new_month', 'new_day'], inplace=True)
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,最新统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01,2010-09-30
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01,2010-09-30
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01,2010-09-30
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01,2010-09-30
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01,2010-09-30
...,...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01,2023-06-30
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01,2023-06-30
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01,2023-06-30
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01,2023-06-30
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01,2023-06-30

In [343]:
# 设置join column
df1_group['最新统计日期'] = df1_group['统计日期']

df1_group['证券代码'] = df1_group['证券代码'].astype(str)
df1_group['最新统计日期'] = pd.to_datetime(df1_group['最新统计日期'])

df2_market_value['证券代码'] = df2_market_value['证券代码'].astype(str)
df2_market_value['最新统计日期'] = pd.to_datetime(df2_market_value['最新统计日期'])

In [344]:
df2_market_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140686 entries, 0 to 140685
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   证券代码        140686 non-null  object
 1   交易月份        140686 non-null  object
 2   个股市值        140686 non-null  float64
 3   个股月回报率      139618 non-null  float64
 4   Unnamed: 4  64705 non-null   float64
 5   Unnamed: 5  64705 non-null   float64
 6   统计日期        140686 non-null  datetime64[ns]
 7   最新统计日期      140686 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(2)
memory usage: 8.6+ MB

In [345]:
df1_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84523 entries, 0 to 84522
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    84523 non-null  object
 1   证券代码      84523 non-null  object
 2   其他持股比例    84523 non-null  float64
 3   国有法人持股比例  84523 non-null  float64
 4   民营指数      84523 non-null  float64
 5   是否民营企业    84523 non-null  object
 6   统计日期      84523 non-null  datetime64[ns]
 7   分组        84523 non-null  int64
 8   最新统计日期    84523 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(1), object(3)
memory usage: 5.8+ MB

### df1_merged_group

merge df1_group, df2_market_value

In [362]:

df1_merged_group = pd.merge(df1_group, df2_market_value, on=['证券代码','最新统计日期'],how='inner')
df1_merged_group

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,统计日期_x,分组,最新统计日期,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期_y
0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,2013-09-30,2,2013-09-30,2013-12,1.004177e+08,-0.099265,NaN,NaN,2013-12-01
1,2013-09-30,4,34.3400,0.0000,inf,民营企业,2013-09-30,0,2013-09-30,2013-12,9.783284e+05,-0.068745,NaN,NaN,2013-12-01
2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,2013-09-30,0,2013-09-30,2013-12,2.285834e+06,-0.060150,NaN,NaN,2013-12-01
3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,2013-09-30,1,2013-09-30,2013-12,3.205799e+06,-0.019774,NaN,NaN,2013-12-01
4,2013-09-30,8,68.5400,0.0000,inf,民营企业,2013-09-30,3,2013-09-30,2013-12,2.732415e+06,-0.104478,NaN,NaN,2013-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82506,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,2023-06-30,4,2023-06-30,2023-08,4.309609e+05,-0.064846,0.0,0.0,2023-08-01
82507,2023-06-30,873305,79.7865,0.0000,inf,民营企业,2023-06-30,4,2023-06-30,2023-08,4.620839e+05,-0.044485,0.0,0.0,2023-08-01
82508,2023-06-30,873339,81.9562,0.0000,inf,民营企业,2023-06-30,4,2023-06-30,2023-08,8.918254e+05,-0.038005,0.0,0.0,2023-08-01
82509,2023-06-30,873527,58.8700,0.0000,inf,民营企业,2023-06-30,2,2023-06-30,2023-08,3.884763e+05,-0.051320,0.0,0.0,2023-08-01
82510,2023-06-30,873593,63.1500,0.0000,inf,民营企业,2023-06-30,3,2023-06-30,2023-08,3.721708e+06,-0.098837,0.0,0.0,2023-08-01

In [383]:
df1_merged_group_0 = df1_merged_group[df1_merged_group['分组'] == 0]

In [384]:
df1_merged_group_0.tail()

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,统计日期_x,分组,最新统计日期,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期_y
82235,2023-06-30,688589,28.35,12.97,2.185813,民营企业,2023-06-30,0,2023-06-30,2023-08,4037849.23,-0.021845,2200.0,89492.0,2023-08-01
82242,2023-06-30,688598,34.54,0.00,inf,民营企业,2023-06-30,0,2023-06-30,2023-08,11604788.74,-0.271289,200.0,16720.0,2023-08-01
82329,2023-06-30,830809,38.04,0.00,inf,民营企业,2023-06-30,0,2023-06-30,2023-08,2923021.72,-0.427545,0.0,0.0,2023-08-01
82330,2023-06-30,830832,27.68,0.00,inf,民营企业,2023-06-30,0,2023-06-30,2023-08,557830.74,-0.127983,0.0,0.0,2023-08-01
82392,2023-06-30,833781,34.46,3.66,9.415301,民营企业,2023-06-30,0,2023-06-30,2023-08,583139.34,-0.128151,0.0,0.0,2023-08-01

In [361]:

# df1_merged_group_0_sum = df1_merged_group_0.groupby(by=["最新统计日期"]).sum()
# df1_merged_group_0_sum

### 个股 市值权重 in group and date

根据df1 group， 进行个股权重计算

In [388]:
# # 取个股 市值 by date / 组内市值总和
# # save in a new dataframe
# # ['证券代码'] ['个股市值'] ['个股组内权重']
def getDF_stock_weight_group(df1_merged_group, df1_merged_group_sum):
    df_stock_weight_group = pd.DataFrame(columns=['证券代码', '个股市值', '个股组内权重', '最新统计日期'] )
    
    for index, row in df1_merged_group.iterrows():
        # print(row['证券代码'])
        # print(row['个股市值'])
        # print(row['最新统计日期'])
        # print('group market value')
        group_row = df1_merged_group_sum[df1_merged_group_sum.index == row['最新统计日期']]
        # print(group_row['个股市值'])
        
        stock_weight = row['个股市值'] / group_row['个股市值'].item()   
        
        # print('stock_weight=======')
        # print(stock_weight)
        
        data = {'证券代码': row['证券代码'], '个股市值': row['个股市值'], '个股组内权重':stock_weight, '最新统计日期': row['最新统计日期'].to_pydatetime()}
        # print(data)
    
        df_stock_weight_group = df_stock_weight_group.append(data, ignore_index=True)
    
    return df_stock_weight_group

In [389]:

def getDF_stock_weight_group_by_number(index, df1_merged_group):
    
    df1_merged_group = df1_merged_group[df1_merged_group['分组'] == index]
    
    #sum
    df1_merged_group_sum = df1_merged_group.groupby(by=["最新统计日期"]).sum()
    
    df_stock_weight_group = getDF_stock_weight_group(df1_merged_group, df1_merged_group_sum)   
    
    return df_stock_weight_group

In [390]:

df_stock_weight_group0 = getDF_stock_weight_group_by_number(0, df1_merged_group)
df_stock_weight_group0

         证券代码         个股市值    个股组内权重     最新统计日期
0           4    978328.37  0.000553 2013-09-30
1           5   2285834.02  0.001292 2013-09-30
2           9  11853731.37  0.006702 2013-09-30
3          12  10685797.76  0.006042 2013-09-30
4          17   1333144.47  0.000754 2013-09-30
...       ...          ...       ...        ...
16434  688589   4037849.23  0.000460 2023-06-30
16435  688598  11604788.74  0.001322 2023-06-30
16436  830809   2923021.72  0.000333 2023-06-30
16437  830832    557830.74  0.000064 2023-06-30
16438  833781    583139.34  0.000066 2023-06-30

[16439 rows x 4 columns]

In [391]:
df_stock_weight_group1 = getDF_stock_weight_group_by_number(1, df1_merged_group)
df_stock_weight_group1

         证券代码        个股市值    个股组内权重     最新统计日期
0           7  3205799.24  0.001735 2013-09-30
1          10  4510495.27  0.002441 2013-09-30
2          30  7655298.45  0.004142 2013-09-30
3          40  1958204.33  0.001060 2013-09-30
4         403  4284919.86  0.002319 2013-09-30
...       ...         ...       ...        ...
16472  836422   486654.91  0.000055 2023-06-30
16473  836892  1095668.94  0.000123 2023-06-30
16474  839719  1024958.33  0.000116 2023-06-30
16475  839729  1793176.00  0.000202 2023-06-30
16476  872541   437440.00  0.000049 2023-06-30

[16477 rows x 4 columns]

In [392]:
df_stock_weight_group2 = getDF_stock_weight_group_by_number(2, df1_merged_group)
df_stock_weight_group2

         证券代码          个股市值    个股组内权重     最新统计日期
0           1  1.004177e+08  0.048055 2013-09-30
1          18  9.543247e+05  0.000457 2013-09-30
2          20  1.186633e+06  0.000568 2013-09-30
3          68  4.940660e+06  0.002364 2013-09-30
4         150  1.759320e+06  0.000842 2013-09-30
...       ...           ...       ...        ...
16448  839680  8.080188e+05  0.000083 2023-06-30
16449  839946  3.428757e+05  0.000035 2023-06-30
16450  871396  3.843522e+05  0.000039 2023-06-30
16451  871478  1.113536e+06  0.000114 2023-06-30
16452  873527  3.884763e+05  0.000040 2023-06-30

[16453 rows x 4 columns]

In [393]:
df_stock_weight_group3 = getDF_stock_weight_group_by_number(3, df1_merged_group)
df_stock_weight_group3

         证券代码         个股市值    个股组内权重     最新统计日期
0           8   2732414.76  0.001898 2013-09-30
1          42   6130253.82  0.004258 2013-09-30
2         413  13594790.00  0.009443 2013-09-30
3         415  10039791.01  0.006973 2013-09-30
4         506   4254901.35  0.002955 2013-09-30
...       ...          ...       ...        ...
16516  872190    988000.01  0.000129 2023-06-30
16517  872351    493954.08  0.000064 2023-06-30
16518  873152    630275.08  0.000082 2023-06-30
16519  873169    407783.42  0.000053 2023-06-30
16520  873593   3721708.02  0.000485 2023-06-30

[16521 rows x 4 columns]

In [394]:
df_stock_weight_group4 = getDF_stock_weight_group_by_number(4, df1_merged_group)
df_stock_weight_group4

         证券代码         个股市值    个股组内权重     最新统计日期
0          22   7341721.26  0.003538 2013-09-30
1          38   1202849.98  0.000580 2013-09-30
2          39  18306264.95  0.008822 2013-09-30
3          46  20462329.84  0.009861 2013-09-30
4          62   7903355.09  0.003809 2013-09-30
...       ...          ...       ...        ...
16616  872953   1315448.64  0.000115 2023-06-30
16617  873167    597360.34  0.000052 2023-06-30
16618  873223    430960.90  0.000038 2023-06-30
16619  873305    462083.89  0.000040 2023-06-30
16620  873339    891825.39  0.000078 2023-06-30

[16621 rows x 4 columns]

In [ ]:
# sum_a = df_stock_weight_group4['个股组内权重'].sum()

# sum_a

33.0

# Dataset 月度回报率

### Description

trd_month as datasource

每个 个股 交易时间 

每个个股 在每个季度的权重  in df_stock_weight_groupN

个股组内权重 at timestamp （xxxx-03, xxxx-06, xxxx-09）

个股组内权重 * 4个月 个股月度回报率 （最新统计日期）


a new dataframe - seucrity code, datetime, weighted stock monthly return

weighted stock monthly return = weight (3 kinds) *  monthly return (12 months)

In [ ]:
df3['DATE'] = df3['统计日期'].dt.date

df3['统计日期-4'] = df3['DATE'] - relativedelta(months = 4)
df3.info

<bound method DataFrame.info of           证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5  \
0            1  2010-01  67387912.64 -0.109561         NaN         NaN
1            1  2010-02  69716987.96  0.034562         NaN         NaN
2            1  2010-03  72046063.28  0.033408         NaN         NaN
3            1  2010-04  63847718.15 -0.113793         NaN         NaN
4            1  2010-05  54376145.17 -0.148346         NaN         NaN
...        ...      ...          ...       ...         ...         ...
573112  900957  2023-11    144486.00  0.037596         0.0         0.0
573113  900957  2023-12    144137.00 -0.002418         0.0         0.0
573114  900957  2024-01    143788.00 -0.002430         0.0         0.0
573115  900957  2024-02    155305.00  0.080101         0.0         0.0
573116  900957  2024-03    145882.00 -0.060674         0.0         0.0

             统计日期        DATE      统计日期-4
0      2010-01-01  2010-01-01  2009-09-01
1      2010-02-01  2010-02-01  2009-10-01
2      2010-03-01  2010-03-01  2009-11-01
3      2010-04-01  2010-04-01  2009-12-01
4      2010-05-01  2010-05-01  2010-01-01
...           ...         ...         ...
573112 2023-11-01  2023-11-01  2023-07-01
573113 2023-12-01  2023-12-01  2023-08-01
573114 2024-01-01  2024-01-01  2023-09-01
573115 2024-02-01  2024-02-01  2023-10-01
573116 2024-03-01  2024-03-01  2023-11-01

[573117 rows x 9 columns]>

In [ ]:
df3.head()

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,DATE,统计日期-4
0,1,2010-01,67387912.64,-0.109561,NaN,NaN,2010-01-01,2010-01-01,2009-09-01
1,1,2010-02,69716987.96,0.034562,NaN,NaN,2010-02-01,2010-02-01,2009-10-01
2,1,2010-03,72046063.28,0.033408,NaN,NaN,2010-03-01,2010-03-01,2009-11-01
3,1,2010-04,63847718.15,-0.113793,NaN,NaN,2010-04-01,2010-04-01,2009-12-01
4,1,2010-05,54376145.17,-0.148346,NaN,NaN,2010-05-01,2010-05-01,2010-01-01

# Comment

In [ ]:

# for month, (start_month, end_month) in periods.items():
#     # 筛选出分组月份的数据
#     df1_monthly = df1_sorted[df1_sorted['统计日期'].dt.month == month]

#     # 对每一年的数据进行操作
#     for year in df1_monthly['统计日期'].dt.year.unique():
#         # 获取当前年份和上一年的数据
#         current_year_data = df1_monthly[df1_monthly['统计日期'].dt.year == year]
#         previous_year_data = df1_monthly[df1_monthly['统计日期'].dt.year == year - 1]

#         # 对当前年份的数据进行分组
#         current_year_data['分组'] = pd.qcut(current_year_data['其他持股比例'], 5, labels=False, duplicates='drop')

#         # 遍历每个分组
#         for group in range(5):
#             # 获取上一年同一分组的证券代码
#             previous_group_codes = previous_year_data[previous_year_data['证券代码'].isin(current_year_data[current_year_data['分组'] == group]['证券代码'])]['证券代码']

#             # 计算加权回报率
#             for month in range(start_month, end_month + 1):
#                 # 获取对应月份的数据
#                 df2_monthly = df2[(df2['统计日期'].dt.year == year) & (df2['统计日期'].dt.month == month)]

#                 # 筛选出属于当前分组的股票
#                 df2_group = df2_monthly[df2_monthly['证券代码'].isin(previous_group_codes)]

#                 # 计算加权回报率
#                 total_market_value = df2_group['个股市值'].sum()
#                 df2_group['加权回报率'] = df2_group['个股市值'] / total_market_value * df2_group['个股月回报率']
#                 weighted_return = df2_group['加权回报率'].sum()

#                 # 将结果存储到grouped_returns中
#                 new_data = pd.DataFrame({
#                     '年份': [year],
#                     '月份': [month],
#                     '分组': [group],
#                     '加权回报率': [weighted_return]
#                 })

#                 grouped_returns = pd.concat([grouped_returns, new_data], ignore_index=True)
# print(grouped_returns.head())
# grouped_returns.to_excel('计算.xlsx', index=False)