### Definition

In [2]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta

import warnings

# 忽略所有警告
warnings.filterwarnings('ignore')

In [4]:
# import data
df1_1 = pd.read_excel('证券2.xlsx', engine='openpyxl')
df1_2 = pd.read_excel('证券1.xlsx', engine='openpyxl')
df1_3 = pd.concat([df1_1, df1_2], ignore_index=True)
df1 = df1_3[df1_3['民营指数'] >= 1]

In [5]:
df2 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')
#df3 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')

In [6]:
df3 = df2.copy()

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573117 entries, 0 to 573116
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   证券代码        573117 non-null  int64
 1   交易月份        573117 non-null  object
 2   个股市值        573117 non-null  float64
 3   个股月回报率      569272 non-null  float64
 4   Unnamed: 4  261084 non-null  float64
 5   Unnamed: 5  261084 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 26.2+ MB

In [8]:
df1.dtypes

统计截止日期       object
证券代码          int64
其他持股比例      float64
国有法人持股比例    float64
民营指数        float64
是否民营企业       object
dtype: object

In [9]:
df1['统计日期'] = pd.to_datetime(df1['统计截止日期'])
df2['统计日期'] = pd.to_datetime(df2['交易月份'])
df3['统计日期'] = pd.to_datetime(df3['交易月份'])

### df1_sorted

In [10]:
df1_sorted = df1.sort_values(by=['统计日期', '其他持股比例'], ascending=[True, False])
df1_sorted

            统计截止日期    证券代码  其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期
1167    2013-03-31    2703   94.92      0.00         inf   民营企业 2013-03-31
451     2013-03-31     981   92.33      0.60  153.883333   民营企业 2013-03-31
734     2013-03-31    2269   91.08      0.55  165.600000   民营企业 2013-03-31
1115    2013-03-31    2651   90.92      0.18  505.111111   民营企业 2013-03-31
1027    2013-03-31    2563   90.64      0.00         inf   民营企业 2013-03-31
...            ...     ...     ...       ...         ...    ...        ...
82710   2023-12-31    2407   18.60      1.57   11.847134   民营企业 2023-12-31
154507  2023-12-31  600503   18.09      0.00         inf   民营企业 2023-12-31
154470  2023-12-31  600354   16.26     14.09    1.154010   民营企业 2023-12-31
82748   2023-12-31    2640   14.81      8.47    1.748524   民营企业 2023-12-31
154300  2023-12-31  300659    0.93      0.00         inf   民营企业 2023-12-31

[111123 rows x 7 columns]

In [11]:
# grouped_returns = pd.DataFrame()

# # 9 三季报
# # 3 一季报
# # 6 半年报
# periods = {
#     9: (1, 4),
#     3: (5, 8),
#     6: (9, 12)
# }

In [12]:
report_months = {
    'third': 9,
    'first': 3,
    'half': 6
}

In [13]:
df1_sorted

            统计截止日期    证券代码  其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期
1167    2013-03-31    2703   94.92      0.00         inf   民营企业 2013-03-31
451     2013-03-31     981   92.33      0.60  153.883333   民营企业 2013-03-31
734     2013-03-31    2269   91.08      0.55  165.600000   民营企业 2013-03-31
1115    2013-03-31    2651   90.92      0.18  505.111111   民营企业 2013-03-31
1027    2013-03-31    2563   90.64      0.00         inf   民营企业 2013-03-31
...            ...     ...     ...       ...         ...    ...        ...
82710   2023-12-31    2407   18.60      1.57   11.847134   民营企业 2023-12-31
154507  2023-12-31  600503   18.09      0.00         inf   民营企业 2023-12-31
154470  2023-12-31  600354   16.26     14.09    1.154010   民营企业 2023-12-31
82748   2023-12-31    2640   14.81      8.47    1.748524   民营企业 2023-12-31
154300  2023-12-31  300659    0.93      0.00         inf   民营企业 2023-12-31

[111123 rows x 7 columns]

In [14]:
# add a new column in the df1
df1["分组"] = ""

In [15]:
df1

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

In [16]:
df1_copy = df1.copy()
len(df1_copy.index) 
df1_copy

            统计截止日期    证券代码   其他持股比例  国有法人持股比例       民营指数 是否民营企业       统计日期 分组
0       2013-03-31       1  57.3500      1.81  31.685083   民营企业 2013-03-31
1       2013-03-31       4  36.0100      0.00        inf   民营企业 2013-03-31
2       2013-03-31       5  26.9300      3.64   7.398352   民营企业 2013-03-31
4       2013-03-31       7  43.3800      0.00        inf   民营企业 2013-03-31
5       2013-03-31       8  69.6900      0.00        inf   民营企业 2013-03-31
...            ...     ...      ...       ...        ...    ...        ... ..
154990  2023-12-31  871553  67.4700      0.00        inf   民营企业 2023-12-31
154991  2023-12-31  872925  70.8403      0.00        inf   民营企业 2023-12-31
154993  2023-12-31  873576  47.6400     30.91   1.541249   民营企业 2023-12-31
154994  2023-12-31  873703  80.3100      0.00        inf   民营企业 2023-12-31
154995  2023-12-31  873833  60.8500     15.27   3.984938   民营企业 2023-12-31

[111123 rows x 8 columns]

### Dataset df1_group
对公司进行分组 按照季度进行调仓

In [38]:

df1_group = pd.DataFrame()

df1_year_keymonth_size = 0

# 对公司进行分组 按照季度进行调仓
for year in df1['统计日期'].dt.year.unique():
    print('****** loop *******')
    print(year)
    
    
    for key, key_month in report_months.items():
        print('*****loop 季度*****')
        print(key)
        print(key_month)
         
        df1_year_keymonth = df1.loc[(df1['统计日期'].dt.year == year ) & (df1['统计日期'].dt.month == key_month)]
        
        df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['其他持股比例'], 10, labels=False, duplicates='drop')
        
        df1_year_keymonth.info()
        
        df1_year_keymonth_size += len(df1_year_keymonth.index) 
        
        df1_group = df1_group.append(df1_year_keymonth, ignore_index=True)
        
        
df1_group

****** loop *******
2013
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 3046 to 84796
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1532 non-null   object
 1   证券代码      1532 non-null   int64
 2   其他持股比例    1532 non-null   float64
 3   国有法人持股比例  1532 non-null   float64
 4   民营指数      1532 non-null   float64
 5   是否民营企业    1532 non-null   object
 6   统计日期      1532 non-null   datetime64[ns]
 7   分组        1532 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 107.7+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1151 entries, 0 to 1521
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1151 non-null   object
 1   证券代码      1151 non-null   int64
 2   其他持股比例    1151 non-null   float64
 3   国有法人持股比例  1151 non-null   float64
 4   民营指数      1151 non-null   float64
 5   是否民营企业    1151 non-null   object
 6   统计日期      1151 non-null   datetime64[ns]
 7   分组        1151 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 80.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1529 entries, 1522 to 83856
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1529 non-null   object
 1   证券代码      1529 non-null   int64
 2   其他持股比例    1529 non-null   float64
 3   国有法人持股比例  1529 non-null   float64
 4   民营指数      1529 non-null   float64
 5   是否民营企业    1529 non-null   object
 6   统计日期      1529 non-null   datetime64[ns]
 7   分组        1529 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 107.5+ KB
****** loop *******
2014
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1623 entries, 9270 to 88618
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1623 non-null   object
 1   证券代码      1623 non-null   int64
 2   其他持股比例    1623 non-null   float64
 3   国有法人持股比例  1623 non-null   float64
 4   民营指数      1623 non-null   float64
 5   是否民营企业    1623 non-null   object
 6   统计日期      1623 non-null   datetime64[ns]
 7   分组        1623 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 114.1+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1587 entries, 6134 to 86695
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1587 non-null   object
 1   证券代码      1587 non-null   int64
 2   其他持股比例    1587 non-null   float64
 3   国有法人持股比例  1587 non-null   float64
 4   民营指数      1587 non-null   float64
 5   是否民营企业    1587 non-null   object
 6   统计日期      1587 non-null   datetime64[ns]
 7   分组        1587 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 111.6+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594 entries, 7700 to 87648
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1594 non-null   object
 1   证券代码      1594 non-null   int64
 2   其他持股比例    1594 non-null   float64
 3   国有法人持股比例  1594 non-null   float64
 4   民营指数      1594 non-null   float64
 5   是否民营企业    1594 non-null   object
 6   统计日期      1594 non-null   datetime64[ns]
 7   分组        1594 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 112.1+ KB
****** loop *******
2015
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1834 entries, 15845 to 92773
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1834 non-null   object
 1   证券代码      1834 non-null   int64
 2   其他持股比例    1834 non-null   float64
 3   国有法人持股比例  1834 non-null   float64
 4   民营指数      1834 non-null   float64
 5   是否民营企业    1834 non-null   object
 6   统计日期      1834 non-null   datetime64[ns]
 7   分组        1834 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 129.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 12486 to 90649
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1731 non-null   object
 1   证券代码      1731 non-null   int64
 2   其他持股比例    1731 non-null   float64
 3   国有法人持股比例  1731 non-null   float64
 4   民营指数      1731 non-null   float64
 5   是否民营企业    1731 non-null   object
 6   统计日期      1731 non-null   datetime64[ns]
 7   分组        1731 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 121.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1840 entries, 14127 to 91711
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1840 non-null   object
 1   证券代码      1840 non-null   int64
 2   其他持股比例    1840 non-null   float64
 3   国有法人持股比例  1840 non-null   float64
 4   民营指数      1840 non-null   float64
 5   是否民营企业    1840 non-null   object
 6   统计日期      1840 non-null   datetime64[ns]
 7   分组        1840 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 129.4+ KB
****** loop *******
2016
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 22835 to 97173
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1999 non-null   object
 1   证券代码      1999 non-null   int64
 2   其他持股比例    1999 non-null   float64
 3   国有法人持股比例  1999 non-null   float64
 4   民营指数      1999 non-null   float64
 5   是否民营企业    1999 non-null   object
 6   统计日期      1999 non-null   datetime64[ns]
 7   分组        1999 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 140.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1894 entries, 19309 to 94935
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1894 non-null   object
 1   证券代码      1894 non-null   int64
 2   其他持股比例    1894 non-null   float64
 3   国有法人持股比例  1894 non-null   float64
 4   民营指数      1894 non-null   float64
 5   是否民营企业    1894 non-null   object
 6   统计日期      1894 non-null   datetime64[ns]
 7   分组        1894 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 133.2+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1933 entries, 21060 to 96040
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1933 non-null   object
 1   证券代码      1933 non-null   int64
 2   其他持股比例    1933 non-null   float64
 3   国有法人持股比例  1933 non-null   float64
 4   民营指数      1933 non-null   float64
 5   是否民营企业    1933 non-null   object
 6   统计日期      1933 non-null   datetime64[ns]
 7   分组        1933 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 135.9+ KB
****** loop *******
2017
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2426 entries, 30470 to 102375
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2426 non-null   object
 1   证券代码      2426 non-null   int64
 2   其他持股比例    2426 non-null   float64
 3   国有法人持股比例  2426 non-null   float64
 4   民营指数      2426 non-null   float64
 5   是否民营企业    2426 non-null   object
 6   统计日期      2426 non-null   datetime64[ns]
 7   分组        2426 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 170.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2232 entries, 26549 to 99639
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2232 non-null   object
 1   证券代码      2232 non-null   int64
 2   其他持股比例    2232 non-null   float64
 3   国有法人持股比例  2232 non-null   float64
 4   民营指数      2232 non-null   float64
 5   是否民营企业    2232 non-null   object
 6   统计日期      2232 non-null   datetime64[ns]
 7   分组        2232 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 156.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 28490 to 100976
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2356 non-null   object
 1   证券代码      2356 non-null   int64
 2   其他持股比例    2356 non-null   float64
 3   国有法人持股比例  2356 non-null   float64
 4   民营指数      2356 non-null   float64
 5   是否民营企业    2356 non-null   object
 6   统计日期      2356 non-null   datetime64[ns]
 7   分组        2356 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 165.7+ KB
****** loop *******
2018
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2565 entries, 38527 to 108372
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2565 non-null   object
 1   证券代码      2565 non-null   int64
 2   其他持股比例    2565 non-null   float64
 3   国有法人持股比例  2565 non-null   float64
 4   民营指数      2565 non-null   float64
 5   是否民营企业    2565 non-null   object
 6   统计日期      2565 non-null   datetime64[ns]
 7   分组        2565 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 180.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2535 entries, 34482 to 105339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2535 non-null   object
 1   证券代码      2535 non-null   int64
 2   其他持股比例    2535 non-null   float64
 3   国有法人持股比例  2535 non-null   float64
 4   民营指数      2535 non-null   float64
 5   是否民营企业    2535 non-null   object
 6   统计日期      2535 non-null   datetime64[ns]
 7   分组        2535 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 178.2+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2562 entries, 36504 to 106849
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2562 non-null   object
 1   证券代码      2562 non-null   int64
 2   其他持股比例    2562 non-null   float64
 3   国有法人持股比例  2562 non-null   float64
 4   民营指数      2562 non-null   float64
 5   是否民营企业    2562 non-null   object
 6   统计日期      2562 non-null   datetime64[ns]
 7   分组        2562 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 180.1+ KB
****** loop *******
2019
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2681 entries, 46675 to 114740
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2681 non-null   object
 1   证券代码      2681 non-null   int64
 2   其他持股比例    2681 non-null   float64
 3   国有法人持股比例  2681 non-null   float64
 4   民营指数      2681 non-null   float64
 5   是否民营企业    2681 non-null   object
 6   统计日期      2681 non-null   datetime64[ns]
 7   分组        2681 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 188.5+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2607 entries, 42591 to 111489
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2607 non-null   object
 1   证券代码      2607 non-null   int64
 2   其他持股比例    2607 non-null   float64
 3   国有法人持股比例  2607 non-null   float64
 4   民营指数      2607 non-null   float64
 5   是否民营企业    2607 non-null   object
 6   统计日期      2607 non-null   datetime64[ns]
 7   分组        2607 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 183.3+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2636 entries, 44631 to 113093
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2636 non-null   object
 1   证券代码      2636 non-null   int64
 2   其他持股比例    2636 non-null   float64
 3   国有法人持股比例  2636 non-null   float64
 4   民营指数      2636 non-null   float64
 5   是否民营企业    2636 non-null   object
 6   统计日期      2636 non-null   datetime64[ns]
 7   分组        2636 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 185.3+ KB
****** loop *******
2020
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2983 entries, 54902 to 122066
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2983 non-null   object
 1   证券代码      2983 non-null   int64
 2   其他持股比例    2983 non-null   float64
 3   国有法人持股比例  2983 non-null   float64
 4   民营指数      2983 non-null   float64
 5   是否民营企业    2983 non-null   object
 6   统计日期      2983 non-null   datetime64[ns]
 7   分组        2983 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 209.7+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2783 entries, 50778 to 118245
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2783 non-null   object
 1   证券代码      2783 non-null   int64
 2   其他持股比例    2783 non-null   float64
 3   国有法人持股比例  2783 non-null   float64
 4   民营指数      2783 non-null   float64
 5   是否民营企业    2783 non-null   object
 6   统计日期      2783 non-null   datetime64[ns]
 7   分组        2783 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 195.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2873 entries, 52838 to 120101
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2873 non-null   object
 1   证券代码      2873 non-null   int64
 2   其他持股比例    2873 non-null   float64
 3   国有法人持股比例  2873 non-null   float64
 4   民营指数      2873 non-null   float64
 5   是否民营企业    2873 non-null   object
 6   统计日期      2873 non-null   datetime64[ns]
 7   分组        2873 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 202.0+ KB
****** loop *******
2021
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3447 entries, 63314 to 131140
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3447 non-null   object
 1   证券代码      3447 non-null   int64
 2   其他持股比例    3447 non-null   float64
 3   国有法人持股比例  3447 non-null   float64
 4   民营指数      3447 non-null   float64
 5   是否民营企业    3447 non-null   object
 6   统计日期      3447 non-null   datetime64[ns]
 7   分组        3447 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 242.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3192 entries, 59092 to 126373
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3192 non-null   object
 1   证券代码      3192 non-null   int64
 2   其他持股比例    3192 non-null   float64
 3   国有法人持股比例  3192 non-null   float64
 4   民营指数      3192 non-null   float64
 5   是否民营企业    3192 non-null   object
 6   统计日期      3192 non-null   datetime64[ns]
 7   分组        3192 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 224.4+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3326 entries, 61199 to 128684
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3326 non-null   object
 1   证券代码      3326 non-null   int64
 2   其他持股比例    3326 non-null   float64
 3   国有法人持股比例  3326 non-null   float64
 4   民营指数      3326 non-null   float64
 5   是否民营企业    3326 non-null   object
 6   统计日期      3326 non-null   datetime64[ns]
 7   分组        3326 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 233.9+ KB
****** loop *******
2022
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3769 entries, 71810 to 142010
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3769 non-null   object
 1   证券代码      3769 non-null   int64
 2   其他持股比例    3769 non-null   float64
 3   国有法人持股比例  3769 non-null   float64
 4   民营指数      3769 non-null   float64
 5   是否民营企业    3769 non-null   object
 6   统计日期      3769 non-null   datetime64[ns]
 7   分组        3769 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 265.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3640 entries, 67560 to 136436
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3640 non-null   object
 1   证券代码      3640 non-null   int64
 2   其他持股比例    3640 non-null   float64
 3   国有法人持股比例  3640 non-null   float64
 4   民营指数      3640 non-null   float64
 5   是否民营企业    3640 non-null   object
 6   统计日期      3640 non-null   datetime64[ns]
 7   分组        3640 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 255.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3691 entries, 69688 to 139179
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3691 non-null   object
 1   证券代码      3691 non-null   int64
 2   其他持股比例    3691 non-null   float64
 3   国有法人持股比例  3691 non-null   float64
 4   民营指数      3691 non-null   float64
 5   是否民营企业    3691 non-null   object
 6   统计日期      3691 non-null   datetime64[ns]
 7   分组        3691 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 259.5+ KB
****** loop *******
2023
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4038 entries, 80363 to 154299
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    4038 non-null   object
 1   证券代码      4038 non-null   int64
 2   其他持股比例    4038 non-null   float64
 3   国有法人持股比例  4038 non-null   float64
 4   民营指数      4038 non-null   float64
 5   是否民营企业    4038 non-null   object
 6   统计日期      4038 non-null   datetime64[ns]
 7   分组        4038 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 283.9+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3927 entries, 76088 to 148006
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3927 non-null   object
 1   证券代码      3927 non-null   int64
 2   其他持股比例    3927 non-null   float64
 3   国有法人持股比例  3927 non-null   float64
 4   民营指数      3927 non-null   float64
 5   是否民营企业    3927 non-null   object
 6   统计日期      3927 non-null   datetime64[ns]
 7   分组        3927 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 276.1+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4007 entries, 78237 to 151131
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    4007 non-null   object
 1   证券代码      4007 non-null   int64

           统计截止日期    证券代码   其他持股比例  国有法人持股比例        民营指数 是否民营企业       统计日期  分组
0      2013-09-30       1  57.0600    1.8100   31.524862   民营企业 2013-09-30   4
1      2013-09-30       4  34.3400    0.0000         inf   民营企业 2013-09-30   1
2      2013-09-30       5  26.2200    3.6400    7.203297   民营企业 2013-09-30   0
3      2013-09-30       7  46.1200    0.4900   94.122449   民营企业 2013-09-30   2
4      2013-09-30       8  68.5400    0.0000         inf   民营企业 2013-09-30   7
...           ...     ...      ...       ...         ...    ...        ...  ..
84518  2023-06-30  873223  73.1996    0.6358  115.129915   民营企业 2023-06-30   8
84519  2023-06-30  873305  79.7865    0.0000         inf   民营企业 2023-06-30   9
84520  2023-06-30  873339  81.9562    0.0000         inf   民营企业 2023-06-30   9
84521  2023-06-30  873527  58.8700    0.0000         inf   民营企业 2023-06-30   5
84522  2023-06-30  873593  63.1500    0.0000         inf   民营企业 2023-06-30   6

[84523 rows x 8 columns]

In [39]:
df1_year_keymonth_size

84523

In [40]:
df1_group

df1_group.to_excel('加权权重分组.xlsx',index=False)

### Dataset df2_market_value

进行加权平均计算月度回报率（分组过后+加权之后）

匹配时间节点上的公司市值

匹配相应时间段的月度回报率数据

In [42]:
# 进行加权平均计算月度回报率（分组过后+加权之后）
# 匹配时间节点上的公司市值
# 匹配相应时间段的月度回报率数据

df2_market_value = pd.DataFrame()
# loop years
for year in df2['统计日期'].dt.year.unique():
    print('*************')
    print(year)
    current_year_data = df2[df2['统计日期'].dt.year == year] # type: ignore
    print(current_year_data.head())
    
    # loop 季报 调仓时候的市值 
    for key, key_month in report_months.items():
        print('**********')
        print(key)
        print(key_month*4/3)
        current_year_df_monthly = current_year_data[current_year_data['统计日期'].dt.month == key_month*4/3]
        #print(current_year_df_monthly.info())
        #计算权重
    
        df2_market_value = df2_market_value.append(current_year_df_monthly, ignore_index=True)

*************
2010
   证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
0     1  2010-01  67387912.64 -0.109561         NaN         NaN 2010-01-01
1     1  2010-02  69716987.96  0.034562         NaN         NaN 2010-02-01
2     1  2010-03  72046063.28  0.033408         NaN         NaN 2010-03-01
3     1  2010-04  63847718.15 -0.113793         NaN         NaN 2010-04-01
4     1  2010-05  54376145.17 -0.148346         NaN         NaN 2010-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2011
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
10     1  2011-01  53355560.70 -0.030399         NaN         NaN 2011-01-01
11     1  2011-02  55516269.23  0.040496         NaN         NaN 2011-02-01
12     1  2011-03  56039021.29  0.009416         NaN         NaN 2011-03-01
13     1  2011-04  63427250.47  0.131841         NaN         NaN 2011-04-01
14     1  2011-05  61545343.04 -0.029670         NaN         NaN 2011-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2012
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
22     1  2012-01  85252550.92  0.067351         NaN         NaN 2012-01-01
23     1  2012-02  87609292.11  0.027644         NaN         NaN 2012-02-01
24     1  2012-03  80487835.04 -0.081287         NaN         NaN 2012-03-01
25     1  2012-04  84842682.89  0.054106         NaN         NaN 2012-04-01
26     1  2012-05  80385368.03 -0.052536         NaN         NaN 2012-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2013
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
34     1  2013-01  1.081027e+08  0.317104         NaN         NaN 2013-01-01
35     1  2013-02  1.178371e+08  0.090047         NaN         NaN 2013-02-01
36     1  2013-03  1.030818e+08 -0.125217         NaN         NaN 2013-03-01
37     1  2013-04  9.580665e+07 -0.070577         NaN         NaN 2013-04-01
38     1  2013-05  1.075391e+08  0.122460         NaN         NaN 2013-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2014
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
46     1  2014-01  1.085365e+08 -0.069388         NaN         NaN 2014-01-01
47     1  2014-02  1.059659e+08 -0.023684         NaN         NaN 2014-02-01
48     1  2014-03  1.025384e+08 -0.032345         NaN         NaN 2014-03-01
49     1  2014-04  1.060611e+08  0.034355         NaN         NaN 2014-04-01
50     1  2014-05  1.094886e+08  0.032316         NaN         NaN 2014-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2015
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
58     1  2015-01  1.591488e+08 -0.120581         NaN         NaN 2015-01-01
59     1  2015-02  1.598343e+08  0.004307         NaN         NaN 2015-02-01
60     1  2015-03  1.799421e+08  0.125804         NaN         NaN 2015-03-01
61     1  2015-04  2.289549e+08  0.283535         NaN         NaN 2015-04-01
62     1  2015-05  2.192089e+08 -0.082635         NaN         NaN 2015-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2016
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
70     1  2016-01  1.430868e+08 -0.165972         NaN         NaN 2016-01-01
71     1  2016-02  1.367909e+08 -0.044000         NaN         NaN 2016-02-01
72     1  2016-03  1.522443e+08  0.112971         NaN         NaN 2016-03-01
73     1  2016-04  1.512427e+08 -0.006579         NaN         NaN 2016-04-01
74     1  2016-05  1.509565e+08 -0.001892         NaN         NaN 2016-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2017
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
82     1  2017-01  1.601999e+08  0.025275         NaN         NaN 2017-01-01
83     1  2017-02  1.627755e+08  0.016077         NaN         NaN 2017-02-01
84     1  2017-03  1.574527e+08 -0.032700         NaN         NaN 2017-03-01
85     1  2017-04  1.543620e+08 -0.019629         NaN         NaN 2017-04-01
86     1  2017-05  1.579678e+08  0.023359         NaN         NaN 2017-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2018
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
94     1  2018-01  2.412443e+08  0.056391         NaN         NaN 2018-01-01
95     1  2018-02  2.069035e+08 -0.142349         NaN         NaN 2018-02-01
96     1  2018-03  1.871575e+08 -0.095436         NaN         NaN 2018-03-01
97     1  2018-04  1.862990e+08 -0.004587         NaN         NaN 2018-04-01
98     1  2018-05  1.747948e+08 -0.061751         NaN         NaN 2018-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2019
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
106     1  2019-01  1.905916e+08  0.183369         NaN         NaN 2019-01-01
107     1  2019-02  2.122263e+08  0.113514         NaN         NaN 2019-02-01
108     1  2019-03  2.201247e+08  0.037217         NaN         NaN 2019-03-01
109     1  2019-04  2.378102e+08  0.080343         NaN         NaN 2019-04-01
110     1  2019-05  2.091356e+08 -0.120578         NaN         NaN 2019-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2020
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
118     1  2020-01  3.015680e+08 -0.055319         0.0         0.0 2020-01-01
119     1  2020-02  2.813858e+08 -0.066924         0.0         0.0 2020-02-01
120     1  2020-03  2.483958e+08 -0.117241         0.0         0.0 2020-03-01
121     1  2020-04  2.703244e+08  0.088281         0.0         0.0 2020-04-01
122     1  2020-05  2.522769e+08 -0.051197         0.0         0.0 2020-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2021
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
130     1  2021-01  4.480827e+08  0.193899         0.0         0.0 2021-01-01
131     1  2021-02  4.148985e+08 -0.074058         0.0         0.0 2021-02-01
132     1  2021-03  4.271243e+08  0.029467         0.0         0.0 2021-03-01
133     1  2021-04  4.519638e+08  0.058155         0.0         0.0 2021-04-01
134     1  2021-05  4.696232e+08  0.047092         0.0         0.0 2021-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2022
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
142     1  2022-01  3.071957e+08 -0.039442         0.0         0.0 2022-01-01
143     1  2022-02  3.056432e+08 -0.005054         0.0         0.0 2022-02-01
144     1  2022-03  2.984630e+08 -0.023492         0.0         0.0 2022-03-01
145     1  2022-04  2.972987e+08 -0.003901         0.0         0.0 2022-04-01
146     1  2022-05  2.747878e+08 -0.075718         0.0         0.0 2022-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2023
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
154     1  2023-01  2.908947e+08  0.139058         0.0         0.0 2023-01-01
155     1  2023-02  2.674136e+08 -0.080720         0.0         0.0 2023-02-01
156     1  2023-03  2.431562e+08 -0.090711         0.0         0.0 2023-03-01
157     1  2023-04  2.435443e+08  0.001596         0.0         0.0 2023-04-01
158     1  2023-05  2.251087e+08 -0.075697         0.0         0.0 2023-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2024
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
166     1  2024-01  1.835800e+08  0.007455         0.0         0.0 2024-01-01
167     1  2024-02  2.055087e+08  0.119450         0.0         0.0 2024-02-01
168     1  2024-03  2.041503e+08 -0.006610         0.0         0.0 2024-03-01
331     2  2024-01  9.335229e+07 -0.082218         0.0         0.0 2024-01-01
332     2  2024-02  9.763093e+07  0.045833         0.0         0.0 2024-02-01
**********
third
12.0
**********
first
4.0
**********
half
8.0

In [43]:
df2_market_value.reset_index()
df1_group.reset_index()

,index,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,统计日期,分组
0,0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,2013-09-30,4
1,1,2013-09-30,4,34.3400,0.0000,inf,民营企业,2013-09-30,1
2,2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,2013-09-30,0
3,3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,2013-09-30,2
4,4,2013-09-30,8,68.5400,0.0000,inf,民营企业,2013-09-30,7
...,...,...,...,...,...,...,...,...,...
84518,84518,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,2023-06-30,8
84519,84519,2023-06-30,873305,79.7865,0.0000,inf,民营企业,2023-06-30,9
84520,84520,2023-06-30,873339,81.9562,0.0000,inf,民营企业,2023-06-30,9
84521,84521,2023-06-30,873527,58.8700,0.0000,inf,民营企业,2023-06-30,5
84522,84522,2023-06-30,873593,63.1500,0.0000,inf,民营企业,2023-06-30,6

In [44]:
df2_market_value

df2_market_value.to_excel('个股市值统计.xlsx',index=False)
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01
...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01

In [45]:
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01
...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01

In [46]:

# 假设你的DataFrame叫df，日期列叫'最新统计日期'
# 我们假设年份和日不变，只是月份改变了
df2_market_value['new_month'] = (df2_market_value['统计日期'].dt.month *3/4).astype(int)
df2_market_value['new_year'] = df2_market_value['统计日期'].dt.year
df2_market_value['new_day'] = 30  # 假设每月的第一天
df2_market_value
# 构建新的日期字符串
#df2_market_value['新统计日期'] = pd.to_datetime(df2_market_value[['new_year', 'new_month', 'new_day']])

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,new_month,new_year,new_day
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01,9,2010,30
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01,9,2010,30
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01,9,2010,30
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01,9,2010,30
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01,9,2010,30
...,...,...,...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01,6,2023,30
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01,6,2023,30
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01,6,2023,30
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01,6,2023,30
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01,6,2023,30

In [47]:


# 假设 new_year 和 new_month 已经定义
df2_market_value['最新统计日期'] = pd.to_datetime(df2_market_value['new_year'].astype(str) + '-' + df2_market_value['new_month'].astype(str) + '-01')
df2_market_value['最新统计日期'] = df2_market_value['最新统计日期'] + pd.offsets.MonthEnd()

In [48]:
# df2_market_value['新统计日期'] = pd.to_datetime(df2_market_value[['new_year', 'new_month', 'new_day']])


# df2_market_value['最新统计日期'] = pd.to_datetime({
#     'year': df2_market_value['new_year'],
#     'month': df2_market_value['new_month'],
#     'day': df2_market_value['new_day']
# })

In [49]:
df2_market_value.drop(columns=['new_year', 'new_month', 'new_day'], inplace=True)
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,最新统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01,2010-09-30
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01,2010-09-30
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01,2010-09-30
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01,2010-09-30
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01,2010-09-30
...,...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01,2023-06-30
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01,2023-06-30
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01,2023-06-30
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01,2023-06-30
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01,2023-06-30

In [50]:
df1_group['最新统计日期'] = df1_group['统计日期']

df1_group['证券代码'] = df1_group['证券代码'].astype(str)
df1_group['最新统计日期'] = pd.to_datetime(df1_group['最新统计日期'])

df2_market_value['证券代码'] = df2_market_value['证券代码'].astype(str)
df2_market_value['最新统计日期'] = pd.to_datetime(df2_market_value['最新统计日期'])

In [51]:
df2_market_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140686 entries, 0 to 140685
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   证券代码        140686 non-null  object
 1   交易月份        140686 non-null  object
 2   个股市值        140686 non-null  float64
 3   个股月回报率      139618 non-null  float64
 4   Unnamed: 4  64705 non-null   float64
 5   Unnamed: 5  64705 non-null   float64
 6   统计日期        140686 non-null  datetime64[ns]
 7   最新统计日期      140686 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(2)
memory usage: 8.6+ MB

In [52]:
df1_group.head()

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,统计日期,分组,最新统计日期
0,2013-09-30,1,57.06,1.81,31.524862,民营企业,2013-09-30,4,2013-09-30
1,2013-09-30,4,34.34,0.00,inf,民营企业,2013-09-30,1,2013-09-30
2,2013-09-30,5,26.22,3.64,7.203297,民营企业,2013-09-30,0,2013-09-30
3,2013-09-30,7,46.12,0.49,94.122449,民营企业,2013-09-30,2,2013-09-30
4,2013-09-30,8,68.54,0.00,inf,民营企业,2013-09-30,7,2013-09-30

### df1_merged_group

merge df1_group, df2_market_value

In [53]:

df1_merged_group = pd.merge(df1_group, df2_market_value, on=['证券代码','最新统计日期'],how='inner')
df1_merged_group

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,统计日期_x,分组,最新统计日期,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期_y
0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,2013-09-30,4,2013-09-30,2013-12,1.004177e+08,-0.099265,NaN,NaN,2013-12-01
1,2013-09-30,4,34.3400,0.0000,inf,民营企业,2013-09-30,1,2013-09-30,2013-12,9.783284e+05,-0.068745,NaN,NaN,2013-12-01
2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,2013-09-30,0,2013-09-30,2013-12,2.285834e+06,-0.060150,NaN,NaN,2013-12-01
3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,2013-09-30,2,2013-09-30,2013-12,3.205799e+06,-0.019774,NaN,NaN,2013-12-01
4,2013-09-30,8,68.5400,0.0000,inf,民营企业,2013-09-30,7,2013-09-30,2013-12,2.732415e+06,-0.104478,NaN,NaN,2013-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82506,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,2023-06-30,8,2023-06-30,2023-08,4.309609e+05,-0.064846,0.0,0.0,2023-08-01
82507,2023-06-30,873305,79.7865,0.0000,inf,民营企业,2023-06-30,9,2023-06-30,2023-08,4.620839e+05,-0.044485,0.0,0.0,2023-08-01
82508,2023-06-30,873339,81.9562,0.0000,inf,民营企业,2023-06-30,9,2023-06-30,2023-08,8.918254e+05,-0.038005,0.0,0.0,2023-08-01
82509,2023-06-30,873527,58.8700,0.0000,inf,民营企业,2023-06-30,5,2023-06-30,2023-08,3.884763e+05,-0.051320,0.0,0.0,2023-08-01
82510,2023-06-30,873593,63.1500,0.0000,inf,民营企业,2023-06-30,6,2023-06-30,2023-08,3.721708e+06,-0.098837,0.0,0.0,2023-08-01

In [54]:
# df1_merged_group_0 = df1_merged_group[df1_merged_group['分组'] == 0]
# df1_merged_group_0.head()

In [55]:

# df1_merged_group_0_sum = df1_merged_group_0.groupby(by=["最新统计日期"]).sum()
# df1_merged_group_0_sum

### 个股 市值权重 in group and date

根据df1 group， 进行个股权重计算

In [56]:
# # 取个股 市值 by date / 组内市值总和
# # save in a new dataframe
# # ['证券代码'] ['个股市值'] ['个股组内权重']
def getDF_stock_weight_group(df1_merged_group, df1_merged_group_sum):
    df_stock_weight_group = pd.DataFrame(columns=['证券代码', '个股市值', '个股组内权重','最新统计日期'] )
    
    for index, row in df1_merged_group.iterrows():
        # print(row['证券代码'])
        # print(row['个股市值'])
        # print(row['最新统计日期'])
        # print('group market value')
        group_row = df1_merged_group_sum[df1_merged_group_sum.index == row['最新统计日期']]
        # print(group_row['个股市值'])
        
        stock_weight = row['个股市值'] / group_row['个股市值'].item()   
        
        # print('stock_weight=======')
        # print(stock_weight)
        
        data = {'证券代码': row['证券代码'], '个股市值': row['个股市值'], '个股组内权重':stock_weight, '最新统计日期':row['最新统计日期'] }
        #print(data)
        #print(df_tmp.head())
    
        df_stock_weight_group = df_stock_weight_group.append(data, ignore_index=True)
    
    return df_stock_weight_group

In [57]:

def getDF_stock_weight_group_by_number(index, df1_merged_group):
    
    df1_merged_group = df1_merged_group[df1_merged_group['分组'] == index]
    df1_merged_group_sum = df1_merged_group.groupby(by=["最新统计日期"]).sum()
    df_stock_weight_group = getDF_stock_weight_group(df1_merged_group, df1_merged_group_sum)   
    
    return df_stock_weight_group

In [58]:
df_stock_weight_group0 = getDF_stock_weight_group_by_number(0, df1_merged_group)
df_stock_weight_group0

        证券代码         个股市值    个股组内权重     最新统计日期
0          5   2285834.02  0.002173 2013-09-30
1          9  11853731.37  0.011271 2013-09-30
2         12  10685797.76  0.010160 2013-09-30
3         17   1333144.47  0.001268 2013-09-30
4         33   1271491.91  0.001209 2013-09-30
...      ...          ...       ...        ...
8215  688299   4256615.27  0.001018 2023-06-30
8216  688321   9258065.73  0.002213 2023-06-30
8217  688518   8361480.46  0.001999 2023-06-30
8218  688589   4037849.23  0.000965 2023-06-30
8219  830832    557830.74  0.000133 2023-06-30

[8220 rows x 4 columns]

In [59]:
df_stock_weight_group1 = getDF_stock_weight_group_by_number(1, df1_merged_group)
df_stock_weight_group1

        证券代码         个股市值    个股组内权重     最新统计日期
0          4    978328.37  0.001365 2013-09-30
1         19   1705959.93  0.002379 2013-09-30
2         23   1093399.17  0.001525 2013-09-30
3         36   3236796.61  0.004515 2013-09-30
4         48   4341439.93  0.006055 2013-09-30
...      ...          ...       ...        ...
8214  688485   2479819.02  0.000540 2023-06-30
8215  688543   7351100.40  0.001600 2023-06-30
8216  688598  11604788.74  0.002526 2023-06-30
8217  830809   2923021.72  0.000636 2023-06-30
8218  833781    583139.34  0.000127 2023-06-30

[8219 rows x 4 columns]

In [60]:
df_stock_weight_group2 = getDF_stock_weight_group_by_number(2, df1_merged_group)
df_stock_weight_group2

        证券代码        个股市值    个股组内权重     最新统计日期
0          7  3205799.24  0.003349 2013-09-30
1         10  4510495.27  0.004712 2013-09-30
2         30  7655298.45  0.007998 2013-09-30
3         40  1958204.33  0.002046 2013-09-30
4        403  4284919.86  0.004477 2013-09-30
...      ...         ...       ...        ...
8222  833751   486835.80  0.000113 2023-06-30
8223  833873   463228.75  0.000108 2023-06-30
8224  836208  1953000.79  0.000455 2023-06-30
8225  836892  1095668.94  0.000255 2023-06-30
8226  839719  1024958.33  0.000239 2023-06-30

[8227 rows x 4 columns]

In [61]:
df_stock_weight_group3 = getDF_stock_weight_group_by_number(3, df1_merged_group)
df_stock_weight_group3

        证券代码        个股市值    个股组内权重     最新统计日期
0        525  7608702.74  0.008540 2013-09-30
1        526  1846946.05  0.002073 2013-09-30
2        540  7467919.29  0.008382 2013-09-30
3        560  1376811.45  0.001545 2013-09-30
4        572  6249618.42  0.007015 2013-09-30
...      ...         ...       ...        ...
8245  832566   848588.65  0.000185 2023-06-30
8246  834021   856799.95  0.000187 2023-06-30
8247  836422   486654.91  0.000106 2023-06-30
8248  839729  1793176.00  0.000392 2023-06-30
8249  872541   437440.00  0.000096 2023-06-30

[8250 rows x 4 columns]

In [62]:
df_stock_weight_group4 = getDF_stock_weight_group_by_number(4, df1_merged_group)
df_stock_weight_group4

        证券代码          个股市值    个股组内权重     最新统计日期
0          1  1.004177e+08  0.096083 2013-09-30
1         18  9.543247e+05  0.000913 2013-09-30
2         20  1.186633e+06  0.001135 2013-09-30
3         68  4.940660e+06  0.004727 2013-09-30
4        150  1.759320e+06  0.001683 2013-09-30
...      ...           ...       ...        ...
8225  833914  8.630000e+05  0.000190 2023-06-30
8226  835174  8.748847e+05  0.000193 2023-06-30
8227  836942  5.599164e+05  0.000124 2023-06-30
8228  839946  3.428757e+05  0.000076 2023-06-30
8229  871396  3.843522e+05  0.000085 2023-06-30

[8230 rows x 4 columns]

In [63]:
#TODO 5
df_stock_weight_group5 = getDF_stock_weight_group_by_number(5, df1_merged_group)
df_stock_weight_group5

        证券代码        个股市值    个股组内权重     最新统计日期
0        513  9876121.10  0.009455 2013-09-30
1        534  2125242.97  0.002035 2013-09-30
2        639  3295649.60  0.003155 2013-09-30
3        697  4387582.64  0.004201 2013-09-30
4        708  2584098.76  0.002474 2013-09-30
...      ...         ...       ...        ...
8218  835857   558290.95  0.000107 2023-06-30
8219  836149   275854.92  0.000053 2023-06-30
8220  839680   808018.79  0.000155 2023-06-30
8221  871478  1113535.65  0.000214 2023-06-30
8222  873527   388476.27  0.000075 2023-06-30

[8223 rows x 4 columns]

In [64]:
# 6
df_stock_weight_group6 = getDF_stock_weight_group_by_number(6, df1_merged_group)
df_stock_weight_group6

        证券代码         个股市值    个股组内权重     最新统计日期
0        506   4254901.35  0.005464 2013-09-30
1        671   9699057.61  0.012455 2013-09-30
2        712  10281600.00  0.013203 2013-09-30
3        810   1698620.91  0.002181 2013-09-30
4        869  12243441.60  0.015722 2013-09-30
...      ...          ...       ...        ...
8247  871642    796187.74  0.000187 2023-06-30
8248  872190    988000.01  0.000231 2023-06-30
8249  872351    493954.08  0.000116 2023-06-30
8250  873152    630275.08  0.000148 2023-06-30
8251  873593   3721708.02  0.000872 2023-06-30

[8252 rows x 4 columns]

In [65]:
# 7 
df_stock_weight_group7 = getDF_stock_weight_group_by_number(7, df1_merged_group)
df_stock_weight_group7

        证券代码         个股市值    个股组内权重     最新统计日期
0          8   2732414.76  0.004134 2013-09-30
1         42   6130253.82  0.009274 2013-09-30
2        413  13594790.00  0.020568 2013-09-30
3        415  10039791.01  0.015189 2013-09-30
4        558   2168125.88  0.003280 2013-09-30
...      ...          ...       ...        ...
8264  870866   1028975.69  0.000303 2023-06-30
8265  871245    423637.50  0.000125 2023-06-30
8266  871553    436819.00  0.000128 2023-06-30
8267  871970    375284.55  0.000110 2023-06-30
8268  873169    407783.42  0.000120 2023-06-30

[8269 rows x 4 columns]

In [66]:
# 8
df_stock_weight_group8 = getDF_stock_weight_group_by_number(8, df1_merged_group)
df_stock_weight_group8

        证券代码         个股市值    个股组内权重     最新统计日期
0         38   1202849.98  0.001703 2013-09-30
1         39  18306264.95  0.025923 2013-09-30
2        718   9337390.00  0.013223 2013-09-30
3        876  24900805.51  0.035262 2013-09-30
4        935   3430351.34  0.004858 2013-09-30
...      ...          ...       ...        ...
8292  871634    446848.74  0.000122 2023-06-30
8293  871981   1016259.72  0.000276 2023-06-30
8294  872925    775746.70  0.000211 2023-06-30
8295  873167    597360.34  0.000162 2023-06-30
8296  873223    430960.90  0.000117 2023-06-30

[8297 rows x 4 columns]

In [67]:
# 9 
df_stock_weight_group9 = getDF_stock_weight_group_by_number(9, df1_merged_group)
df_stock_weight_group9

        证券代码         个股市值    个股组内权重     最新统计日期
0         22   7341721.26  0.005363 2013-09-30
1         46  20462329.84  0.014948 2013-09-30
2         62   7903355.09  0.005774 2013-09-30
3        517   5189793.65  0.003791 2013-09-30
4        536  18906319.73  0.013812 2013-09-30
...      ...          ...       ...        ...
8319  872392    352200.00  0.000045 2023-06-30
8320  872895    325578.24  0.000042 2023-06-30
8321  872953   1315448.64  0.000169 2023-06-30
8322  873305    462083.89  0.000059 2023-06-30
8323  873339    891825.39  0.000114 2023-06-30

[8324 rows x 4 columns]

# Dataset 加权月度回报率

### Description
trd_month as datasource

每个 个股 交易时间

每个个股 在每个季度的权重 in df_stock_weight_groupN

个股组内权重 at timestamp （xxxx-03, xxxx-06, xxxx-09）

个股组内权重(4个月) * 个股月度回报率 （最新统计日期）

df_stock_weight_groupN

#### a new dataframe - seucrity code, datetime (df3_DATE), 统计日期-4 (alignment), weighted stock monthly return

#### weighted stock monthly return = weight (3 kinds) * monthly return (12 months)

monthly return (12 months) = get from df3 by df3[证券代码] and df3[统计日期-4]

weight (3 kinds) = df3[统计日期-4] --> 

{

xxxx-03 : (1-4)  2014-03 --> 

xxxx-06 : (5-8)  2014-06 --> 

xxxx-09 : (9-12) 2014-10 --> 

}

### fake code


combine df_stock_weight_group0 and add a new column for group

loop df3 

weighted stock monthly return = weight (3 kinds) * monthly return (12 months) --->
weight (3 kinds) --->  df_stock_weight_groupN ---> df_stock_weight_group0 + 1 + 2 + 3 +4

df_stock_weight_group0[最新统计日期] <-||->  df3[统计日期-4]
df_stock_weight_group0[证券代码] <--> df3[证券代码]

function (Date){


}


array [证券代码, 统计日期-4, DATE, 个股月回报率, weighted stock monthly return, 分组]

##### combine df_stock_weight_group0 and add a new column for group
df_stock_weight_groupN ---> df_stock_weight_group0 + 1 + 2 + 3 +4

In [68]:
df_stock_weight_group0['group'] = 0
df_stock_weight_group1['group'] = 1
df_stock_weight_group2['group'] = 2
df_stock_weight_group3['group'] = 3
df_stock_weight_group4['group'] = 4
#TODO
df_stock_weight_group5['group'] = 5
df_stock_weight_group6['group'] = 6
df_stock_weight_group7['group'] = 7
df_stock_weight_group8['group'] = 8
df_stock_weight_group9['group'] = 9

In [69]:
df_stock_weight_group0
df_stock_weight_group1

        证券代码         个股市值    个股组内权重     最新统计日期  group
0          4    978328.37  0.001365 2013-09-30      1
1         19   1705959.93  0.002379 2013-09-30      1
2         23   1093399.17  0.001525 2013-09-30      1
3         36   3236796.61  0.004515 2013-09-30      1
4         48   4341439.93  0.006055 2013-09-30      1
...      ...          ...       ...        ...    ...
8214  688485   2479819.02  0.000540 2023-06-30      1
8215  688543   7351100.40  0.001600 2023-06-30      1
8216  688598  11604788.74  0.002526 2023-06-30      1
8217  830809   2923021.72  0.000636 2023-06-30      1
8218  833781    583139.34  0.000127 2023-06-30      1

[8219 rows x 5 columns]

In [70]:
df_stock_weight_group2
df_stock_weight_group3

        证券代码        个股市值    个股组内权重     最新统计日期  group
0        525  7608702.74  0.008540 2013-09-30      3
1        526  1846946.05  0.002073 2013-09-30      3
2        540  7467919.29  0.008382 2013-09-30      3
3        560  1376811.45  0.001545 2013-09-30      3
4        572  6249618.42  0.007015 2013-09-30      3
...      ...         ...       ...        ...    ...
8245  832566   848588.65  0.000185 2023-06-30      3
8246  834021   856799.95  0.000187 2023-06-30      3
8247  836422   486654.91  0.000106 2023-06-30      3
8248  839729  1793176.00  0.000392 2023-06-30      3
8249  872541   437440.00  0.000096 2023-06-30      3

[8250 rows x 5 columns]

In [71]:
df_stock_weight_group4

        证券代码          个股市值    个股组内权重     最新统计日期  group
0          1  1.004177e+08  0.096083 2013-09-30      4
1         18  9.543247e+05  0.000913 2013-09-30      4
2         20  1.186633e+06  0.001135 2013-09-30      4
3         68  4.940660e+06  0.004727 2013-09-30      4
4        150  1.759320e+06  0.001683 2013-09-30      4
...      ...           ...       ...        ...    ...
8225  833914  8.630000e+05  0.000190 2023-06-30      4
8226  835174  8.748847e+05  0.000193 2023-06-30      4
8227  836942  5.599164e+05  0.000124 2023-06-30      4
8228  839946  3.428757e+05  0.000076 2023-06-30      4
8229  871396  3.843522e+05  0.000085 2023-06-30      4

[8230 rows x 5 columns]

In [72]:
df_stock_weight_group5

        证券代码        个股市值    个股组内权重     最新统计日期  group
0        513  9876121.10  0.009455 2013-09-30      5
1        534  2125242.97  0.002035 2013-09-30      5
2        639  3295649.60  0.003155 2013-09-30      5
3        697  4387582.64  0.004201 2013-09-30      5
4        708  2584098.76  0.002474 2013-09-30      5
...      ...         ...       ...        ...    ...
8218  835857   558290.95  0.000107 2023-06-30      5
8219  836149   275854.92  0.000053 2023-06-30      5
8220  839680   808018.79  0.000155 2023-06-30      5
8221  871478  1113535.65  0.000214 2023-06-30      5
8222  873527   388476.27  0.000075 2023-06-30      5

[8223 rows x 5 columns]

In [73]:
df_stock_weight_group6

        证券代码         个股市值    个股组内权重     最新统计日期  group
0        506   4254901.35  0.005464 2013-09-30      6
1        671   9699057.61  0.012455 2013-09-30      6
2        712  10281600.00  0.013203 2013-09-30      6
3        810   1698620.91  0.002181 2013-09-30      6
4        869  12243441.60  0.015722 2013-09-30      6
...      ...          ...       ...        ...    ...
8247  871642    796187.74  0.000187 2023-06-30      6
8248  872190    988000.01  0.000231 2023-06-30      6
8249  872351    493954.08  0.000116 2023-06-30      6
8250  873152    630275.08  0.000148 2023-06-30      6
8251  873593   3721708.02  0.000872 2023-06-30      6

[8252 rows x 5 columns]

In [74]:
df_stock_weight_group = pd.concat([df_stock_weight_group9,df_stock_weight_group8,df_stock_weight_group7,df_stock_weight_group6,df_stock_weight_group5,df_stock_weight_group4, df_stock_weight_group3, df_stock_weight_group2, df_stock_weight_group1, df_stock_weight_group0], ignore_index=True)

df_stock_weight_group

         证券代码         个股市值    个股组内权重     最新统计日期  group
0          22   7341721.26  0.005363 2013-09-30      9
1          46  20462329.84  0.014948 2013-09-30      9
2          62   7903355.09  0.005774 2013-09-30      9
3         517   5189793.65  0.003791 2013-09-30      9
4         536  18906319.73  0.013812 2013-09-30      9
...       ...          ...       ...        ...    ...
82506  688299   4256615.27  0.001018 2023-06-30      0
82507  688321   9258065.73  0.002213 2023-06-30      0
82508  688518   8361480.46  0.001999 2023-06-30      0
82509  688589   4037849.23  0.000965 2023-06-30      0
82510  830832    557830.74  0.000133 2023-06-30      0

[82511 rows x 5 columns]

##### subset df3
证券代码	DATE	统计日期-4	个股月回报率

In [75]:
df3['DATE_str'] = df3['统计日期'].dt.date
df3['统计日期-4'] = df3['DATE_str'] - relativedelta(months = 4)
df3.head()

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,DATE_str,统计日期-4
0,1,2010-01,67387912.64,-0.109561,NaN,NaN,2010-01-01,2010-01-01,2009-09-01
1,1,2010-02,69716987.96,0.034562,NaN,NaN,2010-02-01,2010-02-01,2009-10-01
2,1,2010-03,72046063.28,0.033408,NaN,NaN,2010-03-01,2010-03-01,2009-11-01
3,1,2010-04,63847718.15,-0.113793,NaN,NaN,2010-04-01,2010-04-01,2009-12-01
4,1,2010-05,54376145.17,-0.148346,NaN,NaN,2010-05-01,2010-05-01,2010-01-01

In [76]:
df3_sub = df3[['证券代码','DATE_str', '统计日期-4','统计日期','个股月回报率']]
df3_sub

          证券代码    DATE_str      统计日期-4       统计日期    个股月回报率
0            1  2010-01-01  2009-09-01 2010-01-01 -0.109561
1            1  2010-02-01  2009-10-01 2010-02-01  0.034562
2            1  2010-03-01  2009-11-01 2010-03-01  0.033408
3            1  2010-04-01  2009-12-01 2010-04-01 -0.113793
4            1  2010-05-01  2010-01-01 2010-05-01 -0.148346
...        ...         ...         ...        ...       ...
573112  900957  2023-11-01  2023-07-01 2023-11-01  0.037596
573113  900957  2023-12-01  2023-08-01 2023-12-01 -0.002418
573114  900957  2024-01-01  2023-09-01 2024-01-01 -0.002430
573115  900957  2024-02-01  2023-10-01 2024-02-01  0.080101
573116  900957  2024-03-01  2023-11-01 2024-03-01 -0.060674

[573117 rows x 5 columns]

##### add a new column to map report date in df_stock_weight_group
{

xxxx-03 : (1-4) 2014-03 -->

xxxx-06 : (5-8) 2014-06 -->

xxxx-09 : (9-12) 2014-10 -->

}

In [77]:

df3_sub['统计日期-4'] = df3_sub['统计日期-4'].astype('str')
df3_sub['统计日期-4'] = pd.to_datetime(df3_sub['统计日期-4'])

df3_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573117 entries, 0 to 573116
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   证券代码      573117 non-null  int64
 1   DATE_str  573117 non-null  object
 2   统计日期-4    573117 non-null  datetime64[ns]
 3   统计日期      573117 non-null  datetime64[ns]
 4   个股月回报率    569272 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 21.9+ MB

##### update trading date
{

xxxx-03 : (1-4) 2014-03 -->

xxxx-06 : (5-8) 2014-06 -->

xxxx-09 : (9-12) 2014-10 -->

}

In [78]:
def getTradingMonth(row):

    if(4 >= row['new_month'] >= 1):
        newMonth = 3
    elif(8>= row['new_month'] >=5 ):
        newMonth = 6
    else:
        newMonth = 9
    return newMonth

In [79]:

df3_sub['new_month'] = (df3_sub['统计日期-4'].dt.month).astype(int)
df3_sub['new_trading_month'] = df3_sub.apply(getTradingMonth, axis=1)
df3_sub['new_year'] = df3_sub['统计日期-4'].dt.year
## end day
df3_sub['new_day'] = df3_sub['统计日期-4'].dt.day  



df3_sub['trading_date'] = pd.to_datetime({
    'year': df3_sub['new_year'],
    'month': df3_sub['new_trading_month'],
    'day': df3_sub['new_day']
})

In [80]:
df3_sub_trading = df3_sub[['证券代码','DATE_str', '统计日期-4','统计日期','个股月回报率', 'trading_date']]
df3_sub_trading['最新统计日期'] = df3_sub_trading['trading_date'] + pd.offsets.MonthEnd()

df3_sub_trading

,证券代码,DATE_str,统计日期-4,统计日期,个股月回报率,trading_date,最新统计日期
0,1,2010-01-01,2009-09-01,2010-01-01,-0.109561,2009-09-01,2009-09-30
1,1,2010-02-01,2009-10-01,2010-02-01,0.034562,2009-09-01,2009-09-30
2,1,2010-03-01,2009-11-01,2010-03-01,0.033408,2009-09-01,2009-09-30
3,1,2010-04-01,2009-12-01,2010-04-01,-0.113793,2009-09-01,2009-09-30
4,1,2010-05-01,2010-01-01,2010-05-01,-0.148346,2010-03-01,2010-03-31
...,...,...,...,...,...,...,...
573112,900957,2023-11-01,2023-07-01,2023-11-01,0.037596,2023-06-01,2023-06-30
573113,900957,2023-12-01,2023-08-01,2023-12-01,-0.002418,2023-06-01,2023-06-30
573114,900957,2024-01-01,2023-09-01,2024-01-01,-0.002430,2023-09-01,2023-09-30
573115,900957,2024-02-01,2023-10-01,2024-02-01,0.080101,2023-09-01,2023-09-30
573116,900957,2024-03-01,2023-11-01,2024-03-01,-0.060674,2023-09-01,2023-09-30

##### Append group 

##### merge df3_sub and df_stock_weight_group

column [证券代码, 统计日期-4, DATE, 个股月回报率, 分组]

['证券代码','DATE_str', '统计日期-4','统计日期','个股月回报率', 'trading_date']

In [81]:
df_stock_weight_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82511 entries, 0 to 82510
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   证券代码    82511 non-null  object
 1   个股市值    82511 non-null  float64
 2   个股组内权重  82511 non-null  float64
 3   最新统计日期  82511 non-null  datetime64[ns]
 4   group   82511 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 3.1+ MB

In [82]:
df3_sub_trading['证券代码'] = df3_sub_trading['证券代码'].astype(str)

df3_sub_trading['最新统计日期'] = pd.to_datetime(df3_sub_trading['最新统计日期'])
df_stock_weight_group['最新统计日期'] = pd.to_datetime(df_stock_weight_group['最新统计日期'])

In [83]:
df3_sub_trading.head()

  证券代码    DATE_str     统计日期-4       统计日期    个股月回报率 trading_date     最新统计日期
0    1  2010-01-01 2009-09-01 2010-01-01 -0.109561   2009-09-01 2009-09-30
1    1  2010-02-01 2009-10-01 2010-02-01  0.034562   2009-09-01 2009-09-30
2    1  2010-03-01 2009-11-01 2010-03-01  0.033408   2009-09-01 2009-09-30
3    1  2010-04-01 2009-12-01 2010-04-01 -0.113793   2009-09-01 2009-09-30
4    1  2010-05-01 2010-01-01 2010-05-01 -0.148346   2010-03-01 2010-03-31

In [84]:
df_stock_weight_group.head()

  证券代码         个股市值    个股组内权重     最新统计日期  group
0   22   7341721.26  0.005363 2013-09-30      9
1   46  20462329.84  0.014948 2013-09-30      9
2   62   7903355.09  0.005774 2013-09-30      9
3  517   5189793.65  0.003791 2013-09-30      9
4  536  18906319.73  0.013812 2013-09-30      9

In [85]:
df3_sub_trading_group = pd.merge(df3_sub_trading, df_stock_weight_group, on=['证券代码','最新统计日期'],how='left')

df3_sub_trading_group

,证券代码,DATE_str,统计日期-4,统计日期,个股月回报率,trading_date,最新统计日期,个股市值,个股组内权重,group
0,1,2010-01-01,2009-09-01,2010-01-01,-0.109561,2009-09-01,2009-09-30,NaN,NaN,NaN
1,1,2010-02-01,2009-10-01,2010-02-01,0.034562,2009-09-01,2009-09-30,NaN,NaN,NaN
2,1,2010-03-01,2009-11-01,2010-03-01,0.033408,2009-09-01,2009-09-30,NaN,NaN,NaN
3,1,2010-04-01,2009-12-01,2010-04-01,-0.113793,2009-09-01,2009-09-30,NaN,NaN,NaN
4,1,2010-05-01,2010-01-01,2010-05-01,-0.148346,2010-03-01,2010-03-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
573112,900957,2023-11-01,2023-07-01,2023-11-01,0.037596,2023-06-01,2023-06-30,NaN,NaN,NaN
573113,900957,2023-12-01,2023-08-01,2023-12-01,-0.002418,2023-06-01,2023-06-30,NaN,NaN,NaN
573114,900957,2024-01-01,2023-09-01,2024-01-01,-0.002430,2023-09-01,2023-09-30,NaN,NaN,NaN
573115,900957,2024-02-01,2023-10-01,2024-02-01,0.080101,2023-09-01,2023-09-30,NaN,NaN,NaN
573116,900957,2024-03-01,2023-11-01,2024-03-01,-0.060674,2023-09-01,2023-09-30,NaN,NaN,NaN

In [86]:
df3_sub_trading_group  = df3_sub_trading_group[['证券代码','统计日期-4','统计日期','trading_date','个股月回报率','个股组内权重','group']]

df3_sub_trading_group

          证券代码     统计日期-4       统计日期 trading_date    个股月回报率  个股组内权重  group
0            1 2009-09-01 2010-01-01   2009-09-01 -0.109561     NaN    NaN
1            1 2009-10-01 2010-02-01   2009-09-01  0.034562     NaN    NaN
2            1 2009-11-01 2010-03-01   2009-09-01  0.033408     NaN    NaN
3            1 2009-12-01 2010-04-01   2009-09-01 -0.113793     NaN    NaN
4            1 2010-01-01 2010-05-01   2010-03-01 -0.148346     NaN    NaN
...        ...        ...        ...          ...       ...     ...    ...
573112  900957 2023-07-01 2023-11-01   2023-06-01  0.037596     NaN    NaN
573113  900957 2023-08-01 2023-12-01   2023-06-01 -0.002418     NaN    NaN
573114  900957 2023-09-01 2024-01-01   2023-09-01 -0.002430     NaN    NaN
573115  900957 2023-10-01 2024-02-01   2023-09-01  0.080101     NaN    NaN
573116  900957 2023-11-01 2024-03-01   2023-09-01 -0.060674     NaN    NaN

[573117 rows x 7 columns]

##### weighted stock monthly return = weight (3 kinds) * monthly return (12 months)

array [证券代码, 统计日期-4, DATE, 个股月回报率, weighted stock monthly return, 分组]

In [87]:
# df3_sub_trading_group.dropna()

df3_sub_trading_group['个股加权回报率'] = df3_sub_trading_group['个股月回报率']* df3_sub_trading_group['个股组内权重']
df3_sub_trading_group['组间加权回报率'] = df3_sub_trading_group['个股加权回报率']

df3_sub_trading_group_final = df3_sub_trading_group[df3_sub_trading_group['group'].notna()]

df3_sub_trading_group_final

,证券代码,统计日期-4,统计日期,trading_date,个股月回报率,个股组内权重,group,个股加权回报率,组间加权回报率
38,1,2013-01-01,2013-05-01,2013-03-01,0.122460,0.202493,3.0,0.024797,0.024797
39,1,2013-02-01,2013-06-01,2013-03-01,-0.232797,0.202493,3.0,-0.047140,-0.047140
40,1,2013-03-01,2013-07-01,2013-03-01,-0.038114,0.202493,3.0,-0.007718,-0.007718
41,1,2013-04-01,2013-08-01,2013-03-01,0.106361,0.202493,3.0,0.021537,0.021537
42,1,2013-05-01,2013-09-01,2013-06-01,0.119698,0.104171,4.0,0.012469,0.012469
...,...,...,...,...,...,...,...,...,...
564637,873693,2023-10-01,2024-02-01,2023-09-01,0.040492,0.000468,9.0,0.000019,0.000019
564638,873693,2023-11-01,2024-03-01,2023-09-01,-0.170943,0.000468,9.0,-0.000080,-0.000080
564647,873726,2023-09-01,2024-01-01,2023-09-01,-0.275206,0.000555,9.0,-0.000153,-0.000153
564648,873726,2023-10-01,2024-02-01,2023-09-01,0.065128,0.000555,9.0,0.000036,0.000036
564649,873726,2023-11-01,2024-03-01,2023-09-01,-0.279311,0.000555,9.0,-0.000155,-0.000155

In [88]:
#df3_sub_trading_group_final.to_excel('df3_sub_trading_group_final.xlsx', index=False)

### 组间加权月度回报率
##### grouping weighted monthly return

according to the group, split the df

and group by DATE

In [125]:
df3_sub_trading_group_final_0 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 0]
df3_sub_trading_group_final_0.info()
df3_sub_trading_group_final_0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31844 entries, 225 to 561471
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          31844 non-null  object
 1   统计日期-4        31844 non-null  datetime64[ns]
 2   统计日期          31844 non-null  datetime64[ns]
 3   trading_date  31844 non-null  datetime64[ns]
 4   个股月回报率        31844 non-null  float64
 5   个股组内权重        31844 non-null  float64
 6   group         31844 non-null  float64
 7   个股加权回报率       31844 non-null  float64
 8   组间加权回报率       31844 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.4+ MB

,证券代码,统计日期-4,统计日期,trading_date,个股月回报率,个股组内权重,group,个股加权回报率,组间加权回报率
225,2,2014-05-01,2014-09-01,2014-06-01,0.006579,0.072242,0.0,0.000475,0.000475
226,2,2014-06-01,2014-10-01,2014-06-01,0.023965,0.072242,0.0,0.001731,0.001731
227,2,2014-07-01,2014-11-01,2014-06-01,0.159574,0.072242,0.0,0.011528,0.011528
228,2,2014-08-01,2014-12-01,2014-06-01,0.275229,0.072242,0.0,0.019883,0.019883
229,2,2014-09-01,2015-01-01,2014-09-01,-0.056115,0.076982,0.0,-0.004320,-0.004320
...,...,...,...,...,...,...,...,...,...
559783,830832,2023-10-01,2024-02-01,2023-09-01,0.072917,0.000198,0.0,0.000014,0.000014
559784,830832,2023-11-01,2024-03-01,2023-09-01,-0.170874,0.000198,0.0,-0.000034,-0.000034
561469,833751,2023-09-01,2024-01-01,2023-09-01,-0.252830,0.000229,0.0,-0.000058,-0.000058
561470,833751,2023-10-01,2024-02-01,2023-09-01,0.501263,0.000229,0.0,0.000115,0.000115
561471,833751,2023-11-01,2024-03-01,2023-09-01,-0.205214,0.000229,0.0,-0.000047,-0.000047

In [126]:
df3_sub_trading_group_final_0_group = df3_sub_trading_group_final_0.groupby(by=["统计日期"]).sum()
df3_sub_trading_group_final_0_group = df3_sub_trading_group_final_0_group[['组间加权回报率','group']]
df3_sub_trading_group_final_0_group

             组间加权回报率  group
统计日期
2013-05-01  0.128495    0.0
2013-06-01 -0.150913    0.0
2013-07-01  0.050581    0.0
2013-08-01  0.045840    0.0
2013-09-01  0.054888    0.0
...              ...    ...
2023-11-01  0.021179    0.0
2023-12-01 -0.020500    0.0
2024-01-01 -0.160619    0.0
2024-02-01  0.108013    0.0
2024-03-01  0.019126    0.0

[131 rows x 2 columns]

In [127]:
df3_sub_trading_group_final_1 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 1]
df3_sub_trading_group_final_1.head()

,证券代码,统计日期-4,统计日期,trading_date,个股月回报率,个股组内权重,group,个股加权回报率,组间加权回报率
243,2,2016-05-01,2016-09-01,2016-06-01,0.049739,0.112139,1.0,0.005578,0.005578
244,2,2016-06-01,2016-10-01,2016-06-01,-0.047765,0.112139,1.0,-0.005356,-0.005356
245,2,2016-07-01,2016-11-01,2016-06-01,0.082665,0.112139,1.0,0.009270,0.009270
246,2,2016-08-01,2016-12-01,2016-06-01,-0.238325,0.112139,1.0,-0.026726,-0.026726
247,2,2016-09-01,2017-01-01,2016-09-01,0.006326,0.081097,1.0,0.000513,0.000513

In [128]:
df3_sub_trading_group_final_1_group = df3_sub_trading_group_final_1.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_1_group = df3_sub_trading_group_final_1_group[['组间加权回报率','group']]

df3_sub_trading_group_final_1_group['group'] = 1
df3_sub_trading_group_final_1_group

             组间加权回报率  group
统计日期
2013-05-01  0.117394      1
2013-06-01 -0.171516      1
2013-07-01  0.072233      1
2013-08-01  0.046154      1
2013-09-01  0.043758      1
...              ...    ...
2023-11-01 -0.003047      1
2023-12-01 -0.029599      1
2024-01-01 -0.149186      1
2024-02-01  0.113407      1
2024-03-01  0.024981      1

[131 rows x 2 columns]

In [129]:
df3_sub_trading_group_final_2 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 2]
df3_sub_trading_group_final_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31960 entries, 251 to 563717
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          31960 non-null  object
 1   统计日期-4        31960 non-null  datetime64[ns]
 2   统计日期          31960 non-null  datetime64[ns]
 3   trading_date  31960 non-null  datetime64[ns]
 4   个股月回报率        31960 non-null  float64
 5   个股组内权重        31960 non-null  float64
 6   group         31960 non-null  float64
 7   个股加权回报率       31960 non-null  float64
 8   组间加权回报率       31960 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.4+ MB

In [130]:
df3_sub_trading_group_final_2_group = df3_sub_trading_group_final_2.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_2_group = df3_sub_trading_group_final_2_group[['组间加权回报率','group']]

df3_sub_trading_group_final_2_group['group'] = 2
df3_sub_trading_group_final_2_group

             组间加权回报率  group
统计日期
2013-05-01  0.131368      2
2013-06-01 -0.122876      2
2013-07-01  0.076111      2
2013-08-01  0.095662      2
2013-09-01  0.044124      2
...              ...    ...
2023-11-01  0.006553      2
2023-12-01 -0.021455      2
2024-01-01 -0.174406      2
2024-02-01  0.128417      2
2024-03-01  0.013751      2

[131 rows x 2 columns]

In [131]:
df3_sub_trading_group_final_3 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 3]
df3_sub_trading_group_final_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32053 entries, 38 to 564605
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          32053 non-null  object
 1   统计日期-4        32053 non-null  datetime64[ns]
 2   统计日期          32053 non-null  datetime64[ns]
 3   trading_date  32053 non-null  datetime64[ns]
 4   个股月回报率        32053 non-null  float64
 5   个股组内权重        32053 non-null  float64
 6   group         32053 non-null  float64
 7   个股加权回报率       32053 non-null  float64
 8   组间加权回报率       32053 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.4+ MB

In [132]:
df3_sub_trading_group_final_3_group = df3_sub_trading_group_final_3.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_3_group = df3_sub_trading_group_final_3_group[['组间加权回报率','group']]

df3_sub_trading_group_final_3_group['group'] = 3

df3_sub_trading_group_final_3_group

             组间加权回报率  group
统计日期
2013-05-01  0.176991      3
2013-06-01 -0.151539      3
2013-07-01  0.056265      3
2013-08-01  0.069586      3
2013-09-01  0.132312      3
...              ...    ...
2023-11-01  0.018718      3
2023-12-01 -0.027178      3
2024-01-01 -0.205689      3
2024-02-01  0.115272      3
2024-03-01  0.011795      3

[131 rows x 2 columns]

In [133]:
df3_sub_trading_group_final_4 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 4]
df3_sub_trading_group_final_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31977 entries, 42 to 564080
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          31977 non-null  object
 1   统计日期-4        31977 non-null  datetime64[ns]
 2   统计日期          31977 non-null  datetime64[ns]
 3   trading_date  31977 non-null  datetime64[ns]
 4   个股月回报率        31977 non-null  float64
 5   个股组内权重        31977 non-null  float64
 6   group         31977 non-null  float64
 7   个股加权回报率       31977 non-null  float64
 8   组间加权回报率       31977 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.4+ MB

In [134]:
df3_sub_trading_group_final_4_group = df3_sub_trading_group_final_4.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_4_group = df3_sub_trading_group_final_4_group[['组间加权回报率','group']]

df3_sub_trading_group_final_4_group['group'] = 4
df3_sub_trading_group_final_4_group

             组间加权回报率  group
统计日期
2013-05-01  0.131946      4
2013-06-01 -0.127350      4
2013-07-01  0.078190      4
2013-08-01  0.045524      4
2013-09-01  0.060503      4
...              ...    ...
2023-11-01 -0.016951      4
2023-12-01 -0.007667      4
2024-01-01 -0.177801      4
2024-02-01  0.126166      4
2024-03-01  0.002540      4

[131 rows x 2 columns]

In [135]:
#TODO 5
df3_sub_trading_group_final_5 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 5]
df3_sub_trading_group_final_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32008 entries, 50 to 564591
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          32008 non-null  object
 1   统计日期-4        32008 non-null  datetime64[ns]
 2   统计日期          32008 non-null  datetime64[ns]
 3   trading_date  32008 non-null  datetime64[ns]
 4   个股月回报率        32008 non-null  float64
 5   个股组内权重        32008 non-null  float64
 6   group         32008 non-null  float64
 7   个股加权回报率       32008 non-null  float64
 8   组间加权回报率       32008 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.4+ MB

In [136]:
df3_sub_trading_group_final_5_group = df3_sub_trading_group_final_5.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_5_group = df3_sub_trading_group_final_5_group[['组间加权回报率','group']]

df3_sub_trading_group_final_5_group['group'] = 5
df3_sub_trading_group_final_5_group

             组间加权回报率  group
统计日期
2013-05-01  0.177009      5
2013-06-01 -0.097033      5
2013-07-01  0.058592      5
2013-08-01  0.068850      5
2013-09-01  0.045916      5
...              ...    ...
2023-11-01 -0.001949      5
2023-12-01 -0.019324      5
2024-01-01 -0.160847      5
2024-02-01  0.097035      5
2024-03-01  0.038516      5

[131 rows x 2 columns]

In [137]:
#TODO 6
df3_sub_trading_group_final_6 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 6]
df3_sub_trading_group_final_6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32075 entries, 54 to 564617
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          32075 non-null  object
 1   统计日期-4        32075 non-null  datetime64[ns]
 2   统计日期          32075 non-null  datetime64[ns]
 3   trading_date  32075 non-null  datetime64[ns]
 4   个股月回报率        32075 non-null  float64
 5   个股组内权重        32075 non-null  float64
 6   group         32075 non-null  float64
 7   个股加权回报率       32075 non-null  float64
 8   组间加权回报率       32075 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.4+ MB

In [138]:
df3_sub_trading_group_final_6_group = df3_sub_trading_group_final_6.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_6_group = df3_sub_trading_group_final_6_group[['组间加权回报率','group']]

df3_sub_trading_group_final_6_group['group'] = 6
df3_sub_trading_group_final_6_group

             组间加权回报率  group
统计日期
2013-05-01  0.200571      6
2013-06-01 -0.139091      6
2013-07-01  0.077051      6
2013-08-01  0.057673      6
2013-09-01  0.057195      6
...              ...    ...
2023-11-01  0.017778      6
2023-12-01 -0.017901      6
2024-01-01 -0.157892      6
2024-02-01  0.105302      6
2024-03-01  0.008386      6

[131 rows x 2 columns]

In [139]:
#TODO 7
df3_sub_trading_group_final_7 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 7]
df3_sub_trading_group_final_7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32195 entries, 118 to 564518
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          32195 non-null  object
 1   统计日期-4        32195 non-null  datetime64[ns]
 2   统计日期          32195 non-null  datetime64[ns]
 3   trading_date  32195 non-null  datetime64[ns]
 4   个股月回报率        32195 non-null  float64
 5   个股组内权重        32195 non-null  float64
 6   group         32195 non-null  float64
 7   个股加权回报率       32195 non-null  float64
 8   组间加权回报率       32195 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.5+ MB

In [140]:
df3_sub_trading_group_final_7_group = df3_sub_trading_group_final_7.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_7_group = df3_sub_trading_group_final_7_group[['组间加权回报率','group']]

df3_sub_trading_group_final_7_group['group'] = 7
df3_sub_trading_group_final_7_group

             组间加权回报率  group
统计日期
2013-05-01  0.187044      7
2013-06-01 -0.130976      7
2013-07-01  0.066887      7
2013-08-01  0.042214      7
2013-09-01  0.091116      7
...              ...    ...
2023-11-01  0.032093      7
2023-12-01 -0.023416      7
2024-01-01 -0.198294      7
2024-02-01  0.110583      7
2024-03-01  0.030032      7

[131 rows x 2 columns]

In [141]:
#TODO 8
df3_sub_trading_group_final_8 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 8]
df3_sub_trading_group_final_8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404 entries, 134 to 564580
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          32404 non-null  object
 1   统计日期-4        32404 non-null  datetime64[ns]
 2   统计日期          32404 non-null  datetime64[ns]
 3   trading_date  32404 non-null  datetime64[ns]
 4   个股月回报率        32404 non-null  float64
 5   个股组内权重        32404 non-null  float64
 6   group         32404 non-null  float64
 7   个股加权回报率       32404 non-null  float64
 8   组间加权回报率       32404 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.5+ MB

In [142]:
df3_sub_trading_group_final_8_group = df3_sub_trading_group_final_8.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_8_group = df3_sub_trading_group_final_8_group[['组间加权回报率','group']]

df3_sub_trading_group_final_8_group['group'] = 8
df3_sub_trading_group_final_8_group

             组间加权回报率  group
统计日期
2013-05-01  0.131757      8
2013-06-01 -0.111610      8
2013-07-01  0.103539      8
2013-08-01  0.023390      8
2013-09-01  0.078328      8
...              ...    ...
2023-11-01 -0.007777      8
2023-12-01 -0.003937      8
2024-01-01 -0.179841      8
2024-02-01  0.106570      8
2024-03-01  0.035037      8

[131 rows x 2 columns]

In [143]:
#TODO 9
df3_sub_trading_group_final_9 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 9]
df3_sub_trading_group_final_9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32544 entries, 2936 to 564649
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          32544 non-null  object
 1   统计日期-4        32544 non-null  datetime64[ns]
 2   统计日期          32544 non-null  datetime64[ns]
 3   trading_date  32544 non-null  datetime64[ns]
 4   个股月回报率        32544 non-null  float64
 5   个股组内权重        32544 non-null  float64
 6   group         32544 non-null  float64
 7   个股加权回报率       32544 non-null  float64
 8   组间加权回报率       32544 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 2.5+ MB

In [144]:
df3_sub_trading_group_final_9_group = df3_sub_trading_group_final_9.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_9_group = df3_sub_trading_group_final_9_group[['组间加权回报率','group']]

df3_sub_trading_group_final_9_group['group'] = 9
df3_sub_trading_group_final_9_group

             组间加权回报率  group
统计日期
2013-05-01  0.165102      9
2013-06-01 -0.130559      9
2013-07-01  0.071795      9
2013-08-01  0.056537      9
2013-09-01  0.089030      9
...              ...    ...
2023-11-01 -0.002424      9
2023-12-01 -0.015506      9
2024-01-01 -0.136160      9
2024-02-01  0.125621      9
2024-03-01  0.003441      9

[131 rows x 2 columns]

In [145]:
df3_sub_trading_group_final_0_group = df3_sub_trading_group_final_0_group.reset_index()
df3_sub_trading_group_final_1_group = df3_sub_trading_group_final_1_group.reset_index()
df3_sub_trading_group_final_2_group = df3_sub_trading_group_final_2_group.reset_index()
df3_sub_trading_group_final_3_group = df3_sub_trading_group_final_3_group.reset_index()
df3_sub_trading_group_final_4_group = df3_sub_trading_group_final_4_group.reset_index()
#TODO
df3_sub_trading_group_final_5_group = df3_sub_trading_group_final_5_group.reset_index()
df3_sub_trading_group_final_6_group = df3_sub_trading_group_final_6_group.reset_index()
df3_sub_trading_group_final_7_group = df3_sub_trading_group_final_7_group.reset_index()
df3_sub_trading_group_final_8_group = df3_sub_trading_group_final_8_group.reset_index()
df3_sub_trading_group_final_9_group = df3_sub_trading_group_final_9_group.reset_index()

In [146]:
df3_sub_trading_group_final_0_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   统计日期     131 non-null    datetime64[ns]
 1   组间加权回报率  131 non-null    float64
 2   group    131 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 3.2 KB

In [147]:
# TODO
df3_sub_trading_group_final_group = pd.concat([df3_sub_trading_group_final_0_group,df3_sub_trading_group_final_1_group,df3_sub_trading_group_final_2_group,df3_sub_trading_group_final_3_group,df3_sub_trading_group_final_4_group,df3_sub_trading_group_final_5_group,df3_sub_trading_group_final_6_group,df3_sub_trading_group_final_7_group,df3_sub_trading_group_final_8_group,df3_sub_trading_group_final_9_group], ignore_index=True)

df3_sub_trading_group_final_group

           统计日期   组间加权回报率  group
0    2013-05-01  0.128495    0.0
1    2013-06-01 -0.150913    0.0
2    2013-07-01  0.050581    0.0
3    2013-08-01  0.045840    0.0
4    2013-09-01  0.054888    0.0
...         ...       ...    ...
1305 2023-11-01 -0.002424    9.0
1306 2023-12-01 -0.015506    9.0
1307 2024-01-01 -0.136160    9.0
1308 2024-02-01  0.125621    9.0
1309 2024-03-01  0.003441    9.0

[1310 rows x 3 columns]

In [148]:
# df3_sub_trading_group_final_group04 = pd.concat([df3_sub_trading_group_final_0_group,df3_sub_trading_group_final_1_group,df3_sub_trading_group_final_2_group,df3_sub_trading_group_final_3_group,df3_sub_trading_group_final_4_group], ignore_index=True)
# df3_sub_trading_group_final_group04

In [149]:

# df3_sub_trading_group_final_group59 = pd.concat([df3_sub_trading_group_final_5_group,df3_sub_trading_group_final_6_group,df3_sub_trading_group_final_7_group,df3_sub_trading_group_final_8_group,df3_sub_trading_group_final_9_group], ignore_index=True)
# df3_sub_trading_group_final_group59

In [150]:
df3_sub_trading_group_final_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   统计日期     1310 non-null   datetime64[ns]
 1   组间加权回报率  1310 non-null   float64
 2   group    1310 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 30.8 KB

In [152]:
df3_sub_trading_group_final_group['统计日期'] = df3_sub_trading_group_final_group['统计日期'].apply(lambda x: x.strftime('%Y-%m-%d'))
df3_sub_trading_group_final_group

            统计日期   组间加权回报率  group
0     2013-05-01  0.128495    0.0
1     2013-06-01 -0.150913    0.0
2     2013-07-01  0.050581    0.0
3     2013-08-01  0.045840    0.0
4     2013-09-01  0.054888    0.0
...          ...       ...    ...
1305  2023-11-01 -0.002424    9.0
1306  2023-12-01 -0.015506    9.0
1307  2024-01-01 -0.136160    9.0
1308  2024-02-01  0.125621    9.0
1309  2024-03-01  0.003441    9.0

[1310 rows x 3 columns]

In [153]:
df3_sub_trading_group_final_group.to_excel('group_weighted_monthly_return.xlsx', index=False)

# Comment