### Definition

In [2]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [1]:
import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta

import warnings

# 忽略所有警告
warnings.filterwarnings('ignore')

In [2]:
# import data
df1_1 = pd.read_excel('证券2_final.xlsx', engine='openpyxl')
df1_2 = pd.read_excel('证券1_final.xlsx', engine='openpyxl')
df1_3 = pd.concat([df1_1, df1_2], ignore_index=True)
df1 = df1_3[df1_3['民营指数'] >= 1]

In [3]:
df2 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')
#df3 = pd.read_excel('TRD_Mnth.xlsx', engine='openpyxl')

In [4]:
df3 = df2.copy()

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573117 entries, 0 to 573116
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   证券代码        573117 non-null  int64
 1   交易月份        573117 non-null  object
 2   个股市值        573117 non-null  float64
 3   个股月回报率      569272 non-null  float64
 4   Unnamed: 4  261084 non-null  float64
 5   Unnamed: 5  261084 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 26.2+ MB

In [6]:
df1.dtypes

统计截止日期       object
证券代码          int64
其他持股比例      float64
国有法人持股比例    float64
民营指数        float64
是否民营企业       object
股东名称         object
持股排名          int64
持股比例(%)     float64
股东类型         object
dtype: object

In [7]:
df1['统计日期'] = pd.to_datetime(df1['统计截止日期'])
df2['统计日期'] = pd.to_datetime(df2['交易月份'])
df3['统计日期'] = pd.to_datetime(df3['交易月份'])

### df1_sorted

In [9]:
df1_sorted = df1.sort_values(by=['统计日期', '持股比例(%)'], ascending=[True, False])
df1_sorted

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期
451,2013-03-31,981,92.33,0.60,153.883333,民营企业,宁波银亿控股有限公司,1,89.41,其他机构,2013-03-31
963,2013-03-31,2498,88.35,0.00,inf,民营企业,青岛汉河集团股份有限公司,1,85.23,其他机构,2013-03-31
843,2013-03-31,2378,84.10,0.00,inf,民营企业,崇义章源投资控股有限公司,1,81.50,其他机构,2013-03-31
734,2013-03-31,2269,91.08,0.55,165.600000,民营企业,上海华服投资有限公司,1,80.60,其他机构,2013-03-31
281,2013-03-31,732,87.26,0.00,inf,民营企业,福建泰禾投资有限公司,1,79.57,其他机构,2013-03-31
...,...,...,...,...,...,...,...,...,...,...,...
154682,2023-12-31,601528,35.05,6.72,5.215774,民营企业,绍兴市柯桥区天圣投资管理有限公司,1,6.72,其他机构,2023-12-31
82857,2023-12-31,300254,22.81,0.00,inf,民营企业,翁占国,1,6.53,自然人,2023-12-31
82780,2023-12-31,2807,22.51,4.10,5.490244,民营企业,江阴新锦南投资发展有限公司,1,4.18,其他机构,2023-12-31
154738,2023-12-31,603018,23.29,0.00,inf,民营企业,杨卫东,1,3.98,自然人,2023-12-31
82842,2023-12-31,300142,18.86,0.00,inf,民营企业,刘俊辉,1,3.37,自然人,2023-12-31

In [10]:
# grouped_returns = pd.DataFrame()

# # 9 三季报
# # 3 一季报
# # 6 半年报
# periods = {
#     9: (1, 4),
#     3: (5, 8),
#     6: (9, 12)
# }

In [11]:
report_months = {
    'third': 9,
    'first': 3,
    'half': 6
}

In [12]:
df1_sorted

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期
451,2013-03-31,981,92.33,0.60,153.883333,民营企业,宁波银亿控股有限公司,1,89.41,其他机构,2013-03-31
963,2013-03-31,2498,88.35,0.00,inf,民营企业,青岛汉河集团股份有限公司,1,85.23,其他机构,2013-03-31
843,2013-03-31,2378,84.10,0.00,inf,民营企业,崇义章源投资控股有限公司,1,81.50,其他机构,2013-03-31
734,2013-03-31,2269,91.08,0.55,165.600000,民营企业,上海华服投资有限公司,1,80.60,其他机构,2013-03-31
281,2013-03-31,732,87.26,0.00,inf,民营企业,福建泰禾投资有限公司,1,79.57,其他机构,2013-03-31
...,...,...,...,...,...,...,...,...,...,...,...
154682,2023-12-31,601528,35.05,6.72,5.215774,民营企业,绍兴市柯桥区天圣投资管理有限公司,1,6.72,其他机构,2023-12-31
82857,2023-12-31,300254,22.81,0.00,inf,民营企业,翁占国,1,6.53,自然人,2023-12-31
82780,2023-12-31,2807,22.51,4.10,5.490244,民营企业,江阴新锦南投资发展有限公司,1,4.18,其他机构,2023-12-31
154738,2023-12-31,603018,23.29,0.00,inf,民营企业,杨卫东,1,3.98,自然人,2023-12-31
82842,2023-12-31,300142,18.86,0.00,inf,民营企业,刘俊辉,1,3.37,自然人,2023-12-31

In [13]:
# add a new column in the df1
df1["分组"] = ""

In [14]:
df1

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期,分组
0,2013-03-31,1,57.3500,1.81,31.685083,民营企业,中国平安保险(集团)股份有限公司-集团本级-自有资金,1,42.1600,保险投资组合,2013-03-31,
1,2013-03-31,4,36.0100,0.00,inf,民营企业,深圳中农大科技投资有限公司,1,26.1000,其他机构,2013-03-31,
2,2013-03-31,5,26.9300,3.64,7.398352,民营企业,中国投资有限公司,1,20.1500,其他机构,2013-03-31,
4,2013-03-31,7,43.3800,0.00,inf,民营企业,广州博融投资有限公司,1,17.4100,其他机构,2013-03-31,
5,2013-03-31,8,69.6900,0.00,inf,民营企业,深圳市宝安宝利来实业有限公司,1,62.7100,其他机构,2013-03-31,
...,...,...,...,...,...,...,...,...,...,...,...,...
154989,2023-12-31,871553,67.4700,0.00,inf,民营企业,北京凯腾精达管理咨询服务合伙企业(有限合伙),1,46.7200,其他机构,2023-12-31,
154990,2023-12-31,872925,70.8403,0.00,inf,民营企业,王敏,1,25.9057,自然人,2023-12-31,
154992,2023-12-31,873576,47.6400,30.91,1.541249,民营企业,西部金属材料股份有限公司,1,44.2700,其他机构,2023-12-31,
154993,2023-12-31,873703,80.3100,0.00,inf,民营企业,韩军,1,50.4100,自然人,2023-12-31,
154994,2023-12-31,873833,60.8500,15.27,3.984938,民营企业,徐争鸣,1,19.2900,自然人,2023-12-31,

In [15]:
df1_copy = df1.copy()
len(df1_copy.index) 
df1_copy

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期,分组
0,2013-03-31,1,57.3500,1.81,31.685083,民营企业,中国平安保险(集团)股份有限公司-集团本级-自有资金,1,42.1600,保险投资组合,2013-03-31,
1,2013-03-31,4,36.0100,0.00,inf,民营企业,深圳中农大科技投资有限公司,1,26.1000,其他机构,2013-03-31,
2,2013-03-31,5,26.9300,3.64,7.398352,民营企业,中国投资有限公司,1,20.1500,其他机构,2013-03-31,
4,2013-03-31,7,43.3800,0.00,inf,民营企业,广州博融投资有限公司,1,17.4100,其他机构,2013-03-31,
5,2013-03-31,8,69.6900,0.00,inf,民营企业,深圳市宝安宝利来实业有限公司,1,62.7100,其他机构,2013-03-31,
...,...,...,...,...,...,...,...,...,...,...,...,...
154989,2023-12-31,871553,67.4700,0.00,inf,民营企业,北京凯腾精达管理咨询服务合伙企业(有限合伙),1,46.7200,其他机构,2023-12-31,
154990,2023-12-31,872925,70.8403,0.00,inf,民营企业,王敏,1,25.9057,自然人,2023-12-31,
154992,2023-12-31,873576,47.6400,30.91,1.541249,民营企业,西部金属材料股份有限公司,1,44.2700,其他机构,2023-12-31,
154993,2023-12-31,873703,80.3100,0.00,inf,民营企业,韩军,1,50.4100,自然人,2023-12-31,
154994,2023-12-31,873833,60.8500,15.27,3.984938,民营企业,徐争鸣,1,19.2900,自然人,2023-12-31,

### Dataset df1_group
对公司进行分组 按照季度进行调仓

In [17]:

df1_group = pd.DataFrame()

df1_year_keymonth_size = 0

# 对公司进行分组 按照季度进行调仓
for year in df1['统计日期'].dt.year.unique():
    print('****** loop *******')
    print(year)
    
    
    for key, key_month in report_months.items():
        print('*****loop 季度*****')
        print(key)
        print(key_month)
         
        df1_year_keymonth = df1.loc[(df1['统计日期'].dt.year == year ) & (df1['统计日期'].dt.month == key_month)]
        
        df1_year_keymonth['分组'] = pd.qcut(df1_year_keymonth['持股比例(%)'], 5, labels=False, duplicates='drop')
        
        df1_year_keymonth.info()
        
        df1_year_keymonth_size += len(df1_year_keymonth.index) 
        
        df1_group = df1_group.append(df1_year_keymonth, ignore_index=True)
        
        
df1_group

****** loop *******
2013
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 3046 to 84796
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1532 non-null   object
 1   证券代码      1532 non-null   int64
 2   其他持股比例    1532 non-null   float64
 3   国有法人持股比例  1532 non-null   float64
 4   民营指数      1532 non-null   float64
 5   是否民营企业    1532 non-null   object
 6   股东名称      1532 non-null   object
 7   持股排名      1532 non-null   int64
 8   持股比例(%)   1532 non-null   float64
 9   股东类型      1532 non-null   object
 10  统计日期      1532 non-null   datetime64[ns]
 11  分组        1532 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 155.6+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1151 entries, 0 to 1521
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1151 non-null   object
 1   证券代码      1151 non-null   int64
 2   其他持股比例    1151 non-null   float64
 3   国有法人持股比例  1151 non-null   float64
 4   民营指数      1151 non-null   float64
 5   是否民营企业    1151 non-null   object
 6   股东名称      1151 non-null   object
 7   持股排名      1151 non-null   int64
 8   持股比例(%)   1151 non-null   float64
 9   股东类型      1151 non-null   object
 10  统计日期      1151 non-null   datetime64[ns]
 11  分组        1151 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 116.9+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1529 entries, 1522 to 83856
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1529 non-null   object
 1   证券代码      1529 non-null   int64
 2   其他持股比例    1529 non-null   float64
 3   国有法人持股比例  1529 non-null   float64
 4   民营指数      1529 non-null   float64
 5   是否民营企业    1529 non-null   object
 6   股东名称      1529 non-null   object
 7   持股排名      1529 non-null   int64
 8   持股比例(%)   1529 non-null   float64
 9   股东类型      1529 non-null   object
 10  统计日期      1529 non-null   datetime64[ns]
 11  分组        1529 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 155.3+ KB
****** loop *******
2014
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1623 entries, 9270 to 88618
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1623 non-null   object
 1   证券代码      1623 non-null   int64
 2   其他持股比例    1623 non-null   float64
 3   国有法人持股比例  1623 non-null   float64
 4   民营指数      1623 non-null   float64
 5   是否民营企业    1623 non-null   object
 6   股东名称      1623 non-null   object
 7   持股排名      1623 non-null   int64
 8   持股比例(%)   1623 non-null   float64
 9   股东类型      1623 non-null   object
 10  统计日期      1623 non-null   datetime64[ns]
 11  分组        1623 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 164.8+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1587 entries, 6134 to 86695
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1587 non-null   object
 1   证券代码      1587 non-null   int64
 2   其他持股比例    1587 non-null   float64
 3   国有法人持股比例  1587 non-null   float64
 4   民营指数      1587 non-null   float64
 5   是否民营企业    1587 non-null   object
 6   股东名称      1587 non-null   object
 7   持股排名      1587 non-null   int64
 8   持股比例(%)   1587 non-null   float64
 9   股东类型      1587 non-null   object
 10  统计日期      1587 non-null   datetime64[ns]
 11  分组        1587 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 161.2+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594 entries, 7700 to 87648
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1594 non-null   object
 1   证券代码      1594 non-null   int64
 2   其他持股比例    1594 non-null   float64
 3   国有法人持股比例  1594 non-null   float64
 4   民营指数      1594 non-null   float64
 5   是否民营企业    1594 non-null   object
 6   股东名称      1594 non-null   object
 7   持股排名      1594 non-null   int64
 8   持股比例(%)   1594 non-null   float64
 9   股东类型      1594 non-null   object
 10  统计日期      1594 non-null   datetime64[ns]
 11  分组        1594 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 161.9+ KB
****** loop *******
2015
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1834 entries, 15845 to 92773
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1834 non-null   object
 1   证券代码      1834 non-null   int64
 2   其他持股比例    1834 non-null   float64
 3   国有法人持股比例  1834 non-null   float64
 4   民营指数      1834 non-null   float64
 5   是否民营企业    1834 non-null   object
 6   股东名称      1834 non-null   object
 7   持股排名      1834 non-null   int64
 8   持股比例(%)   1834 non-null   float64
 9   股东类型      1834 non-null   object
 10  统计日期      1834 non-null   datetime64[ns]
 11  分组        1834 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 186.3+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 12486 to 90649
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1731 non-null   object
 1   证券代码      1731 non-null   int64
 2   其他持股比例    1731 non-null   float64
 3   国有法人持股比例  1731 non-null   float64
 4   民营指数      1731 non-null   float64
 5   是否民营企业    1731 non-null   object
 6   股东名称      1731 non-null   object
 7   持股排名      1731 non-null   int64
 8   持股比例(%)   1731 non-null   float64
 9   股东类型      1731 non-null   object
 10  统计日期      1731 non-null   datetime64[ns]
 11  分组        1731 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 175.8+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1840 entries, 14127 to 91711
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1840 non-null   object
 1   证券代码      1840 non-null   int64
 2   其他持股比例    1840 non-null   float64
 3   国有法人持股比例  1840 non-null   float64
 4   民营指数      1840 non-null   float64
 5   是否民营企业    1840 non-null   object
 6   股东名称      1840 non-null   object
 7   持股排名      1840 non-null   int64
 8   持股比例(%)   1840 non-null   float64
 9   股东类型      1840 non-null   object
 10  统计日期      1840 non-null   datetime64[ns]
 11  分组        1840 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 186.9+ KB
****** loop *******
2016
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 22835 to 97173
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1999 non-null   object
 1   证券代码      1999 non-null   int64
 2   其他持股比例    1999 non-null   float64
 3   国有法人持股比例  1999 non-null   float64
 4   民营指数      1999 non-null   float64
 5   是否民营企业    1999 non-null   object
 6   股东名称      1999 non-null   object
 7   持股排名      1999 non-null   int64
 8   持股比例(%)   1999 non-null   float64
 9   股东类型      1999 non-null   object
 10  统计日期      1999 non-null   datetime64[ns]
 11  分组        1999 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 203.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1894 entries, 19309 to 94935
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1894 non-null   object
 1   证券代码      1894 non-null   int64
 2   其他持股比例    1894 non-null   float64
 3   国有法人持股比例  1894 non-null   float64
 4   民营指数      1894 non-null   float64
 5   是否民营企业    1894 non-null   object
 6   股东名称      1894 non-null   object
 7   持股排名      1894 non-null   int64
 8   持股比例(%)   1894 non-null   float64
 9   股东类型      1894 non-null   object
 10  统计日期      1894 non-null   datetime64[ns]
 11  分组        1894 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 192.4+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1933 entries, 21060 to 96040
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    1933 non-null   object
 1   证券代码      1933 non-null   int64
 2   其他持股比例    1933 non-null   float64
 3   国有法人持股比例  1933 non-null   float64
 4   民营指数      1933 non-null   float64
 5   是否民营企业    1933 non-null   object
 6   股东名称      1933 non-null   object
 7   持股排名      1933 non-null   int64
 8   持股比例(%)   1933 non-null   float64
 9   股东类型      1933 non-null   object
 10  统计日期      1933 non-null   datetime64[ns]
 11  分组        1933 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 196.3+ KB
****** loop *******
2017
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2426 entries, 30470 to 102375
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2426 non-null   object
 1   证券代码      2426 non-null   int64
 2   其他持股比例    2426 non-null   float64
 3   国有法人持股比例  2426 non-null   float64
 4   民营指数      2426 non-null   float64
 5   是否民营企业    2426 non-null   object
 6   股东名称      2426 non-null   object
 7   持股排名      2426 non-null   int64
 8   持股比例(%)   2426 non-null   float64
 9   股东类型      2426 non-null   object
 10  统计日期      2426 non-null   datetime64[ns]
 11  分组        2426 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 246.4+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2232 entries, 26549 to 99639
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2232 non-null   object
 1   证券代码      2232 non-null   int64
 2   其他持股比例    2232 non-null   float64
 3   国有法人持股比例  2232 non-null   float64
 4   民营指数      2232 non-null   float64
 5   是否民营企业    2232 non-null   object
 6   股东名称      2232 non-null   object
 7   持股排名      2232 non-null   int64
 8   持股比例(%)   2232 non-null   float64
 9   股东类型      2232 non-null   object
 10  统计日期      2232 non-null   datetime64[ns]
 11  分组        2232 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 226.7+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 28490 to 100976
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2356 non-null   object
 1   证券代码      2356 non-null   int64
 2   其他持股比例    2356 non-null   float64
 3   国有法人持股比例  2356 non-null   float64
 4   民营指数      2356 non-null   float64
 5   是否民营企业    2356 non-null   object
 6   股东名称      2356 non-null   object
 7   持股排名      2356 non-null   int64
 8   持股比例(%)   2356 non-null   float64
 9   股东类型      2356 non-null   object
 10  统计日期      2356 non-null   datetime64[ns]
 11  分组        2356 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 239.3+ KB
****** loop *******
2018
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2565 entries, 38527 to 108372
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2565 non-null   object
 1   证券代码      2565 non-null   int64
 2   其他持股比例    2565 non-null   float64
 3   国有法人持股比例  2565 non-null   float64
 4   民营指数      2565 non-null   float64
 5   是否民营企业    2565 non-null   object
 6   股东名称      2565 non-null   object
 7   持股排名      2565 non-null   int64
 8   持股比例(%)   2565 non-null   float64
 9   股东类型      2565 non-null   object
 10  统计日期      2565 non-null   datetime64[ns]
 11  分组        2565 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 260.5+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2535 entries, 34482 to 105339
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2535 non-null   object
 1   证券代码      2535 non-null   int64
 2   其他持股比例    2535 non-null   float64
 3   国有法人持股比例  2535 non-null   float64
 4   民营指数      2535 non-null   float64
 5   是否民营企业    2535 non-null   object
 6   股东名称      2535 non-null   object
 7   持股排名      2535 non-null   int64
 8   持股比例(%)   2535 non-null   float64
 9   股东类型      2535 non-null   object
 10  统计日期      2535 non-null   datetime64[ns]
 11  分组        2535 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 257.5+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2562 entries, 36504 to 106849
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2562 non-null   object
 1   证券代码      2562 non-null   int64
 2   其他持股比例    2562 non-null   float64
 3   国有法人持股比例  2562 non-null   float64
 4   民营指数      2562 non-null   float64
 5   是否民营企业    2562 non-null   object
 6   股东名称      2562 non-null   object
 7   持股排名      2562 non-null   int64
 8   持股比例(%)   2562 non-null   float64
 9   股东类型      2562 non-null   object
 10  统计日期      2562 non-null   datetime64[ns]
 11  分组        2562 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 260.2+ KB
****** loop *******
2019
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2681 entries, 46675 to 114740
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2681 non-null   object
 1   证券代码      2681 non-null   int64
 2   其他持股比例    2681 non-null   float64
 3   国有法人持股比例  2681 non-null   float64
 4   民营指数      2681 non-null   float64
 5   是否民营企业    2681 non-null   object
 6   股东名称      2681 non-null   object
 7   持股排名      2681 non-null   int64
 8   持股比例(%)   2681 non-null   float64
 9   股东类型      2681 non-null   object
 10  统计日期      2681 non-null   datetime64[ns]
 11  分组        2681 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 272.3+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2607 entries, 42591 to 111489
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2607 non-null   object
 1   证券代码      2607 non-null   int64
 2   其他持股比例    2607 non-null   float64
 3   国有法人持股比例  2607 non-null   float64
 4   民营指数      2607 non-null   float64
 5   是否民营企业    2607 non-null   object
 6   股东名称      2607 non-null   object
 7   持股排名      2607 non-null   int64
 8   持股比例(%)   2607 non-null   float64
 9   股东类型      2607 non-null   object
 10  统计日期      2607 non-null   datetime64[ns]
 11  分组        2607 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 264.8+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2636 entries, 44631 to 113093
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2636 non-null   object
 1   证券代码      2636 non-null   int64
 2   其他持股比例    2636 non-null   float64
 3   国有法人持股比例  2636 non-null   float64
 4   民营指数      2636 non-null   float64
 5   是否民营企业    2636 non-null   object
 6   股东名称      2636 non-null   object
 7   持股排名      2636 non-null   int64
 8   持股比例(%)   2636 non-null   float64
 9   股东类型      2636 non-null   object
 10  统计日期      2636 non-null   datetime64[ns]
 11  分组        2636 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 267.7+ KB
****** loop *******
2020
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2983 entries, 54902 to 122066
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2983 non-null   object
 1   证券代码      2983 non-null   int64
 2   其他持股比例    2983 non-null   float64
 3   国有法人持股比例  2983 non-null   float64
 4   民营指数      2983 non-null   float64
 5   是否民营企业    2983 non-null   object
 6   股东名称      2983 non-null   object
 7   持股排名      2983 non-null   int64
 8   持股比例(%)   2983 non-null   float64
 9   股东类型      2983 non-null   object
 10  统计日期      2983 non-null   datetime64[ns]
 11  分组        2983 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 303.0+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2783 entries, 50778 to 118245
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2783 non-null   object
 1   证券代码      2783 non-null   int64
 2   其他持股比例    2783 non-null   float64
 3   国有法人持股比例  2783 non-null   float64
 4   民营指数      2783 non-null   float64
 5   是否民营企业    2783 non-null   object
 6   股东名称      2783 non-null   object
 7   持股排名      2783 non-null   int64
 8   持股比例(%)   2783 non-null   float64
 9   股东类型      2783 non-null   object
 10  统计日期      2783 non-null   datetime64[ns]
 11  分组        2783 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 282.6+ KB
*****loop 季度*****
half
6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2873 entries, 52838 to 120101
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    2873 non-null   object
 1   证券代码      2873 non-null   int64
 2   其他持股比例    2873 non-null   float64
 3   国有法人持股比例  2873 non-null   float64
 4   民营指数      2873 non-null   float64
 5   是否民营企业    2873 non-null   object
 6   股东名称      2873 non-null   object
 7   持股排名      2873 non-null   int64
 8   持股比例(%)   2873 non-null   float64
 9   股东类型      2873 non-null   object
 10  统计日期      2873 non-null   datetime64[ns]
 11  分组        2873 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 291.8+ KB
****** loop *******
2021
*****loop 季度*****
third
9
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3447 entries, 63314 to 131140
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3447 non-null   object
 1   证券代码      3447 non-null   int64
 2   其他持股比例    3447 non-null   float64
 3   国有法人持股比例  3447 non-null   float64
 4   民营指数      3447 non-null   float64
 5   是否民营企业    3447 non-null   object
 6   股东名称      3447 non-null   object
 7   持股排名      3447 non-null   int64
 8   持股比例(%)   3447 non-null   float64
 9   股东类型      3447 non-null   object
 10  统计日期      3447 non-null   datetime64[ns]
 11  分组        3447 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 350.1+ KB
*****loop 季度*****
first
3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3192 entries, 59092 to 126373
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   统计截止日期    3192 non-null   object
 1   证券代码      3192 non-null   int64
 2   其他持股比例    3192 non-null   float64
 3   国有法人持股比例  3192 non-null   float64
 4   民营指数      3192 non-null   float64
 5   是否民营企业    3192 non-null   object
 6   股东名称      3192 non-null   object
 7   持股排名      3192 non-null   int64
 8   持股比例(%)   3192 non-null   float64
 9   股东类型      3192 non-null   object
 10  统计日期      3192 non-null   datetime64[ns]
 11  分组        3192 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 324.2+ KB
*****loop 季度*****

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期,分组
0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,中国平安保险(集团)股份有限公司-集团本级-自有资金,1,42.1600,保险投资组合,2013-09-30,3
1,2013-09-30,4,34.3400,0.0000,inf,民营企业,深圳中农大科技投资有限公司,1,26.1000,其他机构,2013-09-30,1
2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,中国投资有限公司,1,20.1500,其他机构,2013-09-30,0
3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,广州博融投资有限公司,1,17.4100,其他机构,2013-09-30,0
4,2013-09-30,8,68.5400,0.0000,inf,民营企业,深圳市宝安宝利来实业有限公司,1,62.7100,其他机构,2013-09-30,4
...,...,...,...,...,...,...,...,...,...,...,...,...
84518,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,唐旭文,1,62.7523,自然人,2023-06-30,4
84519,2023-06-30,873305,79.7865,0.0000,inf,民营企业,徐洪林,1,42.3671,自然人,2023-06-30,4
84520,2023-06-30,873339,81.9562,0.0000,inf,民营企业,李彭晴,1,36.5630,自然人,2023-06-30,3
84521,2023-06-30,873527,58.8700,0.0000,inf,民营企业,陈国顺,1,16.5300,自然人,2023-06-30,0
84522,2023-06-30,873593,63.1500,0.0000,inf,民营企业,江苏雷利电机股份有限公司,1,34.5300,其他机构,2023-06-30,3

In [18]:
df1_year_keymonth_size

84523

In [19]:
df1_group

df1_group.to_excel('加权权重分组.xlsx',index=False)

### Dataset df2_market_value

进行加权平均计算月度回报率（分组过后+加权之后）

匹配时间节点上的公司市值

匹配相应时间段的月度回报率数据

In [20]:
# 进行加权平均计算月度回报率（分组过后+加权之后）
# 匹配时间节点上的公司市值
# 匹配相应时间段的月度回报率数据

df2_market_value = pd.DataFrame()
# loop years
for year in df2['统计日期'].dt.year.unique():
    print('*************')
    print(year)
    current_year_data = df2[df2['统计日期'].dt.year == year] # type: ignore
    print(current_year_data.head())
    
    # loop 季报 调仓时候的市值 
    for key, key_month in report_months.items():
        print('**********')
        print(key)
        print(key_month*4/3)
        current_year_df_monthly = current_year_data[current_year_data['统计日期'].dt.month == key_month*4/3]
        #print(current_year_df_monthly.info())
        #计算权重
    
        df2_market_value = df2_market_value.append(current_year_df_monthly, ignore_index=True)

*************
2010
   证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
0     1  2010-01  67387912.64 -0.109561         NaN         NaN 2010-01-01
1     1  2010-02  69716987.96  0.034562         NaN         NaN 2010-02-01
2     1  2010-03  72046063.28  0.033408         NaN         NaN 2010-03-01
3     1  2010-04  63847718.15 -0.113793         NaN         NaN 2010-04-01
4     1  2010-05  54376145.17 -0.148346         NaN         NaN 2010-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2011
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
10     1  2011-01  53355560.70 -0.030399         NaN         NaN 2011-01-01
11     1  2011-02  55516269.23  0.040496         NaN         NaN 2011-02-01
12     1  2011-03  56039021.29  0.009416         NaN         NaN 2011-03-01
13     1  2011-04  63427250.47  0.131841         NaN         NaN 2011-04-01
14     1  2011-05  61545343.04 -0.029670         NaN         NaN 2011-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2012
    证券代码     交易月份         个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
22     1  2012-01  85252550.92  0.067351         NaN         NaN 2012-01-01
23     1  2012-02  87609292.11  0.027644         NaN         NaN 2012-02-01
24     1  2012-03  80487835.04 -0.081287         NaN         NaN 2012-03-01
25     1  2012-04  84842682.89  0.054106         NaN         NaN 2012-04-01
26     1  2012-05  80385368.03 -0.052536         NaN         NaN 2012-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2013
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
34     1  2013-01  1.081027e+08  0.317104         NaN         NaN 2013-01-01
35     1  2013-02  1.178371e+08  0.090047         NaN         NaN 2013-02-01
36     1  2013-03  1.030818e+08 -0.125217         NaN         NaN 2013-03-01
37     1  2013-04  9.580665e+07 -0.070577         NaN         NaN 2013-04-01
38     1  2013-05  1.075391e+08  0.122460         NaN         NaN 2013-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2014
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
46     1  2014-01  1.085365e+08 -0.069388         NaN         NaN 2014-01-01
47     1  2014-02  1.059659e+08 -0.023684         NaN         NaN 2014-02-01
48     1  2014-03  1.025384e+08 -0.032345         NaN         NaN 2014-03-01
49     1  2014-04  1.060611e+08  0.034355         NaN         NaN 2014-04-01
50     1  2014-05  1.094886e+08  0.032316         NaN         NaN 2014-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2015
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
58     1  2015-01  1.591488e+08 -0.120581         NaN         NaN 2015-01-01
59     1  2015-02  1.598343e+08  0.004307         NaN         NaN 2015-02-01
60     1  2015-03  1.799421e+08  0.125804         NaN         NaN 2015-03-01
61     1  2015-04  2.289549e+08  0.283535         NaN         NaN 2015-04-01
62     1  2015-05  2.192089e+08 -0.082635         NaN         NaN 2015-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2016
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
70     1  2016-01  1.430868e+08 -0.165972         NaN         NaN 2016-01-01
71     1  2016-02  1.367909e+08 -0.044000         NaN         NaN 2016-02-01
72     1  2016-03  1.522443e+08  0.112971         NaN         NaN 2016-03-01
73     1  2016-04  1.512427e+08 -0.006579         NaN         NaN 2016-04-01
74     1  2016-05  1.509565e+08 -0.001892         NaN         NaN 2016-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2017
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
82     1  2017-01  1.601999e+08  0.025275         NaN         NaN 2017-01-01
83     1  2017-02  1.627755e+08  0.016077         NaN         NaN 2017-02-01
84     1  2017-03  1.574527e+08 -0.032700         NaN         NaN 2017-03-01
85     1  2017-04  1.543620e+08 -0.019629         NaN         NaN 2017-04-01
86     1  2017-05  1.579678e+08  0.023359         NaN         NaN 2017-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2018
    证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
94     1  2018-01  2.412443e+08  0.056391         NaN         NaN 2018-01-01
95     1  2018-02  2.069035e+08 -0.142349         NaN         NaN 2018-02-01
96     1  2018-03  1.871575e+08 -0.095436         NaN         NaN 2018-03-01
97     1  2018-04  1.862990e+08 -0.004587         NaN         NaN 2018-04-01
98     1  2018-05  1.747948e+08 -0.061751         NaN         NaN 2018-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2019
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
106     1  2019-01  1.905916e+08  0.183369         NaN         NaN 2019-01-01
107     1  2019-02  2.122263e+08  0.113514         NaN         NaN 2019-02-01
108     1  2019-03  2.201247e+08  0.037217         NaN         NaN 2019-03-01
109     1  2019-04  2.378102e+08  0.080343         NaN         NaN 2019-04-01
110     1  2019-05  2.091356e+08 -0.120578         NaN         NaN 2019-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2020
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
118     1  2020-01  3.015680e+08 -0.055319         0.0         0.0 2020-01-01
119     1  2020-02  2.813858e+08 -0.066924         0.0         0.0 2020-02-01
120     1  2020-03  2.483958e+08 -0.117241         0.0         0.0 2020-03-01
121     1  2020-04  2.703244e+08  0.088281         0.0         0.0 2020-04-01
122     1  2020-05  2.522769e+08 -0.051197         0.0         0.0 2020-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2021
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
130     1  2021-01  4.480827e+08  0.193899         0.0         0.0 2021-01-01
131     1  2021-02  4.148985e+08 -0.074058         0.0         0.0 2021-02-01
132     1  2021-03  4.271243e+08  0.029467         0.0         0.0 2021-03-01
133     1  2021-04  4.519638e+08  0.058155         0.0         0.0 2021-04-01
134     1  2021-05  4.696232e+08  0.047092         0.0         0.0 2021-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2022
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
142     1  2022-01  3.071957e+08 -0.039442         0.0         0.0 2022-01-01
143     1  2022-02  3.056432e+08 -0.005054         0.0         0.0 2022-02-01
144     1  2022-03  2.984630e+08 -0.023492         0.0         0.0 2022-03-01
145     1  2022-04  2.972987e+08 -0.003901         0.0         0.0 2022-04-01
146     1  2022-05  2.747878e+08 -0.075718         0.0         0.0 2022-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2023
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
154     1  2023-01  2.908947e+08  0.139058         0.0         0.0 2023-01-01
155     1  2023-02  2.674136e+08 -0.080720         0.0         0.0 2023-02-01
156     1  2023-03  2.431562e+08 -0.090711         0.0         0.0 2023-03-01
157     1  2023-04  2.435443e+08  0.001596         0.0         0.0 2023-04-01
158     1  2023-05  2.251087e+08 -0.075697         0.0         0.0 2023-05-01
**********
third
12.0
**********
first
4.0
**********
half
8.0
*************
2024
     证券代码     交易月份          个股市值    个股月回报率  Unnamed: 4  Unnamed: 5       统计日期
166     1  2024-01  1.835800e+08  0.007455         0.0         0.0 2024-01-01
167     1  2024-02  2.055087e+08  0.119450         0.0         0.0 2024-02-01
168     1  2024-03  2.041503e+08 -0.006610         0.0         0.0 2024-03-01
331     2  2024-01  9.335229e+07 -0.082218         0.0         0.0 2024-01-01
332     2  2024-02  9.763093e+07  0.045833         0.0         0.0 2024-02-01
**********
third
12.0
**********
first
4.0
**********
half
8.0

In [21]:
df2_market_value.reset_index()
df1_group.reset_index()

,index,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期,分组
0,0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,中国平安保险(集团)股份有限公司-集团本级-自有资金,1,42.1600,保险投资组合,2013-09-30,3
1,1,2013-09-30,4,34.3400,0.0000,inf,民营企业,深圳中农大科技投资有限公司,1,26.1000,其他机构,2013-09-30,1
2,2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,中国投资有限公司,1,20.1500,其他机构,2013-09-30,0
3,3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,广州博融投资有限公司,1,17.4100,其他机构,2013-09-30,0
4,4,2013-09-30,8,68.5400,0.0000,inf,民营企业,深圳市宝安宝利来实业有限公司,1,62.7100,其他机构,2013-09-30,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84518,84518,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,唐旭文,1,62.7523,自然人,2023-06-30,4
84519,84519,2023-06-30,873305,79.7865,0.0000,inf,民营企业,徐洪林,1,42.3671,自然人,2023-06-30,4
84520,84520,2023-06-30,873339,81.9562,0.0000,inf,民营企业,李彭晴,1,36.5630,自然人,2023-06-30,3
84521,84521,2023-06-30,873527,58.8700,0.0000,inf,民营企业,陈国顺,1,16.5300,自然人,2023-06-30,0
84522,84522,2023-06-30,873593,63.1500,0.0000,inf,民营企业,江苏雷利电机股份有限公司,1,34.5300,其他机构,2023-06-30,3

In [22]:
df2_market_value

df2_market_value.to_excel('个股市值统计.xlsx',index=False)
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01
...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01

In [24]:
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01
...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01

In [25]:

# 假设你的DataFrame叫df，日期列叫'最新统计日期'
# 我们假设年份和日不变，只是月份改变了
df2_market_value['new_month'] = (df2_market_value['统计日期'].dt.month *3/4).astype(int)
df2_market_value['new_year'] = df2_market_value['统计日期'].dt.year
df2_market_value['new_day'] = 30  # 假设每月的第一天
df2_market_value
# 构建新的日期字符串
#df2_market_value['新统计日期'] = pd.to_datetime(df2_market_value[['new_year', 'new_month', 'new_day']])

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,new_month,new_year,new_day
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01,9,2010,30
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01,9,2010,30
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01,9,2010,30
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01,9,2010,30
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01,9,2010,30
...,...,...,...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01,6,2023,30
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01,6,2023,30
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01,6,2023,30
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01,6,2023,30
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01,6,2023,30

In [26]:


# 假设 new_year 和 new_month 已经定义
df2_market_value['最新统计日期'] = pd.to_datetime(df2_market_value['new_year'].astype(str) + '-' + df2_market_value['new_month'].astype(str) + '-01')
df2_market_value['最新统计日期'] = df2_market_value['最新统计日期'] + pd.offsets.MonthEnd()

In [27]:
# df2_market_value['新统计日期'] = pd.to_datetime(df2_market_value[['new_year', 'new_month', 'new_day']])


# df2_market_value['最新统计日期'] = pd.to_datetime({
#     'year': df2_market_value['new_year'],
#     'month': df2_market_value['new_month'],
#     'day': df2_market_value['new_day']
# })

In [28]:
df2_market_value.drop(columns=['new_year', 'new_month', 'new_day'], inplace=True)
df2_market_value

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,最新统计日期
0,1,2010-12,55028367.30,-0.036608,NaN,NaN,2010-12-01,2010-09-30
1,2,2010-12,79571694.05,0.011070,NaN,NaN,2010-12-01,2010-09-30
2,4,2010-12,1011079.28,-0.063764,NaN,NaN,2010-12-01,2010-09-30
3,5,2010-12,3355604.34,-0.046753,NaN,NaN,2010-12-01,2010-09-30
4,6,2010-12,5302601.00,0.013081,NaN,NaN,2010-12-01,2010-09-30
...,...,...,...,...,...,...,...,...
140681,900947,2023-08,430144.64,-0.101626,0.0,0.0,2023-08-01,2023-06-30
140682,900948,2023-08,4337591.33,-0.093197,0.0,0.0,2023-08-01,2023-06-30
140683,900952,2023-08,45007.01,-0.125544,0.0,0.0,2023-08-01,2023-06-30
140684,900953,2023-08,228480.00,-0.139758,0.0,0.0,2023-08-01,2023-06-30
140685,900957,2023-08,150070.00,-0.160155,0.0,0.0,2023-08-01,2023-06-30

In [29]:
df1_group['最新统计日期'] = df1_group['统计日期']

df1_group['证券代码'] = df1_group['证券代码'].astype(str)
df1_group['最新统计日期'] = pd.to_datetime(df1_group['最新统计日期'])

df2_market_value['证券代码'] = df2_market_value['证券代码'].astype(str)
df2_market_value['最新统计日期'] = pd.to_datetime(df2_market_value['最新统计日期'])

In [30]:
df2_market_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140686 entries, 0 to 140685
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   证券代码        140686 non-null  object
 1   交易月份        140686 non-null  object
 2   个股市值        140686 non-null  float64
 3   个股月回报率      139618 non-null  float64
 4   Unnamed: 4  64705 non-null   float64
 5   Unnamed: 5  64705 non-null   float64
 6   统计日期        140686 non-null  datetime64[ns]
 7   最新统计日期      140686 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(2)
memory usage: 8.6+ MB

In [31]:
df1_group.head()

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期,分组,最新统计日期
0,2013-09-30,1,57.06,1.81,31.524862,民营企业,中国平安保险(集团)股份有限公司-集团本级-自有资金,1,42.16,保险投资组合,2013-09-30,3,2013-09-30
1,2013-09-30,4,34.34,0.00,inf,民营企业,深圳中农大科技投资有限公司,1,26.10,其他机构,2013-09-30,1,2013-09-30
2,2013-09-30,5,26.22,3.64,7.203297,民营企业,中国投资有限公司,1,20.15,其他机构,2013-09-30,0,2013-09-30
3,2013-09-30,7,46.12,0.49,94.122449,民营企业,广州博融投资有限公司,1,17.41,其他机构,2013-09-30,0,2013-09-30
4,2013-09-30,8,68.54,0.00,inf,民营企业,深圳市宝安宝利来实业有限公司,1,62.71,其他机构,2013-09-30,4,2013-09-30

### df1_merged_group

merge df1_group, df2_market_value

In [32]:

df1_merged_group = pd.merge(df1_group, df2_market_value, on=['证券代码','最新统计日期'],how='inner')
df1_merged_group

,统计截止日期,证券代码,其他持股比例,国有法人持股比例,民营指数,是否民营企业,股东名称,持股排名,持股比例(%),股东类型,统计日期_x,分组,最新统计日期,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期_y
0,2013-09-30,1,57.0600,1.8100,31.524862,民营企业,中国平安保险(集团)股份有限公司-集团本级-自有资金,1,42.1600,保险投资组合,2013-09-30,3,2013-09-30,2013-12,1.004177e+08,-0.099265,NaN,NaN,2013-12-01
1,2013-09-30,4,34.3400,0.0000,inf,民营企业,深圳中农大科技投资有限公司,1,26.1000,其他机构,2013-09-30,1,2013-09-30,2013-12,9.783284e+05,-0.068745,NaN,NaN,2013-12-01
2,2013-09-30,5,26.2200,3.6400,7.203297,民营企业,中国投资有限公司,1,20.1500,其他机构,2013-09-30,0,2013-09-30,2013-12,2.285834e+06,-0.060150,NaN,NaN,2013-12-01
3,2013-09-30,7,46.1200,0.4900,94.122449,民营企业,广州博融投资有限公司,1,17.4100,其他机构,2013-09-30,0,2013-09-30,2013-12,3.205799e+06,-0.019774,NaN,NaN,2013-12-01
4,2013-09-30,8,68.5400,0.0000,inf,民营企业,深圳市宝安宝利来实业有限公司,1,62.7100,其他机构,2013-09-30,4,2013-09-30,2013-12,2.732415e+06,-0.104478,NaN,NaN,2013-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82506,2023-06-30,873223,73.1996,0.6358,115.129915,民营企业,唐旭文,1,62.7523,自然人,2023-06-30,4,2023-06-30,2023-08,4.309609e+05,-0.064846,0.0,0.0,2023-08-01
82507,2023-06-30,873305,79.7865,0.0000,inf,民营企业,徐洪林,1,42.3671,自然人,2023-06-30,4,2023-06-30,2023-08,4.620839e+05,-0.044485,0.0,0.0,2023-08-01
82508,2023-06-30,873339,81.9562,0.0000,inf,民营企业,李彭晴,1,36.5630,自然人,2023-06-30,3,2023-06-30,2023-08,8.918254e+05,-0.038005,0.0,0.0,2023-08-01
82509,2023-06-30,873527,58.8700,0.0000,inf,民营企业,陈国顺,1,16.5300,自然人,2023-06-30,0,2023-06-30,2023-08,3.884763e+05,-0.051320,0.0,0.0,2023-08-01
82510,2023-06-30,873593,63.1500,0.0000,inf,民营企业,江苏雷利电机股份有限公司,1,34.5300,其他机构,2023-06-30,3,2023-06-30,2023-08,3.721708e+06,-0.098837,0.0,0.0,2023-08-01

In [33]:
# df1_merged_group_0 = df1_merged_group[df1_merged_group['分组'] == 0]
# df1_merged_group_0.head()

In [34]:

# df1_merged_group_0_sum = df1_merged_group_0.groupby(by=["最新统计日期"]).sum()
# df1_merged_group_0_sum

### 个股 市值权重 in group and date

根据df1 group， 进行个股权重计算

In [35]:
# # 取个股 市值 by date / 组内市值总和
# # save in a new dataframe
# # ['证券代码'] ['个股市值'] ['个股组内权重']
def getDF_stock_weight_group(df1_merged_group, df1_merged_group_sum):
    df_stock_weight_group = pd.DataFrame(columns=['证券代码', '个股市值', '个股组内权重','最新统计日期'] )
    
    for index, row in df1_merged_group.iterrows():
        # print(row['证券代码'])
        # print(row['个股市值'])
        # print(row['最新统计日期'])
        # print('group market value')
        group_row = df1_merged_group_sum[df1_merged_group_sum.index == row['最新统计日期']]
        # print(group_row['个股市值'])
        
        stock_weight = row['个股市值'] / group_row['个股市值'].item()   
        
        # print('stock_weight=======')
        # print(stock_weight)
        
        data = {'证券代码': row['证券代码'], '个股市值': row['个股市值'], '个股组内权重':stock_weight, '最新统计日期':row['最新统计日期'] }
        #print(data)
        #print(df_tmp.head())
    
        df_stock_weight_group = df_stock_weight_group.append(data, ignore_index=True)
    
    return df_stock_weight_group

In [36]:

def getDF_stock_weight_group_by_number(index, df1_merged_group):
    
    df1_merged_group = df1_merged_group[df1_merged_group['分组'] == index]
    df1_merged_group_sum = df1_merged_group.groupby(by=["最新统计日期"]).sum()
    df_stock_weight_group = getDF_stock_weight_group(df1_merged_group, df1_merged_group_sum)   
    
    return df_stock_weight_group

In [37]:
df_stock_weight_group0 = getDF_stock_weight_group_by_number(0, df1_merged_group)
df_stock_weight_group0

         证券代码         个股市值    个股组内权重     最新统计日期
0           5   2285834.02  0.001159 2013-09-30
1           7   3205799.24  0.001626 2013-09-30
2           9  11853731.37  0.006012 2013-09-30
3          12  10685797.76  0.005420 2013-09-30
4          17   1333144.47  0.000676 2013-09-30
...       ...          ...       ...        ...
16437  839719   1024958.33  0.000129 2023-06-30
16438  839946    342875.73  0.000043 2023-06-30
16439  870299    355030.55  0.000045 2023-06-30
16440  873152    630275.08  0.000080 2023-06-30
16441  873527    388476.27  0.000049 2023-06-30

[16442 rows x 4 columns]

In [38]:
df_stock_weight_group1 = getDF_stock_weight_group_by_number(1, df1_merged_group)
df_stock_weight_group1

         证券代码        个股市值    个股组内权重     最新统计日期
0           4   978328.37  0.000513 2013-09-30
1          18   954324.74  0.000501 2013-09-30
2          30  7655298.45  0.004017 2013-09-30
3          34  1507068.57  0.000791 2013-09-30
4          42  6130253.82  0.003217 2013-09-30
...       ...         ...       ...        ...
16400  839792   923713.20  0.000093 2023-06-30
16401  870508   438792.00  0.000044 2023-06-30
16402  871478  1113535.65  0.000112 2023-06-30
16403  871634   446848.74  0.000045 2023-06-30
16404  872541   437440.00  0.000044 2023-06-30

[16405 rows x 4 columns]

In [39]:
df_stock_weight_group2 = getDF_stock_weight_group_by_number(2, df1_merged_group)
df_stock_weight_group2

         证券代码        个股市值    个股组内权重     最新统计日期
0          10  4510495.27  0.002899 2013-09-30
1          22  7341721.26  0.004718 2013-09-30
2          23  1093399.17  0.000703 2013-09-30
3          36  3236796.61  0.002080 2013-09-30
4         159  3488259.88  0.002242 2013-09-30
...       ...         ...       ...        ...
16523  872190   988000.01  0.000115 2023-06-30
16524  872374   643177.02  0.000075 2023-06-30
16525  872392   352200.00  0.000041 2023-06-30
16526  872895   325578.24  0.000038 2023-06-30
16527  872925   775746.70  0.000090 2023-06-30

[16528 rows x 4 columns]

In [40]:
df_stock_weight_group3 = getDF_stock_weight_group_by_number(3, df1_merged_group)
df_stock_weight_group3

         证券代码          个股市值    个股组内权重     最新统计日期
0           1  1.004177e+08  0.058575 2013-09-30
1          20  1.186633e+06  0.000692 2013-09-30
2          38  1.202850e+06  0.000702 2013-09-30
3         333  8.431617e+07  0.049183 2013-09-30
4         415  1.003979e+07  0.005856 2013-09-30
...       ...           ...       ...        ...
16531  871694  1.293158e+06  0.000152 2023-06-30
16532  871981  1.016260e+06  0.000120 2023-06-30
16533  872351  4.939541e+05  0.000058 2023-06-30
16534  873339  8.918254e+05  0.000105 2023-06-30
16535  873593  3.721708e+06  0.000439 2023-06-30

[16536 rows x 4 columns]

In [42]:
df_stock_weight_group4 = getDF_stock_weight_group_by_number(4, df1_merged_group)
df_stock_weight_group4

         证券代码         个股市值    个股组内权重     最新统计日期
0           8   2732414.76  0.001318 2013-09-30
1          39  18306264.95  0.008828 2013-09-30
2          46  20462329.84  0.009868 2013-09-30
3          62   7903355.09  0.003811 2013-09-30
4         150   1759320.00  0.000848 2013-09-30
...       ...          ...       ...        ...
16595  872953   1315448.64  0.000113 2023-06-30
16596  873167    597360.34  0.000051 2023-06-30
16597  873169    407783.42  0.000035 2023-06-30
16598  873223    430960.90  0.000037 2023-06-30
16599  873305    462083.89  0.000040 2023-06-30

[16600 rows x 4 columns]

In [43]:
#TODO 5
# df_stock_weight_group5 = getDF_stock_weight_group_by_number(5, df1_merged_group)
# df_stock_weight_group5

In [44]:
# 6
# df_stock_weight_group6 = getDF_stock_weight_group_by_number(6, df1_merged_group)
# df_stock_weight_group6

In [45]:
# 7 
# df_stock_weight_group7 = getDF_stock_weight_group_by_number(7, df1_merged_group)
# df_stock_weight_group7

In [46]:
# 8
# df_stock_weight_group8 = getDF_stock_weight_group_by_number(8, df1_merged_group)
# df_stock_weight_group8

In [47]:
# 9 
# df_stock_weight_group9 = getDF_stock_weight_group_by_number(9, df1_merged_group)
# df_stock_weight_group9

# Dataset 加权月度回报率

### Description
trd_month as datasource

每个 个股 交易时间

每个个股 在每个季度的权重 in df_stock_weight_groupN

个股组内权重 at timestamp （xxxx-03, xxxx-06, xxxx-09）

个股组内权重(4个月) * 个股月度回报率 （最新统计日期）

df_stock_weight_groupN

#### a new dataframe - seucrity code, datetime (df3_DATE), 统计日期-4 (alignment), weighted stock monthly return

#### weighted stock monthly return = weight (3 kinds) * monthly return (12 months)

monthly return (12 months) = get from df3 by df3[证券代码] and df3[统计日期-4]

weight (3 kinds) = df3[统计日期-4] --> 

{

xxxx-03 : (1-4)  2014-03 --> 

xxxx-06 : (5-8)  2014-06 --> 

xxxx-09 : (9-12) 2014-10 --> 

}

### fake code


combine df_stock_weight_group0 and add a new column for group

loop df3 

weighted stock monthly return = weight (3 kinds) * monthly return (12 months) --->
weight (3 kinds) --->  df_stock_weight_groupN ---> df_stock_weight_group0 + 1 + 2 + 3 +4

df_stock_weight_group0[最新统计日期] <-||->  df3[统计日期-4]
df_stock_weight_group0[证券代码] <--> df3[证券代码]

function (Date){


}


array [证券代码, 统计日期-4, DATE, 个股月回报率, weighted stock monthly return, 分组]

##### combine df_stock_weight_group0 and add a new column for group
df_stock_weight_groupN ---> df_stock_weight_group0 + 1 + 2 + 3 +4

In [48]:
df_stock_weight_group0['group'] = 0
df_stock_weight_group1['group'] = 1
df_stock_weight_group2['group'] = 2
df_stock_weight_group3['group'] = 3
df_stock_weight_group4['group'] = 4
#TODO
# df_stock_weight_group5['group'] = 5
# df_stock_weight_group6['group'] = 6
# df_stock_weight_group7['group'] = 7
# df_stock_weight_group8['group'] = 8
# df_stock_weight_group9['group'] = 9

In [49]:
df_stock_weight_group0
df_stock_weight_group1

         证券代码        个股市值    个股组内权重     最新统计日期  group
0           4   978328.37  0.000513 2013-09-30      1
1          18   954324.74  0.000501 2013-09-30      1
2          30  7655298.45  0.004017 2013-09-30      1
3          34  1507068.57  0.000791 2013-09-30      1
4          42  6130253.82  0.003217 2013-09-30      1
...       ...         ...       ...        ...    ...
16400  839792   923713.20  0.000093 2023-06-30      1
16401  870508   438792.00  0.000044 2023-06-30      1
16402  871478  1113535.65  0.000112 2023-06-30      1
16403  871634   446848.74  0.000045 2023-06-30      1
16404  872541   437440.00  0.000044 2023-06-30      1

[16405 rows x 5 columns]

In [50]:
df_stock_weight_group2
df_stock_weight_group3

         证券代码          个股市值    个股组内权重     最新统计日期  group
0           1  1.004177e+08  0.058575 2013-09-30      3
1          20  1.186633e+06  0.000692 2013-09-30      3
2          38  1.202850e+06  0.000702 2013-09-30      3
3         333  8.431617e+07  0.049183 2013-09-30      3
4         415  1.003979e+07  0.005856 2013-09-30      3
...       ...           ...       ...        ...    ...
16531  871694  1.293158e+06  0.000152 2023-06-30      3
16532  871981  1.016260e+06  0.000120 2023-06-30      3
16533  872351  4.939541e+05  0.000058 2023-06-30      3
16534  873339  8.918254e+05  0.000105 2023-06-30      3
16535  873593  3.721708e+06  0.000439 2023-06-30      3

[16536 rows x 5 columns]

In [51]:
df_stock_weight_group4

         证券代码         个股市值    个股组内权重     最新统计日期  group
0           8   2732414.76  0.001318 2013-09-30      4
1          39  18306264.95  0.008828 2013-09-30      4
2          46  20462329.84  0.009868 2013-09-30      4
3          62   7903355.09  0.003811 2013-09-30      4
4         150   1759320.00  0.000848 2013-09-30      4
...       ...          ...       ...        ...    ...
16595  872953   1315448.64  0.000113 2023-06-30      4
16596  873167    597360.34  0.000051 2023-06-30      4
16597  873169    407783.42  0.000035 2023-06-30      4
16598  873223    430960.90  0.000037 2023-06-30      4
16599  873305    462083.89  0.000040 2023-06-30      4

[16600 rows x 5 columns]

In [52]:
# df_stock_weight_group5

In [53]:
# df_stock_weight_group6

In [54]:
df_stock_weight_group = pd.concat([df_stock_weight_group4, df_stock_weight_group3, df_stock_weight_group2, df_stock_weight_group1, df_stock_weight_group0], ignore_index=True)

df_stock_weight_group

         证券代码         个股市值    个股组内权重     最新统计日期  group
0           8   2732414.76  0.001318 2013-09-30      4
1          39  18306264.95  0.008828 2013-09-30      4
2          46  20462329.84  0.009868 2013-09-30      4
3          62   7903355.09  0.003811 2013-09-30      4
4         150   1759320.00  0.000848 2013-09-30      4
...       ...          ...       ...        ...    ...
82506  839719   1024958.33  0.000129 2023-06-30      0
82507  839946    342875.73  0.000043 2023-06-30      0
82508  870299    355030.55  0.000045 2023-06-30      0
82509  873152    630275.08  0.000080 2023-06-30      0
82510  873527    388476.27  0.000049 2023-06-30      0

[82511 rows x 5 columns]

##### subset df3
证券代码	DATE	统计日期-4	个股月回报率

In [55]:
df3['DATE_str'] = df3['统计日期'].dt.date
df3['统计日期-4'] = df3['DATE_str'] - relativedelta(months = 4)
df3.head()

,证券代码,交易月份,个股市值,个股月回报率,Unnamed: 4,Unnamed: 5,统计日期,DATE_str,统计日期-4
0,1,2010-01,67387912.64,-0.109561,NaN,NaN,2010-01-01,2010-01-01,2009-09-01
1,1,2010-02,69716987.96,0.034562,NaN,NaN,2010-02-01,2010-02-01,2009-10-01
2,1,2010-03,72046063.28,0.033408,NaN,NaN,2010-03-01,2010-03-01,2009-11-01
3,1,2010-04,63847718.15,-0.113793,NaN,NaN,2010-04-01,2010-04-01,2009-12-01
4,1,2010-05,54376145.17,-0.148346,NaN,NaN,2010-05-01,2010-05-01,2010-01-01

In [56]:
df3_sub = df3[['证券代码','DATE_str', '统计日期-4','统计日期','个股月回报率']]
df3_sub

          证券代码    DATE_str      统计日期-4       统计日期    个股月回报率
0            1  2010-01-01  2009-09-01 2010-01-01 -0.109561
1            1  2010-02-01  2009-10-01 2010-02-01  0.034562
2            1  2010-03-01  2009-11-01 2010-03-01  0.033408
3            1  2010-04-01  2009-12-01 2010-04-01 -0.113793
4            1  2010-05-01  2010-01-01 2010-05-01 -0.148346
...        ...         ...         ...        ...       ...
573112  900957  2023-11-01  2023-07-01 2023-11-01  0.037596
573113  900957  2023-12-01  2023-08-01 2023-12-01 -0.002418
573114  900957  2024-01-01  2023-09-01 2024-01-01 -0.002430
573115  900957  2024-02-01  2023-10-01 2024-02-01  0.080101
573116  900957  2024-03-01  2023-11-01 2024-03-01 -0.060674

[573117 rows x 5 columns]

##### add a new column to map report date in df_stock_weight_group
{

xxxx-03 : (1-4) 2014-03 -->

xxxx-06 : (5-8) 2014-06 -->

xxxx-09 : (9-12) 2014-10 -->

}

In [57]:

df3_sub['统计日期-4'] = df3_sub['统计日期-4'].astype('str')
df3_sub['统计日期-4'] = pd.to_datetime(df3_sub['统计日期-4'])

df3_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573117 entries, 0 to 573116
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   证券代码      573117 non-null  int64
 1   DATE_str  573117 non-null  object
 2   统计日期-4    573117 non-null  datetime64[ns]
 3   统计日期      573117 non-null  datetime64[ns]
 4   个股月回报率    569272 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 21.9+ MB

##### update trading date
{

xxxx-03 : (1-4) 2014-03 -->

xxxx-06 : (5-8) 2014-06 -->

xxxx-09 : (9-12) 2014-10 -->

}

In [58]:
def getTradingMonth(row):

    if(4 >= row['new_month'] >= 1):
        newMonth = 3
    elif(8>= row['new_month'] >=5 ):
        newMonth = 6
    else:
        newMonth = 9
    return newMonth

In [59]:

df3_sub['new_month'] = (df3_sub['统计日期-4'].dt.month).astype(int)
df3_sub['new_trading_month'] = df3_sub.apply(getTradingMonth, axis=1)
df3_sub['new_year'] = df3_sub['统计日期-4'].dt.year
## end day
df3_sub['new_day'] = df3_sub['统计日期-4'].dt.day  



df3_sub['trading_date'] = pd.to_datetime({
    'year': df3_sub['new_year'],
    'month': df3_sub['new_trading_month'],
    'day': df3_sub['new_day']
})

In [60]:
df3_sub_trading = df3_sub[['证券代码','DATE_str', '统计日期-4','统计日期','个股月回报率', 'trading_date']]
df3_sub_trading['最新统计日期'] = df3_sub_trading['trading_date'] + pd.offsets.MonthEnd()

df3_sub_trading

,证券代码,DATE_str,统计日期-4,统计日期,个股月回报率,trading_date,最新统计日期
0,1,2010-01-01,2009-09-01,2010-01-01,-0.109561,2009-09-01,2009-09-30
1,1,2010-02-01,2009-10-01,2010-02-01,0.034562,2009-09-01,2009-09-30
2,1,2010-03-01,2009-11-01,2010-03-01,0.033408,2009-09-01,2009-09-30
3,1,2010-04-01,2009-12-01,2010-04-01,-0.113793,2009-09-01,2009-09-30
4,1,2010-05-01,2010-01-01,2010-05-01,-0.148346,2010-03-01,2010-03-31
...,...,...,...,...,...,...,...
573112,900957,2023-11-01,2023-07-01,2023-11-01,0.037596,2023-06-01,2023-06-30
573113,900957,2023-12-01,2023-08-01,2023-12-01,-0.002418,2023-06-01,2023-06-30
573114,900957,2024-01-01,2023-09-01,2024-01-01,-0.002430,2023-09-01,2023-09-30
573115,900957,2024-02-01,2023-10-01,2024-02-01,0.080101,2023-09-01,2023-09-30
573116,900957,2024-03-01,2023-11-01,2024-03-01,-0.060674,2023-09-01,2023-09-30

##### Append group 

##### merge df3_sub and df_stock_weight_group

column [证券代码, 统计日期-4, DATE, 个股月回报率, 分组]

['证券代码','DATE_str', '统计日期-4','统计日期','个股月回报率', 'trading_date']

In [61]:
df_stock_weight_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82511 entries, 0 to 82510
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   证券代码    82511 non-null  object
 1   个股市值    82511 non-null  float64
 2   个股组内权重  82511 non-null  float64
 3   最新统计日期  82511 non-null  datetime64[ns]
 4   group   82511 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 3.1+ MB

In [62]:
df3_sub_trading['证券代码'] = df3_sub_trading['证券代码'].astype(str)

df3_sub_trading['最新统计日期'] = pd.to_datetime(df3_sub_trading['最新统计日期'])
df_stock_weight_group['最新统计日期'] = pd.to_datetime(df_stock_weight_group['最新统计日期'])

In [63]:
df3_sub_trading.head()

  证券代码    DATE_str     统计日期-4       统计日期    个股月回报率 trading_date     最新统计日期
0    1  2010-01-01 2009-09-01 2010-01-01 -0.109561   2009-09-01 2009-09-30
1    1  2010-02-01 2009-10-01 2010-02-01  0.034562   2009-09-01 2009-09-30
2    1  2010-03-01 2009-11-01 2010-03-01  0.033408   2009-09-01 2009-09-30
3    1  2010-04-01 2009-12-01 2010-04-01 -0.113793   2009-09-01 2009-09-30
4    1  2010-05-01 2010-01-01 2010-05-01 -0.148346   2010-03-01 2010-03-31

In [64]:
df_stock_weight_group.head()

  证券代码         个股市值    个股组内权重     最新统计日期  group
0    8   2732414.76  0.001318 2013-09-30      4
1   39  18306264.95  0.008828 2013-09-30      4
2   46  20462329.84  0.009868 2013-09-30      4
3   62   7903355.09  0.003811 2013-09-30      4
4  150   1759320.00  0.000848 2013-09-30      4

In [65]:
df3_sub_trading_group = pd.merge(df3_sub_trading, df_stock_weight_group, on=['证券代码','最新统计日期'],how='left')

df3_sub_trading_group

,证券代码,DATE_str,统计日期-4,统计日期,个股月回报率,trading_date,最新统计日期,个股市值,个股组内权重,group
0,1,2010-01-01,2009-09-01,2010-01-01,-0.109561,2009-09-01,2009-09-30,NaN,NaN,NaN
1,1,2010-02-01,2009-10-01,2010-02-01,0.034562,2009-09-01,2009-09-30,NaN,NaN,NaN
2,1,2010-03-01,2009-11-01,2010-03-01,0.033408,2009-09-01,2009-09-30,NaN,NaN,NaN
3,1,2010-04-01,2009-12-01,2010-04-01,-0.113793,2009-09-01,2009-09-30,NaN,NaN,NaN
4,1,2010-05-01,2010-01-01,2010-05-01,-0.148346,2010-03-01,2010-03-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
573112,900957,2023-11-01,2023-07-01,2023-11-01,0.037596,2023-06-01,2023-06-30,NaN,NaN,NaN
573113,900957,2023-12-01,2023-08-01,2023-12-01,-0.002418,2023-06-01,2023-06-30,NaN,NaN,NaN
573114,900957,2024-01-01,2023-09-01,2024-01-01,-0.002430,2023-09-01,2023-09-30,NaN,NaN,NaN
573115,900957,2024-02-01,2023-10-01,2024-02-01,0.080101,2023-09-01,2023-09-30,NaN,NaN,NaN
573116,900957,2024-03-01,2023-11-01,2024-03-01,-0.060674,2023-09-01,2023-09-30,NaN,NaN,NaN

In [66]:
df3_sub_trading_group  = df3_sub_trading_group[['证券代码','统计日期-4','统计日期','trading_date','个股月回报率','个股组内权重','group']]

df3_sub_trading_group

          证券代码     统计日期-4       统计日期 trading_date    个股月回报率  个股组内权重  group
0            1 2009-09-01 2010-01-01   2009-09-01 -0.109561     NaN    NaN
1            1 2009-10-01 2010-02-01   2009-09-01  0.034562     NaN    NaN
2            1 2009-11-01 2010-03-01   2009-09-01  0.033408     NaN    NaN
3            1 2009-12-01 2010-04-01   2009-09-01 -0.113793     NaN    NaN
4            1 2010-01-01 2010-05-01   2010-03-01 -0.148346     NaN    NaN
...        ...        ...        ...          ...       ...     ...    ...
573112  900957 2023-07-01 2023-11-01   2023-06-01  0.037596     NaN    NaN
573113  900957 2023-08-01 2023-12-01   2023-06-01 -0.002418     NaN    NaN
573114  900957 2023-09-01 2024-01-01   2023-09-01 -0.002430     NaN    NaN
573115  900957 2023-10-01 2024-02-01   2023-09-01  0.080101     NaN    NaN
573116  900957 2023-11-01 2024-03-01   2023-09-01 -0.060674     NaN    NaN

[573117 rows x 7 columns]

##### weighted stock monthly return = weight (3 kinds) * monthly return (12 months)

array [证券代码, 统计日期-4, DATE, 个股月回报率, weighted stock monthly return, 分组]

In [67]:
# df3_sub_trading_group.dropna()

df3_sub_trading_group['个股加权回报率'] = df3_sub_trading_group['个股月回报率']* df3_sub_trading_group['个股组内权重']
df3_sub_trading_group['组间加权回报率'] = df3_sub_trading_group['个股加权回报率']

df3_sub_trading_group_final = df3_sub_trading_group[df3_sub_trading_group['group'].notna()]

df3_sub_trading_group_final

,证券代码,统计日期-4,统计日期,trading_date,个股月回报率,个股组内权重,group,个股加权回报率,组间加权回报率
38,1,2013-01-01,2013-05-01,2013-03-01,0.122460,0.105012,3.0,0.012860,0.012860
39,1,2013-02-01,2013-06-01,2013-03-01,-0.232797,0.105012,3.0,-0.024446,-0.024446
40,1,2013-03-01,2013-07-01,2013-03-01,-0.038114,0.105012,3.0,-0.004002,-0.004002
41,1,2013-04-01,2013-08-01,2013-03-01,0.106361,0.105012,3.0,0.011169,0.011169
42,1,2013-05-01,2013-09-01,2013-06-01,0.119698,0.058936,3.0,0.007054,0.007054
...,...,...,...,...,...,...,...,...,...
564637,873693,2023-10-01,2024-02-01,2023-09-01,0.040492,0.000308,4.0,0.000012,0.000012
564638,873693,2023-11-01,2024-03-01,2023-09-01,-0.170943,0.000308,4.0,-0.000053,-0.000053
564647,873726,2023-09-01,2024-01-01,2023-09-01,-0.275206,0.000442,3.0,-0.000122,-0.000122
564648,873726,2023-10-01,2024-02-01,2023-09-01,0.065128,0.000442,3.0,0.000029,0.000029
564649,873726,2023-11-01,2024-03-01,2023-09-01,-0.279311,0.000442,3.0,-0.000124,-0.000124

In [68]:
#df3_sub_trading_group_final.to_excel('df3_sub_trading_group_final.xlsx', index=False)

### 组间加权月度回报率
##### grouping weighted monthly return

according to the group, split the df

and group by DATE

In [69]:
df3_sub_trading_group_final_0 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 0]
df3_sub_trading_group_final_0.info()
df3_sub_trading_group_final_0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63782 entries, 225 to 564624
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          63782 non-null  object
 1   统计日期-4        63782 non-null  datetime64[ns]
 2   统计日期          63782 non-null  datetime64[ns]
 3   trading_date  63782 non-null  datetime64[ns]
 4   个股月回报率        63782 non-null  float64
 5   个股组内权重        63782 non-null  float64
 6   group         63782 non-null  float64
 7   个股加权回报率       63782 non-null  float64
 8   组间加权回报率       63782 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 4.9+ MB

,证券代码,统计日期-4,统计日期,trading_date,个股月回报率,个股组内权重,group,个股加权回报率,组间加权回报率
225,2,2014-05-01,2014-09-01,2014-06-01,0.006579,0.039829,0.0,0.000262,0.000262
226,2,2014-06-01,2014-10-01,2014-06-01,0.023965,0.039829,0.0,0.000954,0.000954
227,2,2014-07-01,2014-11-01,2014-06-01,0.159574,0.039829,0.0,0.006356,0.006356
228,2,2014-08-01,2014-12-01,2014-06-01,0.275229,0.039829,0.0,0.010962,0.010962
229,2,2014-09-01,2015-01-01,2014-09-01,-0.056115,0.046019,0.0,-0.002582,-0.002582
...,...,...,...,...,...,...,...,...,...
564590,873527,2023-10-01,2024-02-01,2023-09-01,-0.024096,0.000083,0.0,-0.000002,-0.000002
564591,873527,2023-11-01,2024-03-01,2023-09-01,-0.035803,0.000083,0.0,-0.000003,-0.000003
564622,873665,2023-09-01,2024-01-01,2023-09-01,-0.318852,0.000207,0.0,-0.000066,-0.000066
564623,873665,2023-10-01,2024-02-01,2023-09-01,0.122744,0.000207,0.0,0.000025,0.000025
564624,873665,2023-11-01,2024-03-01,2023-09-01,-0.100750,0.000207,0.0,-0.000021,-0.000021

In [70]:
df3_sub_trading_group_final_0_group = df3_sub_trading_group_final_0.groupby(by=["统计日期"]).sum()
df3_sub_trading_group_final_0_group = df3_sub_trading_group_final_0_group[['组间加权回报率','group']]
df3_sub_trading_group_final_0_group

             组间加权回报率  group
统计日期
2013-05-01  0.130521    0.0
2013-06-01 -0.150425    0.0
2013-07-01  0.063788    0.0
2013-08-01  0.044140    0.0
2013-09-01  0.068544    0.0
...              ...    ...
2023-11-01  0.011584    0.0
2023-12-01 -0.019616    0.0
2024-01-01 -0.194047    0.0
2024-02-01  0.119957    0.0
2024-03-01  0.001478    0.0

[131 rows x 2 columns]

In [71]:
df3_sub_trading_group_final_1 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 1]
df3_sub_trading_group_final_1.head()

,证券代码,统计日期-4,统计日期,trading_date,个股月回报率,个股组内权重,group,个股加权回报率,组间加权回报率
255,2,2017-05-01,2017-09-01,2017-06-01,0.130004,0.043312,1.0,0.005631,0.005631
256,2,2017-06-01,2017-10-01,2017-06-01,0.103238,0.043312,1.0,0.004471,0.004471
257,2,2017-07-01,2017-11-01,2017-06-01,0.078039,0.043312,1.0,0.003380,0.003380
258,2,2017-08-01,2017-12-01,2017-06-01,-0.005125,0.043312,1.0,-0.000222,-0.000222
373,4,2013-01-01,2013-05-01,2013-03-01,0.102444,0.000897,1.0,0.000092,0.000092

In [72]:
df3_sub_trading_group_final_1_group = df3_sub_trading_group_final_1.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_1_group = df3_sub_trading_group_final_1_group[['组间加权回报率','group']]

df3_sub_trading_group_final_1_group['group'] = 1
df3_sub_trading_group_final_1_group

             组间加权回报率  group
统计日期
2013-05-01  0.158300      1
2013-06-01 -0.131515      1
2013-07-01  0.069131      1
2013-08-01  0.062599      1
2013-09-01  0.087626      1
...              ...    ...
2023-11-01 -0.000817      1
2023-12-01 -0.030129      1
2024-01-01 -0.151657      1
2024-02-01  0.108134      1
2024-03-01  0.029958      1

[131 rows x 2 columns]

In [73]:
df3_sub_trading_group_final_2 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 2]
df3_sub_trading_group_final_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64253 entries, 259 to 564417
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          64253 non-null  object
 1   统计日期-4        64253 non-null  datetime64[ns]
 2   统计日期          64253 non-null  datetime64[ns]
 3   trading_date  64253 non-null  datetime64[ns]
 4   个股月回报率        64253 non-null  float64
 5   个股组内权重        64253 non-null  float64
 6   group         64253 non-null  float64
 7   个股加权回报率       64253 non-null  float64
 8   组间加权回报率       64253 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 4.9+ MB

In [74]:
df3_sub_trading_group_final_2_group = df3_sub_trading_group_final_2.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_2_group = df3_sub_trading_group_final_2_group[['组间加权回报率','group']]

df3_sub_trading_group_final_2_group['group'] = 2
df3_sub_trading_group_final_2_group

             组间加权回报率  group
统计日期
2013-05-01  0.182271      2
2013-06-01 -0.111464      2
2013-07-01  0.079974      2
2013-08-01  0.049250      2
2013-09-01  0.050741      2
...              ...    ...
2023-11-01  0.020140      2
2023-12-01 -0.018719      2
2024-01-01 -0.173044      2
2024-02-01  0.114855      2
2024-03-01  0.024435      2

[131 rows x 2 columns]

In [75]:
df3_sub_trading_group_final_3 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 3]
df3_sub_trading_group_final_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64445 entries, 38 to 564649
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          64445 non-null  object
 1   统计日期-4        64445 non-null  datetime64[ns]
 2   统计日期          64445 non-null  datetime64[ns]
 3   trading_date  64445 non-null  datetime64[ns]
 4   个股月回报率        64445 non-null  float64
 5   个股组内权重        64445 non-null  float64
 6   group         64445 non-null  float64
 7   个股加权回报率       64445 non-null  float64
 8   组间加权回报率       64445 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 4.9+ MB

In [76]:
df3_sub_trading_group_final_3_group = df3_sub_trading_group_final_3.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_3_group = df3_sub_trading_group_final_3_group[['组间加权回报率','group']]

df3_sub_trading_group_final_3_group['group'] = 3

df3_sub_trading_group_final_3_group

             组间加权回报率  group
统计日期
2013-05-01  0.160618      3
2013-06-01 -0.141020      3
2013-07-01  0.072714      3
2013-08-01  0.067770      3
2013-09-01  0.067671      3
...              ...    ...
2023-11-01 -0.001024      3
2023-12-01 -0.010628      3
2024-01-01 -0.177093      3
2024-02-01  0.118804      3
2024-03-01  0.031557      3

[131 rows x 2 columns]

In [77]:
df3_sub_trading_group_final_4 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 4]
df3_sub_trading_group_final_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64830 entries, 50 to 564638
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   证券代码          64830 non-null  object
 1   统计日期-4        64830 non-null  datetime64[ns]
 2   统计日期          64830 non-null  datetime64[ns]
 3   trading_date  64830 non-null  datetime64[ns]
 4   个股月回报率        64830 non-null  float64
 5   个股组内权重        64830 non-null  float64
 6   group         64830 non-null  float64
 7   个股加权回报率       64830 non-null  float64
 8   组间加权回报率       64830 non-null  float64
dtypes: datetime64[ns](3), float64(5), object(1)
memory usage: 4.9+ MB

In [78]:
df3_sub_trading_group_final_4_group = df3_sub_trading_group_final_4.groupby(by=["统计日期"]).sum()

df3_sub_trading_group_final_4_group = df3_sub_trading_group_final_4_group[['组间加权回报率','group']]

df3_sub_trading_group_final_4_group['group'] = 4
df3_sub_trading_group_final_4_group

             组间加权回报率  group
统计日期
2013-05-01  0.143810      4
2013-06-01 -0.127688      4
2013-07-01  0.067813      4
2013-08-01  0.054202      4
2013-09-01  0.077621      4
...              ...    ...
2023-11-01 -0.000780      4
2023-12-01 -0.013762      4
2024-01-01 -0.150539      4
2024-02-01  0.112140      4
2024-03-01  0.000273      4

[131 rows x 2 columns]

In [79]:
#TODO 5
# df3_sub_trading_group_final_5 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 5]
# df3_sub_trading_group_final_5.info()

In [80]:
# df3_sub_trading_group_final_5_group = df3_sub_trading_group_final_5.groupby(by=["统计日期"]).sum()

# df3_sub_trading_group_final_5_group = df3_sub_trading_group_final_5_group[['组间加权回报率','group']]

# df3_sub_trading_group_final_5_group['group'] = 5
# df3_sub_trading_group_final_5_group

In [81]:
#TODO 6
# df3_sub_trading_group_final_6 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 6]
# df3_sub_trading_group_final_6.info()

In [82]:
# df3_sub_trading_group_final_6_group = df3_sub_trading_group_final_6.groupby(by=["统计日期"]).sum()

# df3_sub_trading_group_final_6_group = df3_sub_trading_group_final_6_group[['组间加权回报率','group']]

# df3_sub_trading_group_final_6_group['group'] = 6
# df3_sub_trading_group_final_6_group

In [83]:
#TODO 7
# df3_sub_trading_group_final_7 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 7]
# df3_sub_trading_group_final_7.info()

In [84]:
# df3_sub_trading_group_final_7_group = df3_sub_trading_group_final_7.groupby(by=["统计日期"]).sum()

# df3_sub_trading_group_final_7_group = df3_sub_trading_group_final_7_group[['组间加权回报率','group']]

# df3_sub_trading_group_final_7_group['group'] = 7
# df3_sub_trading_group_final_7_group

In [85]:
#TODO 8
# df3_sub_trading_group_final_8 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 8]
# df3_sub_trading_group_final_8.info()

In [86]:
# df3_sub_trading_group_final_8_group = df3_sub_trading_group_final_8.groupby(by=["统计日期"]).sum()

# df3_sub_trading_group_final_8_group = df3_sub_trading_group_final_8_group[['组间加权回报率','group']]

# df3_sub_trading_group_final_8_group['group'] = 8
# df3_sub_trading_group_final_8_group

In [87]:
#TODO 9
# df3_sub_trading_group_final_9 = df3_sub_trading_group_final[df3_sub_trading_group_final['group'] == 9]
# df3_sub_trading_group_final_9.info()

In [88]:
# df3_sub_trading_group_final_9_group = df3_sub_trading_group_final_9.groupby(by=["统计日期"]).sum()

# df3_sub_trading_group_final_9_group = df3_sub_trading_group_final_9_group[['组间加权回报率','group']]

# df3_sub_trading_group_final_9_group['group'] = 9
# df3_sub_trading_group_final_9_group

In [89]:
df3_sub_trading_group_final_0_group = df3_sub_trading_group_final_0_group.reset_index()
df3_sub_trading_group_final_1_group = df3_sub_trading_group_final_1_group.reset_index()
df3_sub_trading_group_final_2_group = df3_sub_trading_group_final_2_group.reset_index()
df3_sub_trading_group_final_3_group = df3_sub_trading_group_final_3_group.reset_index()
df3_sub_trading_group_final_4_group = df3_sub_trading_group_final_4_group.reset_index()
#TODO
# df3_sub_trading_group_final_5_group = df3_sub_trading_group_final_5_group.reset_index()
# df3_sub_trading_group_final_6_group = df3_sub_trading_group_final_6_group.reset_index()
# df3_sub_trading_group_final_7_group = df3_sub_trading_group_final_7_group.reset_index()
# df3_sub_trading_group_final_8_group = df3_sub_trading_group_final_8_group.reset_index()
# df3_sub_trading_group_final_9_group = df3_sub_trading_group_final_9_group.reset_index()

In [90]:
df3_sub_trading_group_final_0_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   统计日期     131 non-null    datetime64[ns]
 1   组间加权回报率  131 non-null    float64
 2   group    131 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 3.2 KB

In [91]:
# TODO
df3_sub_trading_group_final_group = pd.concat([df3_sub_trading_group_final_0_group,df3_sub_trading_group_final_1_group,df3_sub_trading_group_final_2_group,df3_sub_trading_group_final_3_group,df3_sub_trading_group_final_4_group], ignore_index=True)

df3_sub_trading_group_final_group

          统计日期   组间加权回报率  group
0   2013-05-01  0.130521    0.0
1   2013-06-01 -0.150425    0.0
2   2013-07-01  0.063788    0.0
3   2013-08-01  0.044140    0.0
4   2013-09-01  0.068544    0.0
..         ...       ...    ...
650 2023-11-01 -0.000780    4.0
651 2023-12-01 -0.013762    4.0
652 2024-01-01 -0.150539    4.0
653 2024-02-01  0.112140    4.0
654 2024-03-01  0.000273    4.0

[655 rows x 3 columns]

In [92]:
# df3_sub_trading_group_final_group04 = pd.concat([df3_sub_trading_group_final_0_group,df3_sub_trading_group_final_1_group,df3_sub_trading_group_final_2_group,df3_sub_trading_group_final_3_group,df3_sub_trading_group_final_4_group], ignore_index=True)
# df3_sub_trading_group_final_group04

In [93]:

# df3_sub_trading_group_final_group59 = pd.concat([df3_sub_trading_group_final_5_group,df3_sub_trading_group_final_6_group,df3_sub_trading_group_final_7_group,df3_sub_trading_group_final_8_group,df3_sub_trading_group_final_9_group], ignore_index=True)
# df3_sub_trading_group_final_group59

In [94]:
df3_sub_trading_group_final_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655 entries, 0 to 654
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   统计日期     655 non-null    datetime64[ns]
 1   组间加权回报率  655 non-null    float64
 2   group    655 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 15.5 KB

In [95]:
df3_sub_trading_group_final_group['统计日期'] = df3_sub_trading_group_final_group['统计日期'].apply(lambda x: x.strftime('%Y-%m-%d'))
df3_sub_trading_group_final_group

           统计日期   组间加权回报率  group
0    2013-05-01  0.130521    0.0
1    2013-06-01 -0.150425    0.0
2    2013-07-01  0.063788    0.0
3    2013-08-01  0.044140    0.0
4    2013-09-01  0.068544    0.0
..          ...       ...    ...
650  2023-11-01 -0.000780    4.0
651  2023-12-01 -0.013762    4.0
652  2024-01-01 -0.150539    4.0
653  2024-02-01  0.112140    4.0
654  2024-03-01  0.000273    4.0

[655 rows x 3 columns]

In [96]:
df3_sub_trading_group_final_group.to_excel('group_weighted_monthly_return.xlsx', index=False)

# Comment